<div class="logo-carousel swiper-container js__logo-carousel">
    <div class="swiper-wrapper logo-carousel__wrp">
        <div class="swiper-slide logo-carousel__slide">
            <a class="logo-carousel__link" href="/">
                <img data-src="images/node.png" class="swiper-lazy img-responsive logo-carousel__img">
                <div class="swiper-lazy-preloader"></div>
            </a>
        </div>
        <div class="swiper-slide logo-carousel__slide">
            <a class="logo-carousel__link" href="/">
                <img data-src="images/typo3-logo.png" class="swiper-lazy img-responsive logo-carousel__img">
                <div class="swiper-lazy-preloader"></div>
            </a>
        </div>
        <div class="swiper-slide logo-carousel__slide">
            <a class="logo-carousel__link" href="/">
                <img data-src="images/logo.png" class="swiper-lazy img-responsive logo-carousel__img">
                <div class="swiper-lazy-preloader"></div>
            </a>
        </div>
        <div class="swiper-slide logo-carousel__slide">
            <a class="logo-carousel__link" href="/">
                <img data-src="images/php.png" class="swiper-lazy img-responsive logo-carousel__img">
                <div class="swiper-lazy-preloader"></div>
            </a>
        </div>
        <div class="swiper-slide logo-carousel__slide">
            <a class="logo-carousel__link" href="/">
                <img data-src="images/typo3-logo.png" class="swiper-lazy img-responsive logo-carousel__img">
                <div class="swiper-lazy-preloader"></div>
            </a>
        </div>
    </div>
    <div class="js__logo-carousel__btn-next logo-carousel__btn-next swiper-button-next"></div>
    <div class="js__logo-carousel__btn-prev logo-carousel__btn-prev swiper-button-prev"></div>
</div>
