<div class="img-slider swiper-container js__img-slider">
    <div class="swiper-wrapper img-slider__wrp">
        <div class="swiper-slide img-slider__slide">
            <div data-background="images/slider_image.jpg" class="swiper-lazy img-slider__slide-bg">
                <div class="swiper-lazy-preloader"></div>
                <div class="img-slider__caption _center-align">
                    <h3 class="img-slider__caption-sub-header">Kickstart your projects in minutes!</h3>
                    <h2 class="img-slider__caption-header">A TYPO3 website starterkit</h2>
                    <p class="img-slider__caption-p js__img-slider__caption-p"></p>
                    <a class="img-slider__caption-link" href="#">Get started!</a>
                </div>
            </div>
        </div>
        <div class="swiper-slide img-slider__slide">
            <div data-background="images/slider_image.jpg" class="swiper-lazy img-slider__slide-bg">
                <div class="swiper-lazy-preloader"></div>
                <div class="img-slider__caption _center-align">
                    <h3 class="img-slider__caption-sub-header">Kickstart your projects in minutes!</h3>
                    <h2 class="img-slider__caption-header">A TYPO3 website starterkit</h2>
                    <p class="img-slider__caption-p js__img-slider__caption-p"></p>
                    <a class="img-slider__caption-link" href="#">Call to action</a>
                </div>
            </div>
        </div>
        <div class="swiper-slide img-slider__slide">
            <div data-background="images/slider_image.jpg" class="swiper-lazy img-slider__slide-bg">
                <div class="swiper-lazy-preloader"></div>
                <div class="img-slider__caption _center-align">
                    <h3 class="img-slider__caption-sub-header">Kickstart your projects in minutes!</h3>
                    <h2 class="img-slider__caption-header">A TYPO3 website starterkit</h2>
                    <p class="img-slider__caption-p js__img-slider__caption-p"></p>
                    <a class="img-slider__caption-link" href="#">Call to action</a>
                </div>
            </div>
        </div>

    </div>
    <!-- Add Pagination -->
    <div class="js__img-slider__pagination img-slider__pagination swiper-pagination swiper-pagination-white img-slider__pagination"></div>
    <!-- Navigation -->
    <div class="js__img-slider__btn-next img-slider__btn-next swiper-button-next swiper-button-white"></div>
    <div class="js__img-slider__btn-prev img-slider__btn-prev swiper-button-prev swiper-button-white"></div>
</div>
