<div class="social-icons">
    <a class="social-icons__item" href="#"><span class="icons icon-t3-facebook"></span></a>
    <a class="social-icons__item" href="#"><span class="icons icon-t3-twitter"></span></a>
    <a class="social-icons__item" href="#"><span class="icons icon-t3-linkedin"></span></a>
    <a class="social-icons__item" href="#"><span class="icons icon-t3-vimeo"></span></a>
    <a class="social-icons__item" href="#"><span class="icons icon-t3-googleplus"></span></a>
    <a class="social-icons__item" href="#"><span class="icons icon-t3-pinterest"></span></a>
    <a class="social-icons__item" href="#"><span class="icons icon-t3-instagram"></span></a>
    <a class="social-icons__item" href="#"><span class="icons icon-t3-youtube"></span></a>
</div>
