{namespace theme=KayStrobach\Themes\ViewHelpers}
{namespace t3kit=T3kit\T3kitExtensionTools\ViewHelpers}
<div xmlns="http://www.w3.org/1999/xhtml" lang="en"
	 xmlns:f="http://typo3.org/ns/fluid/ViewHelpers">
<f:section name="Default">
<!-- theme_t3kit: Partials/Footer/Footer.html [begin] -->


<footer class="footer" role="contentinfo">
	<div class="footer__container container">
		<div class="row">
			<div class="col-md-6 footer__about">
				<f:if condition="{theme:constant(constant: 'themes.configuration.content.footerArea.1.contentUid')}">
					<t3kit:render.content id="{theme:constant(constant: 'themes.configuration.content.footerArea.1.contentUid')}" />
				</f:if>
			</div>
			<div class="col-md-6 footer__contact">
				<h4>Contact us</h4>
				<div class="row">
					<div class=" col-xs-4 col-md-4 ">
						<p>Company AB <br>Street 8 <br>zipcode city, <br>country</p>
					</div>
					<div class="col-xs-2 col-md-2 ">
						<div class="footer__map">
							<a class="footer__map-icon icons icon-t3-map" href="#"></a>
						</div>
					</div>
					<div class="col-xs-12 col-md-6">
						<ul class="nav contact-links" >
							<li><p><span class="icons icon-t3-mobile"></span><span><f:translate key="callUs_label" /></span> <a href="tel:{theme:constant(constant: 'themes.configuration.header.phone')}">tel:{theme:constant(constant: 'themes.configuration.header.phone')}</a></p></li>
							<li><p><span class="icons icon-t3-mail"></span><span><f:translate key="emailUs_label" /></span> <f:link.email email="{theme:constant(constant: 'themes.configuration.header.email')}" /></p></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="row ">
			<div class="col-md-6 footer__quick-links">
				<f:if condition="{theme:constant(constant: 'themes.configuration.content.footerArea.2.1.contentUid')}">
					<t3kit:render.content id="{theme:constant(constant: 'themes.configuration.content.footerArea.2.1.contentUid')}" />
				</f:if>
				<f:if condition="{theme:constant(constant: 'themes.configuration.content.footerArea.2.3.contentUid')}">
				<div class="row">
					<div class="col-md-6">
				</f:if>

				<f:if condition="{theme:constant(constant: 'themes.configuration.content.footerArea.2.2.contentUid')}">
					<t3kit:render.content id="{theme:constant(constant: 'themes.configuration.content.footerArea.2.2.contentUid')}" />
				</f:if>

				<f:if condition="{theme:constant(constant: 'themes.configuration.content.footerArea.2.3.contentUid')}">
					</div>
				</f:if>
				<f:if condition="{theme:constant(constant: 'themes.configuration.content.footerArea.2.3.contentUid')}">
					<div class="col-md-6">
						<t3kit:render.content id="{theme:constant(constant: 'themes.configuration.content.footerArea.2.3.contentUid')}" />
					</div>
				</div>
				</f:if>
			</div>
			<div class="col-md-6 footer__subscribe">
				<f:if condition="{theme:constant(constant: 'themes.configuration.content.footerArea.3.contentUid')}">
					<t3kit:render.content id="{theme:constant(constant: 'themes.configuration.content.footerArea.3.contentUid')}" />
				</f:if>
			</div>
		</div>
	</div>
	<f:render partial="Footer/Socialmedia" section="Default" />
	<div class="footer__bottom">
		<div class="container">
			<div class="row">
				<div class="col-md-7 footer__bottom-copyright">
					<f:cObject typoscriptObjectPath="lib.footer.copyright" />
				</div>
				<div class="col-md-5 footer__bottom-nav">
					<f:if condition="{theme:constant(constant: 'themes.configuration.content.footerArea.4.contentUid')}">
						<t3kit:render.content id="{theme:constant(constant: 'themes.configuration.content.footerArea.4.contentUid')}" />
					</f:if>
				</div>
			</div>
		</div>
	</div>
</footer>

<!-- theme_t3kit: Partials/Footer/Footer.html [end] -->
</f:section>
</div>
