<footer class="footer">
    <div class="container">
        <div class="row ">
            <div class="col-md-6 footer__quick-links">
                <div class="row">
                    <div class="col-sm-4">
                        <h4>t3kit</h4>
                        <ul class="ce-menu ce-menu-1">
                            <li><a href="">Typical page content</a></li>
                            <li><a href="">Special Elements</a></li>
                            <li><a href="">Form Elements</a></li>
                        </ul>
                    </div>
                    <div class="col-sm-4">
                        <h4>Quick links</h4>
                        <ul class="ce-menu ce-menu-1">
                            <li><a href="">Typical page content</a></li>
                            <li><a href="">Special Elements</a></li>
                            <li><a href="">Form Elements</a></li>
                        </ul>
                    </div>
                    <div class="col-sm-4">
                        <h4>Quick links</h4>
                        <ul class="ce-menu ce-menu-1">
                            <li><a href="">Typical page content</a></li>
                            <li><a href="">Special Elements</a></li>
                            <li><a href="">Form Elements</a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-md-6 footer__subscribe">
                <div id="c87">
                    <div id="c88">
                        <h4>Subscribe to newsletter</h4>
                        <div class="ce-textpic ce-right ce-intext">
                            <div class="ce-bodytext">
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiumdod tempor incididunt ut labore et dolore magna aliqua. </p>
                            </div>
                        </div>
                    </div>
                    <div id="c86">
                        <div class="tx-pxa-newsletter-subscription">
                            <form class="form" id="86" action="/" method="post">
                                <input type="hidden" name="tx_pxanewslettersubscription_subscription[ceuid]" value="86">
                                <div class="row control-group form-group">
                                    <div class="col-sm-6">
                                        <div class="input-append input-group">
                                            <input placeholder="Name" class="form-control" id="name" type="text" name="tx_pxanewslettersubscription_subscription[name]">
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="input-append input-group">
                                            <input placeholder="E-mail" class="form-control" id="email" type="text" name="tx_pxanewslettersubscription_subscription[email]">
                                        </div>
                                    </div>
                                </div>
                                <div class="subscribe form-actions pull-right">
                                    <input class="btn btn-default" type="button" value="Subscribe" name="tx_pxanewslettersubscription_subscription[submitType]">
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class=" margin-top-50 margin-bottom-10">
    <div class="container">
        <div class="row ">
            <div class="col-md-7 footer__logo-contacts">
                <div id="c188" class="">
                    <div class="ce-textpic ce-left ce-intext ce-nowrap">
                        <div class="ce-gallery" data-ce-columns="1" data-ce-images="1">
                            <div class="ce-row">
                                <div class="ce-column">
                                    <div class="ce-media">

                                        <a href="/">
                                            <img data-caption="" alt="t3kit" src="images/t3kit.png" width="80" height="44">
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="ce-bodytext">
                            <p>Pixelant AB, Regementsgatan 8, 211 42 Malmö,</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-5 footer__social-icons">
                {{> socialIcons}}
            </div>
        </div>
    </div>
    </div>
    <div class="footer__bottom">
        <div class="container">
            <div class="row">
                <div class="col-md-7 footer__bottom-copyright">
                    <p>All rights reserved © 2016</p>
                </div>
                <div class="col-md-5 footer__bottom-nav">
                    <ul class="ce-menu ce-menu-1">
                        <li><a href="">Legal Rights</a></li>
                        <li><a href="">Terms of Use</a></li>
                        <li><a href="">Cookies</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>
