node_modules
.tmp
#temp
.sass-cache
.DS_Store
npm-debug.log
bower_components
*.sublime-*
.idea
Resources/Private/Language/de.BackendLayouts.xlf
Resources/Private/Language/de.locallang.xlf
Resources/Private/Language/de.ContentElements.xlf
Resources/Private/Language/de.StructuredContentElements.xlf
