---
#layout: default.hbs #by default it is default.hbs, but you can specify another one
title: Solr #title in menu
position: 3 #position in menu
hideInMenu: false #if true, will be hidden in menu
hideInBreadcrumbs: false #if true, will be hidden in breadcrumbs
externalLink: false #just add link (http://link.com) instead of "false" to use this page like a link to external page.
---

{{> breadcrumbs}}

<div class="container">
    <div class="row">
        <div class="col-md-12">

            <div id="c139" class="">
            		<h2>Solr search</h2>
            	<div class="tx-solr">
            <div id="tx-solr-search-functions">
                <div class="row">
                    <div class="col-md-9">
                        <div class="tx-solr-search-form">
                            <form id="tx-solr-search-form-pi-results" action="/solr.html" method="get" accept-charset="utf-8" class="form-inline">
                                <div class="form-group">
                                    <input type="text" class="tx-solr-q form-control" name="q" value="" data-search="searchSuggest" autocomplete="off" aria-autocomplete="list">
                                    <input type="hidden" name="id" value="71">
                                    <input type="hidden" name="L" value="0">
                                    <input type="submit" class="tx-solr-submit form-control" value="Search">
                                </div>
                            </form>
                        </div>
                        <p>Searched for "<span class="tx-solr-search-word">content</span>". Found 28 results in 13 milliseconds. Displaying results 1 to 10 of 28.</p>
                        <form class="form-inline"  >
                            <div class="form-group">
                                <label for="tx_solr[resultsPerPage]">Results per page:</label>
                                <select class="form-control" onchange="this.form.submit()" name="tx_solr[resultsPerPage]">
                                    <option value="10" selected="selected">10</option>
                                    <option value="25">25</option>
                                    <option value="50">50</option>
                                </select>
                            </div>
                        </form>
            <div class="search-result-pagination btn-group" role="group" aria-label="...">
                <a href="" class="btn btn-default disabled" title="First">«</a>
                <a href="" class="btn btn-default disabled" title="Previous">‹</a>
            	<a href="" class="btn btn-default disabled">1</a><a href="" class="btn btn-default">2</a><a href="" class="btn btn-default">3</a>
            	<a href="" class="btn btn-default" title="Next">›</a>
            	<a href="" class="btn btn-default" title="Last">»</a>
            </div>
                        <ol start="1" class="results-list">
                            <li class="results-entry">
                                <h5 class="results-topic"><a href="/content/special-elements/special-menus/">Special Menus</a></h5>
                                <div class="results-teaser">
                                    <div class="relevance">
                                        <div class="relevance-label">Relevance: </div>
                                        <div class="relevance-bar"><div class="tx-solr-relevance-bar"><div class="tx-solr-relevance themeColorBackground" style="width: 100%">&nbsp;</div><div class="tx-solr-relevance-fill" style="width: 0%"></div></div></div>
                                        <div class="relevance-percent">100%</div>
                                    </div>
                                    <p class="result-content">                                                  <mark>Content</mark>                                                Typical page <mark>content</mark>                                                Headers                                                  Text &amp; Media [...]                                                   Solr                                                                       <mark>Content</mark> Elements                                                Accordion                                                  Big [...]                                                 t3kit on Github                                                                       Documentation                                                <mark>Content</mark> Elements</p>
                                </div>
                            </li>
                            <li class="results-entry">
                                <h5 class="results-topic"><a href="/documentation/content-elements/">Content Elements</a></h5>
                                <div class="results-teaser">
                                    <div class="relevance">
                                        <div class="relevance-label">Relevance: </div>
                                        <div class="relevance-bar"><div class="tx-solr-relevance-bar"><div class="tx-solr-relevance themeColorBackground" style="width: 95%">&nbsp;</div><div class="tx-solr-relevance-fill" style="width: 5%"></div></div></div>
                                        <div class="relevance-percent">95%</div>
                                    </div>

                                    <p class="result-content"><mark>Content</mark> Elements        Wrapper</p>
                                </div>
                            </li>
                            <li class="results-entry">
                                <h5 class="results-topic"><a href="/content/">Content</a></h5>
                                <div class="results-teaser">
                                    <div class="relevance">
                                        <div class="relevance-label">Relevance: </div>
                                        <div class="relevance-bar"><div class="tx-solr-relevance-bar"><div class="tx-solr-relevance themeColorBackground" style="width: 95%">&nbsp;</div><div class="tx-solr-relevance-fill" style="width: 5%"></div></div></div>
                                        <div class="relevance-percent">95%</div>
                                    </div>
                                    <p class="result-content">Typical page <mark>content</mark>        Special Elements        Form Elements        Plugins        <mark>Content</mark> Elements</p>
                                </div>
                            </li>
                            <li class="results-entry">
                                <h5 class="results-topic"><a href="/documentation/">Documentation</a></h5>
                                <div class="results-teaser">
                                    <div class="relevance">
                                        <div class="relevance-label">Relevance: </div>
                                        <div class="relevance-bar"><div class="tx-solr-relevance-bar"><div class="tx-solr-relevance themeColorBackground" style="width: 68%">&nbsp;</div><div class="tx-solr-relevance-fill" style="width: 32%"></div></div></div>
                                        <div class="relevance-percent">68%</div>
                                    </div>
                                    <p class="result-content"><mark>Content</mark> Elements</p>
                                </div>
                            </li>
                            <li class="results-entry">
                                <h5 class="results-topic"><a href="/footer-content/area-2/">Area 2</a></h5>
                                <div class="results-teaser">
                                    <div class="relevance">
                                        <div class="relevance-label">Relevance: </div>
                                        <div class="relevance-bar"><div class="tx-solr-relevance-bar"><div class="tx-solr-relevance themeColorBackground" style="width: 41%">&nbsp;</div><div class="tx-solr-relevance-fill" style="width: 59%"></div></div></div>
                                        <div class="relevance-percent">41%</div>
                                    </div>
                                    <p class="result-content">Quick links                                                                                                    Typical page <mark>content</mark>                                         Special Elements                                         Form Elements                                         Plugins                                         <mark>Content</mark> Elements                                                                                        Typical page <mark>content</mark>                                         Special Elements                                         Form Elements                                         Plugins</p>
                                </div>
                            </li>
                            <li class="results-entry">
                                <h5 class="results-topic"><a href="/content/form-elements/login-form/">Login form</a></h5>
                                <div class="results-teaser">
                                    <div class="relevance">
                                        <div class="relevance-label">Relevance: </div>
                                        <div class="relevance-bar"><div class="tx-solr-relevance-bar"><div class="tx-solr-relevance themeColorBackground" style="width: 38%">&nbsp;</div><div class="tx-solr-relevance-fill" style="width: 62%"></div></div></div>
                                        <div class="relevance-percent">38%</div>
                                    </div>
                                    <p class="result-content">Login form                                                                                    Typical page <mark>content</mark>        Special Elements        Form Elements        Login form        Mail form            Plugins        <mark>Content</mark> Elements</p>
                                </div>
                            </li>
                            <li class="results-entry">
                                <h5 class="results-topic"><a href="/content/form-elements/mail-form/">Mail form</a></h5>
                                <div class="results-teaser">
                                    <div class="relevance">
                                        <div class="relevance-label">Relevance: </div>
                                        <div class="relevance-bar"><div class="tx-solr-relevance-bar"><div class="tx-solr-relevance themeColorBackground" style="width: 38%">&nbsp;</div><div class="tx-solr-relevance-fill" style="width: 62%"></div></div></div>
                                        <div class="relevance-percent">38%</div>
                                    </div>
                                    <p class="result-content">Mail form                                                                                                      Typical page <mark>content</mark>        Special Elements        Form Elements        Login form        Mail form            Plugins        <mark>Content</mark> Elements</p>
                                </div>
                            </li>
                            <li class="results-entry">
                                <h5 class="results-topic"><a href="/content/plugins/">Plugins</a></h5>
                                <div class="results-teaser">
                                    <div class="relevance">
                                        <div class="relevance-label">Relevance: </div>
                                        <div class="relevance-bar"><div class="tx-solr-relevance-bar"><div class="tx-solr-relevance themeColorBackground" style="width: 38%">&nbsp;</div><div class="tx-solr-relevance-fill" style="width: 62%"></div></div></div>
                                        <div class="relevance-percent">38%</div>
                                    </div>

                                    <p class="result-content">Typical page <mark>content</mark>        Special Elements        Form Elements        Plugins        News        Google Map        Solr            <mark>Content</mark> Elements</p>
                                </div>
                            </li>
                            <li class="results-entry">
                                <h5 class="results-topic"><a href="/content/plugins/google-map/">Google Map</a></h5>
                                <div class="results-teaser">
                                    <div class="relevance">
                                        <div class="relevance-label">Relevance: </div>
                                        <div class="relevance-bar"><div class="tx-solr-relevance-bar"><div class="tx-solr-relevance themeColorBackground" style="width: 29%">&nbsp;</div><div class="tx-solr-relevance-fill" style="width: 71%"></div></div></div>
                                        <div class="relevance-percent">29%</div>
                                    </div>
                                    <p class="result-content">Overview map of latest disaster alerts                                                                                                 Provided by   GDACS   through their KML feed.                                                                                                                Typical page <mark>content</mark>        Special Elements        Form Elements        Plugins        News        Google Map        Solr            <mark>Content</mark> Elements</p>
                                </div>
                            </li>
                            <li class="results-entry">
                                <h5 class="results-topic"><a href="/content/content-elements/logocarousel/">LogoCarousel</a></h5>
                                <div class="results-teaser">
                                    <div class="relevance">
                                        <div class="relevance-label">Relevance: </div>
                                        <div class="relevance-bar"><div class="tx-solr-relevance-bar"><div class="tx-solr-relevance themeColorBackground" style="width: 29%">&nbsp;</div><div class="tx-solr-relevance-fill" style="width: 71%"></div></div></div>
                                        <div class="relevance-percent">29%</div>
                                    </div>
                                    <p class="result-content">Typical page <mark>content</mark>        Special Elements        Form Elements        Plugins        <mark>Content</mark> Elements        Accordion        BigIconTextButton        IconTextButton        ImageTextLink        LogoCarousel        Quote        Slider        Tabs</p>
                                </div>
                            </li>
                        </ol>
            <div class="btn-group" role="group" aria-label="...">
                <a href="" class="btn btn-default disabled" title="First">«</a>
                <a href="" class="btn btn-default disabled" title="Previous">‹</a>
            	<a href="/content/plugins/solr/?q=content" class="btn btn-default disabled">1</a><a href="/content/plugins/solr/?q=content&amp;tx_solr%5Bpage%5D=1" class="btn btn-default">2</a><a href="/content/plugins/solr/?q=content&amp;tx_solr%5Bpage%5D=2" class="btn btn-default">3</a>
            	<a href="/content/plugins/solr/?q=content&amp;tx_solr%5Bpage%5D=1" class="btn btn-default" title="Next">›</a>
            	<a href="/content/plugins/solr/?q=content&amp;tx_solr%5Bpage%5D=2" class="btn btn-default" title="Last">»</a>
            </div>
                    </div>
                    <div class="col-md-3">
                        <h4>Sort by</h4>
                        <ul class="list-unstyled">
                            <li>
                                 <a href="/content/plugins/solr/?q=content">Relevance</a>
                            </li>
                            <li>
                                 <a href="/content/plugins/solr/?q=content&amp;tx_solr%5Bsort%5D=title%20asc">Title</a>
                            </li>
                            <li>
                                 <a href="/content/plugins/solr/?q=content&amp;tx_solr%5Bsort%5D=type%20asc">Type</a>
                            </li>
                            <li>
                                 <a href="/content/plugins/solr/?q=content&amp;tx_solr%5Bsort%5D=author%20asc">Author</a>
                            </li>
                            <li>
                                 <a href="/content/plugins/solr/?q=content&amp;tx_solr%5Bsort%5D=created%20asc">Creation Date</a>
                            </li>
                        </ul>
                        <h4>Narrow Search</h4>
                        <ul class="list-unstyled">
                            <li class="facet facet-type facet-type-default">
                                <h6 class="facet-label csc-header">Content Type</h6>
                                <ul class="list-unstyled">
                                    <li class="facet-option ">
                                        <span class="icons icon-plus"></span> <a href="/content/plugins/solr/?q=content&amp;tx_solr%5Bfilter%5D%5B0%5D=type%253Apages" rel="nofollow">Pages</a> <span class="label label-default">28</span>
                                    </li>
                                </ul>
                            </li>
                            <li class="facet facet-category facet-type-default">
                                <h6 class="facet-label csc-header">Category</h6>
                                <ul class="list-unstyled">
                                    <li class="facet-option ">
                                        <span class="icons icon-plus"></span> <a href="/content/plugins/solr/?q=content&amp;tx_solr%5Bfilter%5D%5B0%5D=category%253AContent" rel="nofollow">Content</a> <span class="label label-default">5</span>
                                    </li>
                                    <li class="facet-option ">
                                        <span class="icons icon-plus"></span> <a href="/content/plugins/solr/?q=content&amp;tx_solr%5Bfilter%5D%5B0%5D=category%253AExamples" rel="nofollow">Examples</a> <span class="label label-default">5</span>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            	</div>
            </div>

        </div>
    </div>
</div>
