<div xmlns="http://www.w3.org/1999/xhtml" lang="en" xmlns:f="http://typo3.org/ns/fluid/ViewHelpers">
	<f:layout name="Default" />
	<f:section name="Default">
	<!-- theme_t3kit: Templates/Theme/ContentMenuSidebar.html [begin] -->
	<f:variable name="content">
		<f:render partial="Content/Main" section="Default" arguments="{_all}" />
	</f:variable>

	<f:render partial="Content/Breadcrumbs" section="Default" arguments="{_all}" />
	<div class="container">
		<div class="row">
			<div class="col-md-6">
				<f:format.raw>{content}</f:format.raw>
			</div>
			<div class="col-md-3">
				<f:render partial="Content/Menu" section="Default" arguments="{_all}" />
			</div>
			<div class="col-md-3">
				<f:render partial="Content/Sidebar" section="Default" arguments="{_all}" />
			</div>
		</div>
	</div>

	<!-- theme_t3kit: Templates/Theme/ContentMenuSidebar.html [end] -->
	</f:section>
</div>
