{namespace theme=KayStrobach\Themes\ViewHelpers}
<div xmlns="http://www.w3.org/1999/xhtml" lang="en" xmlns:f="http://typo3.org/ns/fluid/ViewHelpers">
	<f:layout name="Default" />
	<f:section name="Default">
	<!-- theme_t3kit: Templates/Theme/MenuSidebarContent.html [begin] -->
	<f:variable name="content">
		<f:render partial="Content/Main" section="Default" arguments="{_all}" />
	</f:variable>

	<f:render partial="Content/Breadcrumbs" section="Default" arguments="{_all}" />

	<f:if condition="{theme:constant(constant:'themes.configuration.menu.sub.underContentInMobile')}">
		<f:then>
			<div class="container">
				<div class="row">
					<div class="col-md-3 col-md-push-3">
						<f:render partial="Content/Sidebar" section="Default" arguments="{_all}" />
					</div>
					<div class="col-md-6 col-md-push-3">
						<f:format.raw>{content}</f:format.raw>
					</div>
					<div class="col-md-3 col-md-pull-9">
						<f:render partial="Content/Menu" section="Default" arguments="{_all}" />
					</div>
				</div>
			</div>
		</f:then>
		<f:else>
			<div class="container">
				<div class="row">
					<div class="col-md-3">
						<f:render partial="Content/Menu" section="Default" arguments="{_all}" />
					</div>
					<div class="col-md-3">
						<f:render partial="Content/Sidebar" section="Default" arguments="{_all}" />
					</div>
					<div class="col-md-6">
						<f:format.raw>{content}</f:format.raw>
					</div>
				</div>
			</div>
		</f:else>
	</f:if>

	<!-- theme_t3kit: Templates/Theme/MenuSidebarContent.html [end] -->
	</f:section>
</div>
