{{!-- content example --}}

<div id="c44">
<h2>Unordered list (bullets)</h2>
<ul class="ce-bullets">
  <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
  <li>Integer ut lorem consectetur, placerat lacus vulputate, rhoncus mi.</li>
  <li>Quisque a placerat nisl. Sed sem nisl, egestas in tellus sit amet, venenatis dictum tellus.</li>
  <li>Cras leo orci, feugiat et laoreet ac, efficitur at metus.</li>
  <li>Vivamus risus mi, commodo quis euismod at, porta finibus orci.</li>
  <li>Aliquam in felis ut velit malesuada elementum et vel tortor.</li>
  <li>Sed in viverra turpis. In hac habitasse platea dictumst.</li>
  <li>Maecenas iaculis ante quis ligula lacinia, a aliquam lectus ullamcorper.</li>
  <li>Etiam enim odio, suscipit ut aliquet nec, elementum eget nisi.</li>
  <li>Etiam et sodales ante.</li>
</ul>
</div>
<div id="c45">
<h2>Ordered list (numbers)</h2>
<ol class="ce-bullets">
  <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
  <li>Integer ut lorem consectetur, placerat lacus vulputate, rhoncus mi.</li>
  <li>Quisque a placerat nisl. Sed sem nisl, egestas in tellus sit amet, venenatis dictum tellus.</li>
  <li>Cras leo orci, feugiat et laoreet ac, efficitur at metus.</li>
  <li>Vivamus risus mi, commodo quis euismod at, porta finibus orci.</li>
  <li>Aliquam in felis ut velit malesuada elementum et vel tortor.</li>
  <li>Sed in viverra turpis. In hac habitasse platea dictumst.</li>
  <li>Maecenas iaculis ante quis ligula lacinia, a aliquam lectus ullamcorper.</li>
  <li>Etiam enim odio, suscipit ut aliquet nec, elementum eget nisi.</li>
  <li>Etiam et sodales ante.</li>
</ol>
</div>
<div id="c46">
<h2>Definition list</h2>
<dl class="ce-bullets">
  <dt>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</dt>
  <dt>Integer ut lorem consectetur, placerat lacus vulputate, rhoncus mi.</dt>
  <dt>Quisque a placerat nisl. Sed sem nisl, egestas in tellus sit amet, venenatis dictum tellus.</dt>
  <dt>Cras leo orci, feugiat et laoreet ac, efficitur at metus.</dt>
  <dt>Vivamus risus mi, commodo quis euismod at, porta finibus orci.</dt>
  <dt>Aliquam in felis ut velit malesuada elementum et vel tortor.</dt>
  <dt>Sed in viverra turpis. In hac habitasse platea dictumst.</dt>
  <dt>Maecenas iaculis ante quis ligula lacinia, a aliquam lectus ullamcorper.</dt>
  <dt>Etiam enim odio, suscipit ut aliquet nec, elementum eget nisi.</dt>
  <dt>Etiam et sodales ante.</dt>
</dl>
</div>
