{{#if this.icon}}
    <div class="divider">
       <div class="divider__wrp">
           <span class="divider__icon icons icon-{{icon}}"></span>
       </div>
    </div>
{{else}}
    <hr class="ce-div">
{{/if}}
