{{!-- content example --}}

<div id="c51">
  <h2>File Link options</h2>
  <div class="ce-textpic ce-right ce-intext">
    <div class="ce-bodytext">
      <p>File Link options so the file list &nbsp;can have different appearance.</p>
      <ul>
        <li>Checkbox: display description</li>
        <li>Checkbox: display size</li>
        <li>Selectbox with choises: Only filename,&nbsp;Filename and file extension icon and&nbsp;Filename and thumbnail (if possible).</li>
      </ul>
      <p>Below are a few examples.</p>
    </div>
  </div>
</div>
<div id="c50">
  <h2>Only filename</h2>
  <ul class="ce-uploads">
    <li>
      <div>
        <a href="fileadmin/example_content/images/foto1.jpg">
          <span class="ce-uploads-fileName">
                foto1.jpg
              </span>
        </a>
      </div>
    </li>
    <li>
      <div>
        <a href="fileadmin/example_content/images/logo-fireball.png">
          <span class="ce-uploads-fileName">
                logo-fireball.png
              </span>
        </a>
      </div>
    </li>
    <li>
      <div>
        <a href="fileadmin/example_content/images/temp-carousel-1.jpg">
          <span class="ce-uploads-fileName">
                temp-carousel-1.jpg
              </span>
        </a>
      </div>
    </li>
  </ul>
</div>
<div id="c47">
  <h2>Only filename + description and size</h2>
  <ul class="ce-uploads">
    <li>
      <div>
        <a href="fileadmin/example_content/images/foto1.jpg">
          <span class="ce-uploads-fileName">
                foto1.jpg
              </span>
        </a>
        <span class="ce-uploads-description">
                This is Öresundsbron, the bridge between Sweden and Denmark.
              </span>
        <span class="ce-uploads-filesize">
              111 KB
            </span>
      </div>
    </li>
    <li>
      <div>
        <a href="fileadmin/example_content/images/logo-fireball.png">
          <span class="ce-uploads-fileName">
                logo-fireball.png
              </span>
        </a>
        <span class="ce-uploads-filesize">
              8 KB
            </span>
      </div>
    </li>
    <li>
      <div>
        <a href="fileadmin/example_content/images/temp-carousel-1.jpg">
          <span class="ce-uploads-fileName">
                temp-carousel-1.jpg
              </span>
        </a>
        <span class="ce-uploads-filesize">
              58 KB
            </span>
      </div>
    </li>
  </ul>
</div>
<div id="c48">
  <h2>Filename and file extension icon + description and size</h2>
  <ul class="ce-uploads">
    <li>
      <img src="typo3/sysext/frontend/Resources/Public/Icons/FileIcons/jpg.gif" alt="">
      <div>
        <a href="fileadmin/example_content/images/foto1.jpg">
          <span class="ce-uploads-fileName">
                foto1.jpg
              </span>
        </a>
        <span class="ce-uploads-description">
                This is Öresundsbron, the bridge between Sweden and Denmark.
              </span>
        <span class="ce-uploads-filesize">
              111 KB
            </span>
      </div>
    </li>
    <li>
      <img src="typo3/sysext/frontend/Resources/Public/Icons/FileIcons/png.gif" alt="">
      <div>
        <a href="fileadmin/example_content/images/logo-fireball.png">
          <span class="ce-uploads-fileName">
                logo-fireball.png
              </span>
        </a>
        <span class="ce-uploads-filesize">
              8 KB
            </span>
      </div>
    </li>
    <li>
      <img src="typo3/sysext/frontend/Resources/Public/Icons/FileIcons/jpg.gif" alt="">
      <div>
        <a href="fileadmin/example_content/images/temp-carousel-1.jpg">
          <span class="ce-uploads-fileName">
                temp-carousel-1.jpg
              </span>
        </a>
        <span class="ce-uploads-filesize">
              58 KB
            </span>
      </div>
    </li>
  </ul>
</div>
<div id="c49">
  <h2>Filename and thumbnail (if possible) + description and size</h2>
  <ul class="ce-uploads">
    <li>
      <a href="fileadmin/example_content/images/foto1.jpg">
        <img alt="Foto 1 alternative text" src="images/typo3-logo.png" width="150" height="64" title="Foto 1 title">
      </a>
      <div>
        <a href="fileadmin/example_content/images/foto1.jpg">
          <span class="ce-uploads-fileName">
                foto1.jpg
              </span>
        </a>
        <span class="ce-uploads-description">
                This is Öresundsbron, the bridge between Sweden and Denmark.
              </span>
        <span class="ce-uploads-filesize">
              111 KB
            </span>
      </div>
    </li>
    <li>
      <a href="fileadmin/example_content/images/logo-fireball.png">
        <img src="images/typo3-logo.png" width="150" height="64" alt="">
      </a>
      <div>
        <a href="fileadmin/example_content/images/logo-fireball.png">
          <span class="ce-uploads-fileName">
                logo-fireball.png
              </span>
        </a>
        <span class="ce-uploads-filesize">
              8 KB
            </span>
      </div>
    </li>
    <li>
      <a href="fileadmin/example_content/images/temp-carousel-1.jpg">
        <img src="images/typo3-logo.png" width="150" height="48" alt="">
      </a>
      <div>
        <a href="fileadmin/example_content/images/temp-carousel-1.jpg">
          <span class="ce-uploads-fileName">
                temp-carousel-1.jpg
              </span>
        </a>
        <span class="ce-uploads-filesize">
              58 KB
            </span>
      </div>
    </li>
  </ul>
</div>
