{{!-- content example --}}


<div id="c52">






















        <h2>Menu of selected pages</h2>































        <ul class="ce-menu ce-menu-0">

                <li>
                    <a href="index.php?id=16&amp;L=4">
                        Text &amp; Media
                    </a>
                </li>

                <li>
                    <a href="index.php?id=18&amp;L=4">
                        File Links
                    </a>
                </li>

        </ul>








</div>

<div id="c53">






















        <h2>Menu of subpages of selected pages</h2>































        <ul class="ce-menu ce-menu-1">

                <li>
                    <a href="index.php?id=15&amp;L=4">
                        Headers
                    </a>
                </li>

                <li>
                    <a href="index.php?id=16&amp;L=4">
                        Text &amp; Media
                    </a>
                </li>

                <li>
                    <a href="index.php?id=17&amp;L=4">
                        Bulletlist
                    </a>
                </li>

                <li>
                    <a href="index.php?id=14&amp;L=4">
                        Tables
                    </a>
                </li>

                <li>
                    <a href="index.php?id=18&amp;L=4">
                        File Links
                    </a>
                </li>

        </ul>








</div>

<div id="c54">






















        <h2>Menu of subpages of selected pages including abstracts</h2>































        <dl class="ce-menu ce-menu-4">

                <dt>
                    <a href="index.php?id=15&amp;L=4">
                        Headers
                    </a>
                </dt>
                <dd>

                            Examples of how different headers will be rendered.

                </dd>

                <dt>
                    <a href="index.php?id=16&amp;L=4">
                        Text &amp; Media
                    </a>
                </dt>
                <dd>

                            Examples of how different Text &amp; Media will be rendered.

                </dd>

                <dt>
                    <a href="index.php?id=17&amp;L=4">
                        Bulletlist
                    </a>
                </dt>
                <dd>

                            Examples of how different Bulletlists will be rendered.

                </dd>

                <dt>
                    <a href="index.php?id=14&amp;L=4">
                        Tables
                    </a>
                </dt>
                <dd>

                            Examples of how different Tables will be rendered.

                </dd>

                <dt>
                    <a href="index.php?id=18&amp;L=4">
                        File Links
                    </a>
                </dt>
                <dd>

                            Examples of how different File Links will be rendered.

                </dd>

        </dl>








</div>

<div id="c55">






















        <h2>Menu of subpages of selected pages including sections</h2>































        <ul class="ce-menu ce-menu-7">

                <li>
                    <a href="index.php?id=15&amp;L=4">
                        Headers
                    </a>
                </li>


                        <ul>

                                <li>
                                    <a href="index.php?id=15&amp;L=4#c16">
                                        Layout 1 Nam iaculis nisi quis posuere gravida
                                    </a>
                                </li>

                                <li>
                                    <a href="index.php?id=15&amp;L=4#c17">
                                        Layout 2 Nam iaculis nisi quis posuere gravida
                                    </a>
                                </li>

                                <li>
                                    <a href="index.php?id=15&amp;L=4#c18">
                                        Layout 3 Nam iaculis nisi quis posuere gravida
                                    </a>
                                </li>

                                <li>
                                    <a href="index.php?id=15&amp;L=4#c19">
                                        Layout 4 Nam iaculis nisi quis posuere gravida
                                    </a>
                                </li>

                                <li>
                                    <a href="index.php?id=15&amp;L=4#c20">
                                        Layout 5 Nam iaculis nisi quis posuere gravida
                                    </a>
                                </li>

                                <li>
                                    <a href="index.php?id=15&amp;L=4#c21">
                                        Linked Nam iaculis nisi quis posuere gravida
                                    </a>
                                </li>

                                <li>
                                    <a href="index.php?id=15&amp;L=4#c22">
                                        Date Nam iaculis nisi quis posuere gravida
                                    </a>
                                </li>

                                <li>
                                    <a href="index.php?id=15&amp;L=4#c23">
                                        Subheader Nam iaculis nisi quis posuere gravida
                                    </a>
                                </li>

                                <li>
                                    <a href="index.php?id=15&amp;L=4#c24">
                                        Date Subheader Nam iaculis nisi quis posuere gravida
                                    </a>
                                </li>

                        </ul>



                <li>
                    <a href="index.php?id=16&amp;L=4">
                        Text &amp; Media
                    </a>
                </li>


                        <ul>

                                <li>
                                    <a href="index.php?id=16&amp;L=4#c35">
                                        Nam iaculis nisi quis posuere gravida - Above, center
                                    </a>
                                </li>

                                <li>
                                    <a href="index.php?id=16&amp;L=4#c36">
                                        Nam iaculis nisi quis posuere gravida - Above, right
                                    </a>
                                </li>

                                <li>
                                    <a href="index.php?id=16&amp;L=4#c37">
                                        Nam iaculis nisi quis posuere gravida - Above, left
                                    </a>
                                </li>

                                <li>
                                    <a href="index.php?id=16&amp;L=4#c38">
                                        Nam iaculis nisi quis posuere gravida - Below, center
                                    </a>
                                </li>

                                <li>
                                    <a href="index.php?id=16&amp;L=4#c39">
                                        Nam iaculis nisi quis posuere gravida - Below, right
                                    </a>
                                </li>

                                <li>
                                    <a href="index.php?id=16&amp;L=4#c40">
                                        Nam iaculis nisi quis posuere gravida - Below, left
                                    </a>
                                </li>

                                <li>
                                    <a href="index.php?id=16&amp;L=4#c33">
                                        Nam iaculis nisi quis posuere gravida - In text, left
                                    </a>
                                </li>

                                <li>
                                    <a href="index.php?id=16&amp;L=4#c34">
                                        Nam iaculis nisi quis posuere gravida - In text, right
                                    </a>
                                </li>

                                <li>
                                    <a href="index.php?id=16&amp;L=4#c41">
                                        Nam iaculis nisi quis posuere gravida - Beside text, right
                                    </a>
                                </li>

                                <li>
                                    <a href="index.php?id=16&amp;L=4#c42">
                                        Nam iaculis nisi quis posuere gravida - Beside text, left
                                    </a>
                                </li>

                                <li>
                                    <a href="index.php?id=16&amp;L=4#c43">
                                        Nam iaculis nisi quis posuere gravida, Multiple Media
                                    </a>
                                </li>

                        </ul>



                <li>
                    <a href="index.php?id=17&amp;L=4">
                        Bulletlist
                    </a>
                </li>


                        <ul>

                                <li>
                                    <a href="index.php?id=17&amp;L=4#c44">
                                        Unordered list (bullets)
                                    </a>
                                </li>

                                <li>
                                    <a href="index.php?id=17&amp;L=4#c45">
                                        Ordered list (numbers)
                                    </a>
                                </li>

                                <li>
                                    <a href="index.php?id=17&amp;L=4#c46">
                                        Definition list
                                    </a>
                                </li>

                        </ul>



                <li>
                    <a href="index.php?id=14&amp;L=4">
                        Tables
                    </a>
                </li>


                        <ul>

                                <li>
                                    <a href="index.php?id=14&amp;L=4#c8">
                                        Table - Layout: Default
                                    </a>
                                </li>

                                <li>
                                    <a href="index.php?id=14&amp;L=4#c10">
                                        Table - Layout: Striped
                                    </a>
                                </li>

                                <li>
                                    <a href="index.php?id=14&amp;L=4#c11">
                                        Table - Layout: Striped Bordered
                                    </a>
                                </li>

                                <li>
                                    <a href="index.php?id=14&amp;L=4#c12">
                                        Table - Layout: Striped Bordered Condensed
                                    </a>
                                </li>

                                <li>
                                    <a href="index.php?id=14&amp;L=4#c13">
                                        Table - Layout: Bordered Condensed Hover
                                    </a>
                                </li>

                        </ul>



                <li>
                    <a href="index.php?id=18&amp;L=4">
                        File Links
                    </a>
                </li>


                        <ul>

                                <li>
                                    <a href="index.php?id=18&amp;L=4#c51">
                                        File Link options
                                    </a>
                                </li>

                                <li>
                                    <a href="index.php?id=18&amp;L=4#c50">
                                        Only filename
                                    </a>
                                </li>

                                <li>
                                    <a href="index.php?id=18&amp;L=4#c47">
                                        Only filename + description and size
                                    </a>
                                </li>

                                <li>
                                    <a href="index.php?id=18&amp;L=4#c48">
                                        Filename and file extension icon + description and size
                                    </a>
                                </li>

                                <li>
                                    <a href="index.php?id=18&amp;L=4#c49">
                                        Filename and thumbnail (if possible) + description and size
                                    </a>
                                </li>

                        </ul>



        </ul>








</div>

<div id="c56">






















        <h2>Sitemap</h2>































        <ul class="ce-menu ce-menu-2">

                <li>
                    <a href="index.php?id=1&amp;L=4">
                        Home
                    </a>



        <ul>

                <li>
                    <a href="index.php?id=2&amp;L=4">
                        Home
                    </a>




                </li>

                <li>
                    <a href="index.php?id=21&amp;L=4">
                        Content
                    </a>



        <ul>

                <li>
                    <a href="index.php?id=3&amp;L=4">
                        Typical page content
                    </a>



        <ul>

                <li>
                    <a href="index.php?id=15&amp;L=4">
                        Headers
                    </a>




                </li>

                <li>
                    <a href="index.php?id=16&amp;L=4">
                        Text &amp; Media
                    </a>




                </li>

                <li>
                    <a href="index.php?id=17&amp;L=4">
                        Bulletlist
                    </a>




                </li>

                <li>
                    <a href="index.php?id=14&amp;L=4">
                        Tables
                    </a>




                </li>

                <li>
                    <a href="index.php?id=18&amp;L=4">
                        File Links
                    </a>




                </li>

        </ul>




                </li>

                <li>
                    <a href="index.php?id=20&amp;L=4">
                        Special Elements
                    </a>



        <ul>

                <li>
                    <a href="index.php?id=19&amp;L=4">
                        Special Menus
                    </a>




                </li>

        </ul>




                </li>

                <li>
                    <a href="index.php?id=24&amp;L=4">
                        Form Elements
                    </a>



        <ul>

                <li>
                    <a href="index.php?id=25&amp;L=4">
                        Login form
                    </a>




                </li>

                <li>
                    <a href="index.php?id=27&amp;L=4">
                        Mail form
                    </a>




                </li>

        </ul>




                </li>

                <li>
                    <a href="index.php?id=5&amp;L=4">
                        Plugins
                    </a>



        <ul>

                <li>
                    <a href="index.php?id=43&amp;L=4">
                        News
                    </a>



        <ul>

                <li>
                    <a href="index.php?id=44&amp;L=4">
                        List
                    </a>




                </li>

                <li>
                    <a href="index.php?id=42&amp;L=4">
                        Detail
                    </a>




                </li>

        </ul>




                </li>

        </ul>




                </li>

                <li>
                    <a href="index.php?id=4&amp;L=4">
                        Content Elements
                    </a>



        <ul>

                <li>
                    <a href="index.php?id=13&amp;L=4">
                        BigIconTextButton
                    </a>




                </li>

                <li>
                    <a href="index.php?id=28&amp;L=4">
                        IconTextButton
                    </a>




                </li>

                <li>
                    <a href="index.php?id=29&amp;L=4">
                        ImageTextLink
                    </a>




                </li>

                <li>
                    <a href="index.php?id=30&amp;L=4">
                        LogoCarousel
                    </a>




                </li>

                <li>
                    <a href="index.php?id=12&amp;L=4">
                        Quote
                    </a>




                </li>

                <li>
                    <a href="index.php?id=10&amp;L=4">
                        Slider
                    </a>




                </li>

                <li>
                    <a href="index.php?id=31&amp;L=4">
                        Tabs
                    </a>




                </li>

        </ul>




                </li>

        </ul>




                </li>

                <li>
                    <a href="index.php?id=45&amp;L=4">
                        Community
                    </a>



        <ul>

                <li>
                    <a href="index.php?id=46&amp;L=4">
                        t3kit on Github
                    </a>




                </li>

        </ul>




                </li>

                <li>
                    <a href="index.php?id=47&amp;L=4">
                        Documentation
                    </a>




                </li>

                <li>
                    <a href="index.php?id=48&amp;L=4">
                        Demo
                    </a>




                </li>

        </ul>




                </li>

        </ul>








</div>

<div id="c57">






















        <h2>Sitemaps of selected pages</h2>































        <ul class="ce-menu ce-menu-8">

                <li>
                    <a href="index.php?id=3&amp;L=4">
                        Typical page content
                    </a>



        <ul>

                <li>
                    <a href="index.php?id=15&amp;L=4">
                        Headers
                    </a>




                </li>

                <li>
                    <a href="index.php?id=16&amp;L=4">
                        Text &amp; Media
                    </a>




                </li>

                <li>
                    <a href="index.php?id=17&amp;L=4">
                        Bulletlist
                    </a>




                </li>

                <li>
                    <a href="index.php?id=14&amp;L=4">
                        Tables
                    </a>




                </li>

                <li>
                    <a href="index.php?id=18&amp;L=4">
                        File Links
                    </a>




                </li>

        </ul>




                </li>

                <li>
                    <a href="index.php?id=20&amp;L=4">
                        Special Elements
                    </a>



        <ul>

                <li>
                    <a href="index.php?id=19&amp;L=4">
                        Special Menus
                    </a>




                </li>

        </ul>




                </li>

                <li>
                    <a href="index.php?id=24&amp;L=4">
                        Form Elements
                    </a>



        <ul>

                <li>
                    <a href="index.php?id=25&amp;L=4">
                        Login form
                    </a>




                </li>

                <li>
                    <a href="index.php?id=27&amp;L=4">
                        Mail form
                    </a>




                </li>

        </ul>




                </li>

                <li>
                    <a href="index.php?id=5&amp;L=4">
                        Plugins
                    </a>



        <ul>

                <li>
                    <a href="index.php?id=43&amp;L=4">
                        News
                    </a>



        <ul>

                <li>
                    <a href="index.php?id=44&amp;L=4">
                        List
                    </a>




                </li>

                <li>
                    <a href="index.php?id=42&amp;L=4">
                        Detail
                    </a>




                </li>

        </ul>




                </li>

        </ul>




                </li>

                <li>
                    <a href="index.php?id=4&amp;L=4">
                        Content Elements
                    </a>



        <ul>

                <li>
                    <a href="index.php?id=13&amp;L=4">
                        BigIconTextButton
                    </a>




                </li>

                <li>
                    <a href="index.php?id=28&amp;L=4">
                        IconTextButton
                    </a>




                </li>

                <li>
                    <a href="index.php?id=29&amp;L=4">
                        ImageTextLink
                    </a>




                </li>

                <li>
                    <a href="index.php?id=30&amp;L=4">
                        LogoCarousel
                    </a>




                </li>

                <li>
                    <a href="index.php?id=12&amp;L=4">
                        Quote
                    </a>




                </li>

                <li>
                    <a href="index.php?id=10&amp;L=4">
                        Slider
                    </a>




                </li>

                <li>
                    <a href="index.php?id=31&amp;L=4">
                        Tabs
                    </a>




                </li>

        </ul>




                </li>

        </ul>








</div>

<div id="c58">






















        <h2>Section index (page content marked for section menus)</h2>































        <ul class="ce-menu ce-menu-3">




                            <li>
                                <a href="index.php?id=16&amp;L=4#c35">
                                    Nam iaculis nisi quis posuere gravida - Above, center
                                </a>
                            </li>

                            <li>
                                <a href="index.php?id=16&amp;L=4#c36">
                                    Nam iaculis nisi quis posuere gravida - Above, right
                                </a>
                            </li>

                            <li>
                                <a href="index.php?id=16&amp;L=4#c37">
                                    Nam iaculis nisi quis posuere gravida - Above, left
                                </a>
                            </li>

                            <li>
                                <a href="index.php?id=16&amp;L=4#c38">
                                    Nam iaculis nisi quis posuere gravida - Below, center
                                </a>
                            </li>

                            <li>
                                <a href="index.php?id=16&amp;L=4#c39">
                                    Nam iaculis nisi quis posuere gravida - Below, right
                                </a>
                            </li>

                            <li>
                                <a href="index.php?id=16&amp;L=4#c40">
                                    Nam iaculis nisi quis posuere gravida - Below, left
                                </a>
                            </li>

                            <li>
                                <a href="index.php?id=16&amp;L=4#c33">
                                    Nam iaculis nisi quis posuere gravida - In text, left
                                </a>
                            </li>

                            <li>
                                <a href="index.php?id=16&amp;L=4#c34">
                                    Nam iaculis nisi quis posuere gravida - In text, right
                                </a>
                            </li>

                            <li>
                                <a href="index.php?id=16&amp;L=4#c41">
                                    Nam iaculis nisi quis posuere gravida - Beside text, right
                                </a>
                            </li>

                            <li>
                                <a href="index.php?id=16&amp;L=4#c42">
                                    Nam iaculis nisi quis posuere gravida - Beside text, left
                                </a>
                            </li>

                            <li>
                                <a href="index.php?id=16&amp;L=4#c43">
                                    Nam iaculis nisi quis posuere gravida, Multiple Media
                                </a>
                            </li>




        </ul>








</div>

<div id="c59">






















        <h2>Recently updated pages</h2>































        <ul class="ce-menu ce-menu-5">

                <li>
                    <a href="index.php?id=14&amp;L=4">
                        Tables
                    </a>
                </li>

                <li>
                    <a href="index.php?id=15&amp;L=4">
                        Headers
                    </a>
                </li>

                <li>
                    <a href="index.php?id=16&amp;L=4">
                        Text &amp; Media
                    </a>
                </li>

                <li>
                    <a href="index.php?id=17&amp;L=4">
                        Bulletlist
                    </a>
                </li>

                <li>
                    <a href="index.php?id=18&amp;L=4">
                        File Links
                    </a>
                </li>

                <li>
                    <a href="index.php?id=19&amp;L=4">
                        Special Menus
                    </a>
                </li>

                <li>
                    <a href="index.php?id=21&amp;L=4">
                        Content
                    </a>
                </li>

                <li>
                    <a href="index.php?id=48&amp;L=4">
                        Demo
                    </a>
                </li>

                <li>
                    <a href="index.php?id=47&amp;L=4">
                        Documentation
                    </a>
                </li>

                <li>
                    <a href="index.php?id=30&amp;L=4">
                        LogoCarousel
                    </a>
                </li>

                <li>
                    <a href="index.php?id=10&amp;L=4">
                        Slider
                    </a>
                </li>

        </ul>








</div>

<div id="c60">






















        <h2>Related pages (based on keywords)</h2>































        <ul class="ce-menu ce-menu-6">

                <li>
                    <a href="index.php?id=10&amp;L=4">
                        Slider
                    </a>
                </li>

                <li>
                    <a href="index.php?id=12&amp;L=4">
                        Quote
                    </a>
                </li>

                <li>
                    <a href="index.php?id=13&amp;L=4">
                        BigIconTextButton
                    </a>
                </li>

                <li>
                    <a href="index.php?id=14&amp;L=4">
                        Tables
                    </a>
                </li>

                <li>
                    <a href="index.php?id=15&amp;L=4">
                        Headers
                    </a>
                </li>

                <li>
                    <a href="index.php?id=16&amp;L=4">
                        Text &amp; Media
                    </a>
                </li>

                <li>
                    <a href="index.php?id=17&amp;L=4">
                        Bulletlist
                    </a>
                </li>

                <li>
                    <a href="index.php?id=18&amp;L=4">
                        File Links
                    </a>
                </li>

                <li>
                    <a href="index.php?id=19&amp;L=4">
                        Special Menus
                    </a>
                </li>

        </ul>








</div>

<div id="c61">






















        <h2>Pages for selected categories</h2>































        <ul class="ce-menu ce-menu-9">

                <li>
                    <a href="index.php?id=14&amp;L=4">
                        Tables
                    </a>
                </li>

                <li>
                    <a href="index.php?id=15&amp;L=4">
                        Headers
                    </a>
                </li>

                <li>
                    <a href="index.php?id=16&amp;L=4">
                        Text &amp; Media
                    </a>
                </li>

                <li>
                    <a href="index.php?id=17&amp;L=4">
                        Bulletlist
                    </a>
                </li>

                <li>
                    <a href="index.php?id=18&amp;L=4">
                        File Links
                    </a>
                </li>

        </ul>








</div>

<div id="c62">






















        <h2>Content elements for selected categories</h2>































        <ul class="ce-menu ce-menu-categorized-content">


                    <li>
                        <a href="index.php?id=15&amp;L=4#c16">
                            Layout 1 Nam iaculis nisi quis posuere gravida
                        </a>
                    </li>



                    <li>
                        <a href="index.php?id=15&amp;L=4#c17">
                            Layout 2 Nam iaculis nisi quis posuere gravida
                        </a>
                    </li>



                    <li>
                        <a href="index.php?id=15&amp;L=4#c18">
                            Layout 3 Nam iaculis nisi quis posuere gravida
                        </a>
                    </li>



                    <li>
                        <a href="index.php?id=15&amp;L=4#c19">
                            Layout 4 Nam iaculis nisi quis posuere gravida
                        </a>
                    </li>



                    <li>
                        <a href="index.php?id=15&amp;L=4#c20">
                            Layout 5 Nam iaculis nisi quis posuere gravida
                        </a>
                    </li>



                    <li>
                        <a href="index.php?id=15&amp;L=4#c21">
                            Linked Nam iaculis nisi quis posuere gravida
                        </a>
                    </li>



                    <li>
                        <a href="index.php?id=15&amp;L=4#c22">
                            Date Nam iaculis nisi quis posuere gravida
                        </a>
                    </li>



                    <li>
                        <a href="index.php?id=15&amp;L=4#c23">
                            Subheader Nam iaculis nisi quis posuere gravida
                        </a>
                    </li>



                    <li>
                        <a href="index.php?id=15&amp;L=4#c24">
                            Date Subheader Nam iaculis nisi quis posuere gravida
                        </a>
                    </li>


        </ul>







</div>

