{{!-- content example --}}

            <div id="c8">
              <header>
                <h2>
                  <a href="http://www.uefa.com/uefachampionsleague/season=2016/standings/index.html">Table - Layout: Default</a>
                </h2>
                <p>
                  <time datetime="2015-09-29">
                    September 29, 2015
                  </time>
                </p>
              </header>
              <table class="ce-table table">
                <caption>Group A</caption>
                <thead>
                  <tr>
                    <th>
                      &nbsp;
                    </th>
                    <th>
                      Clubs
                    </th>
                    <th>
                      P
                    </th>
                    <th>
                      W
                    </th>
                    <th>
                      D
                    </th>
                    <th>
                      L
                    </th>
                    <th>
                      F
                    </th>
                    <th>
                      A
                    </th>
                    <th>
                      +/-
                    </th>
                    <th>
                      Pts
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>
                      1
                    </td>
                    <td>
                      Real Madrid CF Real Madrid CF
                    </td>
                    <td>
                      1
                    </td>
                    <td>
                      1
                    </td>
                    <td>
                      &nbsp;
                    </td>
                    <td>
                      &nbsp;
                    </td>
                    <td>
                      4
                    </td>
                    <td>
                      &nbsp;
                    </td>
                    <td>
                      4
                    </td>
                    <td>
                      3
                    </td>
                  </tr>
                  <tr>
                    <td>
                      2
                    </td>
                    <td>
                      Paris Saint-Germain Paris Saint-Germain
                    </td>
                    <td>
                      1
                    </td>
                    <td>
                      1
                    </td>
                    <td>
                      &nbsp;
                    </td>
                    <td>
                      &nbsp;
                    </td>
                    <td>
                      2
                    </td>
                    <td>
                      &nbsp;
                    </td>
                    <td>
                      2
                    </td>
                    <td>
                      3
                    </td>
                  </tr>
                  <tr>
                    <td>
                      3
                    </td>
                    <td>
                      Malmö FF Malmö FF
                    </td>
                    <td>
                      1
                    </td>
                    <td>
                      &nbsp;
                    </td>
                    <td>
                      &nbsp;
                    </td>
                    <td>
                      1
                    </td>
                    <td>
                      &nbsp;
                    </td>
                    <td>
                      2
                    </td>
                    <td>
                      -2
                    </td>
                    <td>
                      &nbsp;
                    </td>
                  </tr>
                  <tr>
                    <td>
                      4
                    </td>
                    <td>
                      FC Shakhtar Donetsk FC Shakhtar Donetsk
                    </td>
                    <td>
                      1
                    </td>
                    <td>
                      &nbsp;
                    </td>
                    <td>
                      &nbsp;
                    </td>
                    <td>
                      1
                    </td>
                    <td>
                      &nbsp;
                    </td>
                    <td>
                      4
                    </td>
                    <td>
                      -4
                    </td>
                    <td>
                      &nbsp;
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div id="c10">
              <header>
                <h2>
                  <a href="http://www.uefa.com/uefachampionsleague/season=2016/standings/index.html">Table - Layout: Striped</a>
                </h2>
                <p>
                  <time datetime="2015-09-30">
                    September 30, 2015
                  </time>
                </p>
              </header>
              <table class="ce-table table table-striped">
                <caption>Group A</caption>
                <thead>
                  <tr>
                    <th>
                      &nbsp;
                    </th>
                    <th>
                      Clubs
                    </th>
                    <th>
                      P
                    </th>
                    <th>
                      W
                    </th>
                    <th>
                      D
                    </th>
                    <th>
                      L
                    </th>
                    <th>
                      F
                    </th>
                    <th>
                      A
                    </th>
                    <th>
                      +/-
                    </th>
                    <th>
                      Pts
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>
                      1
                    </td>
                    <td>
                      Real Madrid CF Real Madrid CF
                    </td>
                    <td>
                      2
                    </td>
                    <td>
                      2
                    </td>
                    <td>
                      &nbsp;
                    </td>
                    <td>
                      &nbsp;
                    </td>
                    <td>
                      6
                    </td>
                    <td>
                      &nbsp;
                    </td>
                    <td>
                      6
                    </td>
                    <td>
                      6
                    </td>
                  </tr>
                  <tr>
                    <td>
                      2
                    </td>
                    <td>
                      Paris Saint-Germain Paris Saint-Germain
                    </td>
                    <td>
                      2
                    </td>
                    <td>
                      2
                    </td>
                    <td>
                      &nbsp;
                    </td>
                    <td>
                      &nbsp;
                    </td>
                    <td>
                      5
                    </td>
                    <td>
                      &nbsp;
                    </td>
                    <td>
                      5
                    </td>
                    <td>
                      6
                    </td>
                  </tr>
                  <tr>
                    <td>
                      3
                    </td>
                    <td>
                      Malmö FF Malmö FF
                    </td>
                    <td>
                      2
                    </td>
                    <td>
                      &nbsp;
                    </td>
                    <td>
                      &nbsp;
                    </td>
                    <td>
                      2
                    </td>
                    <td>
                      &nbsp;
                    </td>
                    <td>
                      4
                    </td>
                    <td>
                      -4
                    </td>
                    <td>
                      &nbsp;
                    </td>
                  </tr>
                  <tr>
                    <td>
                      4
                    </td>
                    <td>
                      FC Shakhtar Donetsk FC Shakhtar Donetsk
                    </td>
                    <td>
                      2
                    </td>
                    <td>
                      &nbsp;
                    </td>
                    <td>
                      &nbsp;
                    </td>
                    <td>
                      2
                    </td>
                    <td>
                      &nbsp;
                    </td>
                    <td>
                      7
                    </td>
                    <td>
                      -7
                    </td>
                    <td>
                      &nbsp;
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div id="c11">
              <header>
                <h2>
                  <a href="http://www.uefa.com/uefachampionsleague/season=2016/standings/index.html">Table - Layout: Striped Bordered</a>
                </h2>
                <p>
                  <time datetime="2015-09-29">
                    September 29, 2015
                  </time>
                </p>
              </header>
              <table class="ce-table table table-striped table-bordered">
                <caption>Group C</caption>
                <thead>
                  <tr>
                    <th>
                      &nbsp;
                    </th>
                    <th>
                      Clubs
                    </th>
                    <th>
                      P
                    </th>
                    <th>
                      W
                    </th>
                    <th>
                      D
                    </th>
                    <th>
                      L
                    </th>
                    <th>
                      F
                    </th>
                    <th>
                      A
                    </th>
                    <th>
                      +/-
                    </th>
                    <th>
                      Pts
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>
                      1
                    </td>
                    <td>
                      Club Atlético de Madrid Club Atlético de Madrid
                    </td>
                    <td>
                      1
                    </td>
                    <td>
                      1
                    </td>
                    <td>
                      &nbsp;
                    </td>
                    <td>
                      &nbsp;
                    </td>
                    <td>
                      2
                    </td>
                    <td>
                      &nbsp;
                    </td>
                    <td>
                      2
                    </td>
                    <td>
                      3
                    </td>
                  </tr>
                  <tr>
                    <td>
                      2
                    </td>
                    <td>
                      SL Benfica SL Benfica
                    </td>
                    <td>
                      1
                    </td>
                    <td>
                      1
                    </td>
                    <td>
                      &nbsp;
                    </td>
                    <td>
                      &nbsp;
                    </td>
                    <td>
                      2
                    </td>
                    <td>
                      &nbsp;
                    </td>
                    <td>
                      2
                    </td>
                    <td>
                      3
                    </td>
                  </tr>
                  <tr>
                    <td>
                      3
                    </td>
                    <td>
                      Galatasaray AŞ Galatasaray AŞ
                    </td>
                    <td>
                      1
                    </td>
                    <td>
                      &nbsp;
                    </td>
                    <td>
                      &nbsp;
                    </td>
                    <td>
                      1
                    </td>
                    <td>
                      &nbsp;
                    </td>
                    <td>
                      2
                    </td>
                    <td>
                      -2
                    </td>
                    <td>
                      &nbsp;
                    </td>
                  </tr>
                  <tr>
                    <td>
                      4
                    </td>
                    <td>
                      FC Astana FC Astana
                    </td>
                    <td>
                      1
                    </td>
                    <td>
                      &nbsp;
                    </td>
                    <td>
                      &nbsp;
                    </td>
                    <td>
                      1
                    </td>
                    <td>
                      &nbsp;
                    </td>
                    <td>
                      2
                    </td>
                    <td>
                      -2
                    </td>
                    <td>
                      &nbsp;
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div id="c12">
              <header>
                <h2>
                  <a href="http://www.uefa.com/uefachampionsleague/season=2016/standings/index.html">Table - Layout: Striped Bordered Condensed</a>
                </h2>
                <p>
                  <time datetime="2015-09-29">
                    September 29, 2015
                  </time>
                </p>
              </header>
              <table class="ce-table table table-striped table-bordered table-condensed">
                <caption>Group D</caption>
                <thead>
                  <tr>
                    <th>
                      &nbsp;
                    </th>
                    <th>
                      Clubs
                    </th>
                    <th>
                      P
                    </th>
                    <th>
                      W
                    </th>
                    <th>
                      D
                    </th>
                    <th>
                      L
                    </th>
                    <th>
                      F
                    </th>
                    <th>
                      A
                    </th>
                    <th>
                      +/-
                    </th>
                    <th>
                      Pts
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>
                      1
                    </td>
                    <td>
                      Sevilla FC Sevilla FC
                    </td>
                    <td>
                      1
                    </td>
                    <td>
                      1
                    </td>
                    <td>
                      &nbsp;
                    </td>
                    <td>
                      &nbsp;
                    </td>
                    <td>
                      3
                    </td>
                    <td>
                      &nbsp;
                    </td>
                    <td>
                      3
                    </td>
                    <td>
                      3
                    </td>
                  </tr>
                  <tr>
                    <td>
                      2
                    </td>
                    <td>
                      Juventus Juventus
                    </td>
                    <td>
                      1
                    </td>
                    <td>
                      1
                    </td>
                    <td>
                      &nbsp;
                    </td>
                    <td>
                      &nbsp;
                    </td>
                    <td>
                      2
                    </td>
                    <td>
                      1
                    </td>
                    <td>
                      1
                    </td>
                    <td>
                      3
                    </td>
                  </tr>
                  <tr>
                    <td>
                      3
                    </td>
                    <td>
                      Manchester City FC Manchester City FC
                    </td>
                    <td>
                      1
                    </td>
                    <td>
                      &nbsp;
                    </td>
                    <td>
                      &nbsp;
                    </td>
                    <td>
                      1
                    </td>
                    <td>
                      1
                    </td>
                    <td>
                      2
                    </td>
                    <td>
                      -1
                    </td>
                    <td>
                      &nbsp;
                    </td>
                  </tr>
                  <tr>
                    <td>
                      4
                    </td>
                    <td>
                      VfL Borussia Mönchengladbach VfL Borussia Mönchengladbach
                    </td>
                    <td>
                      1
                    </td>
                    <td>
                      &nbsp;
                    </td>
                    <td>
                      &nbsp;
                    </td>
                    <td>
                      1
                    </td>
                    <td>
                      &nbsp;
                    </td>
                    <td>
                      3
                    </td>
                    <td>
                      -3
                    </td>
                    <td>
                      &nbsp;
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div id="c13">
              <header>
                <h2>
                  <a href="http://www.uefa.com/uefachampionsleague/season=2016/standings/index.html">Table - Layout: Bordered Condensed Hover</a>
                </h2>
                <p>
                  <time datetime="2015-09-29">
                    September 29, 2015
                  </time>
                </p>
              </header>
              <table class="ce-table table table-bordered table-condensed table-hover">
                <caption>Group E</caption>
                <thead>
                  <tr>
                    <th>
                      &nbsp;
                    </th>
                    <th>
                      Clubs
                    </th>
                    <th>
                      P
                    </th>
                    <th>
                      W
                    </th>
                    <th>
                      D
                    </th>
                    <th>
                      L
                    </th>
                    <th>
                      F
                    </th>
                    <th>
                      A
                    </th>
                    <th>
                      +/-
                    </th>
                    <th>
                      Pts
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>
                      1
                    </td>
                    <td>
                      Bayer 04 Leverkusen Bayer 04 Leverkusen
                    </td>
                    <td>
                      1
                    </td>
                    <td>
                      1
                    </td>
                    <td>
                      &nbsp;
                    </td>
                    <td>
                      &nbsp;
                    </td>
                    <td>
                      4
                    </td>
                    <td>
                      1
                    </td>
                    <td>
                      3
                    </td>
                    <td>
                      3
                    </td>
                  </tr>
                  <tr>
                    <td>
                      2
                    </td>
                    <td>
                      FC Barcelona FC Barcelona
                    </td>
                    <td>
                      1
                    </td>
                    <td>
                      &nbsp;
                    </td>
                    <td>
                      1
                    </td>
                    <td>
                      &nbsp;
                    </td>
                    <td>
                      1
                    </td>
                    <td>
                      1
                    </td>
                    <td>
                      &nbsp;
                    </td>
                    <td>
                      1
                    </td>
                  </tr>
                  <tr>
                    <td>
                      3
                    </td>
                    <td>
                      AS Roma AS Roma
                    </td>
                    <td>
                      1
                    </td>
                    <td>
                      &nbsp;
                    </td>
                    <td>
                      1
                    </td>
                    <td>
                      &nbsp;
                    </td>
                    <td>
                      1
                    </td>
                    <td>
                      1
                    </td>
                    <td>
                      &nbsp;
                    </td>
                    <td>
                      1
                    </td>
                  </tr>
                  <tr>
                    <td>
                      4
                    </td>
                    <td>
                      FC BATE Borisov FC BATE Borisov
                    </td>
                    <td>
                      1
                    </td>
                    <td>
                      &nbsp;
                    </td>
                    <td>
                      &nbsp;
                    </td>
                    <td>
                      1
                    </td>
                    <td>
                      1
                    </td>
                    <td>
                      4
                    </td>
                    <td>
                      -3
                    </td>
                    <td>
                      &nbsp;
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
