{{!-- content example --}}

<div id="c35">
<h2>Nam iaculis nisi quis posuere gravida - Above, center</h2>
<div class="ce-textpic ce-center ce-above">
<div class="ce-gallery" data-ce-columns="1" data-ce-images="1">
  <div class="ce-outer">
    <div class="ce-inner">
      <div class="ce-row">
        <div class="ce-column">
          <figure>
            <a href="" target="thePicture">
              <img title="Pellentesque tristique" alt="img" src="images/foto1.jpg" width="600" height="400">
            </a>
            <figcaption>
              Pellentesque tristique erat ac metus tristique efficitur
            </figcaption>
          </figure>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="ce-bodytext">
  <p>Duis sagittis, lorem in porttitor vestibulum, quam tellus venenatis velit, vitae aliquam mauris nunc vel justo. Donec vel consequat tortor. Etiam hendrerit id massa sit amet lobortis. Maecenas in risus quam. Pellentesque id libero vitae
    nibh feugiat porttitor eget id purus. Morbi accumsan volutpat orci, a ultricies lectus venenatis eget. Vivamus malesuada, ante id tempor bibendum, est quam tempor sem, in vulputate arcu metus a lectus. Ut lacinia non arcu a aliquet.
    Nam vitae justo velit. Donec sollicitudin dapibus est a mattis. Vivamus congue, magna sed aliquet lobortis, libero orci consequat quam, non dictum elit lorem ac erat. Vestibulum ac quam vel neque fringilla lacinia. Praesent est augue,
    consequat quis mauris sit amet, fermentum viverra turpis.
  </p>
  <p>Nam iaculis nisi quis posuere gravida. Integer odio arcu, ullamcorper vitae lacus eget, tincidunt viverra nunc. In ultricies urna id magna molestie, nec dapibus mi pellentesque. Nulla lacus turpis, sodales vestibulum diam eu, vestibulum
    ultrices metus. Nunc et condimentum enim. Suspendisse placerat ligula non magna fringilla sodales. Proin vel malesuada orci. Fusce at tortor non lacus volutpat pharetra. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur
    ridiculus mus. Mauris maximus orci auctor lacus porta, nec feugiat arcu viverra. Nunc dignissim, ex ut ultricies ultrices, sapien erat finibus est, eget aliquam libero lacus ac sem.</p>
</div>
</div>
</div>
<div id="c36">
<h2>Nam iaculis nisi quis posuere gravida - Above, right</h2>
<div class="ce-textpic ce-right ce-above">
<div class="ce-gallery" data-ce-columns="1" data-ce-images="1">
  <div class="ce-row">
    <div class="ce-column">
      <figure>
        <a href="http://www.mff.se" target="_blank">
          <img title="Pellentesque tristique" alt="Pellentesque tristique" src="images/foto1.jpg" width="600" height="400">
        </a>
        <figcaption>
          Pellentesque tristique erat ac metus tristique efficitur
        </figcaption>
      </figure>
    </div>
  </div>
</div>
<div class="ce-bodytext">
  <p>Duis sagittis, lorem in porttitor vestibulum, quam tellus venenatis velit, vitae aliquam mauris nunc vel justo. Donec vel consequat tortor. Etiam hendrerit id massa sit amet lobortis. Maecenas in risus quam. Pellentesque id libero vitae
    nibh feugiat porttitor eget id purus. Morbi accumsan volutpat orci, a ultricies lectus venenatis eget. Vivamus malesuada, ante id tempor bibendum, est quam tempor sem, in vulputate arcu metus a lectus. Ut lacinia non arcu a aliquet.
    Nam vitae justo velit. Donec sollicitudin dapibus est a mattis. Vivamus congue, magna sed aliquet lobortis, libero orci consequat quam, non dictum elit lorem ac erat. Vestibulum ac quam vel neque fringilla lacinia. Praesent est augue,
    consequat quis mauris sit amet, fermentum viverra turpis.
  </p>
  <p>Nam iaculis nisi quis posuere gravida. Integer odio arcu, ullamcorper vitae lacus eget, tincidunt viverra nunc. In ultricies urna id magna molestie, nec dapibus mi pellentesque. Nulla lacus turpis, sodales vestibulum diam eu, vestibulum
    ultrices metus. Nunc et condimentum enim. Suspendisse placerat ligula non magna fringilla sodales. Proin vel malesuada orci. Fusce at tortor non lacus volutpat pharetra. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur
    ridiculus mus. Mauris maximus orci auctor lacus porta, nec feugiat arcu viverra. Nunc dignissim, ex ut ultricies ultrices, sapien erat finibus est, eget aliquam libero lacus ac sem.</p>
</div>
</div>
</div>
<div id="c37">
<h2>Nam iaculis nisi quis posuere gravida - Above, left</h2>
<div class="ce-textpic ce-left ce-above">
<div class="ce-gallery" data-ce-columns="1" data-ce-images="1">
  <div class="ce-row">
    <div class="ce-column">
      <figure>
        <a href="http://www.mff.se" target="_blank">
          <img title="Pellentesque tristique" alt="Pellentesque tristique" src="images/foto1.jpg" width="600" height="400">
        </a>
        <figcaption>
          Pellentesque tristique erat ac metus tristique efficitur
        </figcaption>
      </figure>
    </div>
  </div>
</div>
<div class="ce-bodytext">
  <p>Duis sagittis, lorem in porttitor vestibulum, quam tellus venenatis velit, vitae aliquam mauris nunc vel justo. Donec vel consequat tortor. Etiam hendrerit id massa sit amet lobortis. Maecenas in risus quam. Pellentesque id libero vitae
    nibh feugiat porttitor eget id purus. Morbi accumsan volutpat orci, a ultricies lectus venenatis eget. Vivamus malesuada, ante id tempor bibendum, est quam tempor sem, in vulputate arcu metus a lectus. Ut lacinia non arcu a aliquet.
    Nam vitae justo velit. Donec sollicitudin dapibus est a mattis. Vivamus congue, magna sed aliquet lobortis, libero orci consequat quam, non dictum elit lorem ac erat. Vestibulum ac quam vel neque fringilla lacinia. Praesent est augue,
    consequat quis mauris sit amet, fermentum viverra turpis.
  </p>
  <p>Nam iaculis nisi quis posuere gravida. Integer odio arcu, ullamcorper vitae lacus eget, tincidunt viverra nunc. In ultricies urna id magna molestie, nec dapibus mi pellentesque. Nulla lacus turpis, sodales vestibulum diam eu, vestibulum
    ultrices metus. Nunc et condimentum enim. Suspendisse placerat ligula non magna fringilla sodales. Proin vel malesuada orci. Fusce at tortor non lacus volutpat pharetra. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur
    ridiculus mus. Mauris maximus orci auctor lacus porta, nec feugiat arcu viverra. Nunc dignissim, ex ut ultricies ultrices, sapien erat finibus est, eget aliquam libero lacus ac sem.</p>
</div>
</div>
</div>
<div id="c38">
<h2>Nam iaculis nisi quis posuere gravida - Below, center</h2>
<div class="ce-textpic ce-center ce-below">
<div class="ce-bodytext">
  <p>Duis sagittis, lorem in porttitor vestibulum, quam tellus venenatis velit, vitae aliquam mauris nunc vel justo. Donec vel consequat tortor. Etiam hendrerit id massa sit amet lobortis. Maecenas in risus quam. Pellentesque id libero vitae
    nibh feugiat porttitor eget id purus. Morbi accumsan volutpat orci, a ultricies lectus venenatis eget. Vivamus malesuada, ante id tempor bibendum, est quam tempor sem, in vulputate arcu metus a lectus. Ut lacinia non arcu a aliquet.
    Nam vitae justo velit. Donec sollicitudin dapibus est a mattis. Vivamus congue, magna sed aliquet lobortis, libero orci consequat quam, non dictum elit lorem ac erat. Vestibulum ac quam vel neque fringilla lacinia. Praesent est augue,
    consequat quis mauris sit amet, fermentum viverra turpis.
  </p>
  <p>Nam iaculis nisi quis posuere gravida. Integer odio arcu, ullamcorper vitae lacus eget, tincidunt viverra nunc. In ultricies urna id magna molestie, nec dapibus mi pellentesque. Nulla lacus turpis, sodales vestibulum diam eu, vestibulum
    ultrices metus. Nunc et condimentum enim. Suspendisse placerat ligula non magna fringilla sodales. Proin vel malesuada orci. Fusce at tortor non lacus volutpat pharetra. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur
    ridiculus mus. Mauris maximus orci auctor lacus porta, nec feugiat arcu viverra. Nunc dignissim, ex ut ultricies ultrices, sapien erat finibus est, eget aliquam libero lacus ac sem.</p>
</div>
<div class="ce-gallery" data-ce-columns="1" data-ce-images="1">
  <div class="ce-outer">
    <div class="ce-inner">
      <div class="ce-row">
        <div class="ce-column">
          <figure>
            <a href="images/foto1.jpg" class="lightbox" target="_blank">
              <img title="Pellentesque tristique" alt="Pellentesque tristique" src="images/foto1.jpg" width="600" height="400">
            </a>
            <figcaption>
              Pellentesque tristique erat ac metus tristique efficitur
            </figcaption>
          </figure>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
</div>
<div id="c39">
<h2>Nam iaculis nisi quis posuere gravida - Below, right</h2>
<div class="ce-textpic ce-right ce-below">
<div class="ce-bodytext">
  <p>Duis sagittis, lorem in porttitor vestibulum, quam tellus venenatis velit, vitae aliquam mauris nunc vel justo. Donec vel consequat tortor. Etiam hendrerit id massa sit amet lobortis. Maecenas in risus quam. Pellentesque id libero vitae
    nibh feugiat porttitor eget id purus. Morbi accumsan volutpat orci, a ultricies lectus venenatis eget. Vivamus malesuada, ante id tempor bibendum, est quam tempor sem, in vulputate arcu metus a lectus. Ut lacinia non arcu a aliquet.
    Nam vitae justo velit. Donec sollicitudin dapibus est a mattis. Vivamus congue, magna sed aliquet lobortis, libero orci consequat quam, non dictum elit lorem ac erat. Vestibulum ac quam vel neque fringilla lacinia. Praesent est augue,
    consequat quis mauris sit amet, fermentum viverra turpis.
  </p>
  <p>Nam iaculis nisi quis posuere gravida. Integer odio arcu, ullamcorper vitae lacus eget, tincidunt viverra nunc. In ultricies urna id magna molestie, nec dapibus mi pellentesque. Nulla lacus turpis, sodales vestibulum diam eu, vestibulum
    ultrices metus. Nunc et condimentum enim. Suspendisse placerat ligula non magna fringilla sodales. Proin vel malesuada orci. Fusce at tortor non lacus volutpat pharetra. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur
    ridiculus mus. Mauris maximus orci auctor lacus porta, nec feugiat arcu viverra. Nunc dignissim, ex ut ultricies ultrices, sapien erat finibus est, eget aliquam libero lacus ac sem.</p>
</div>
<div class="ce-gallery" data-ce-columns="1" data-ce-images="1">
  <div class="ce-row">
    <div class="ce-column">
      <figure>
        <a href="http://www.mff.se" target="_blank">
          <img title="Pellentesque tristique" alt="Pellentesque tristique" src="images/foto1.jpg" width="600" height="400">
        </a>
        <figcaption>
          Pellentesque tristique erat ac metus tristique efficitur
        </figcaption>
      </figure>
    </div>
  </div>
</div>
</div>
</div>
<div id="c40">
<h2>Nam iaculis nisi quis posuere gravida - Below, left</h2>
<div class="ce-textpic ce-left ce-below">
<div class="ce-bodytext">
  <p>Duis sagittis, lorem in porttitor vestibulum, quam tellus venenatis velit, vitae aliquam mauris nunc vel justo. Donec vel consequat tortor. Etiam hendrerit id massa sit amet lobortis. Maecenas in risus quam. Pellentesque id libero vitae
    nibh feugiat porttitor eget id purus. Morbi accumsan volutpat orci, a ultricies lectus venenatis eget. Vivamus malesuada, ante id tempor bibendum, est quam tempor sem, in vulputate arcu metus a lectus. Ut lacinia non arcu a aliquet.
    Nam vitae justo velit. Donec sollicitudin dapibus est a mattis. Vivamus congue, magna sed aliquet lobortis, libero orci consequat quam, non dictum elit lorem ac erat. Vestibulum ac quam vel neque fringilla lacinia. Praesent est augue,
    consequat quis mauris sit amet, fermentum viverra turpis.
  </p>
  <p>Nam iaculis nisi quis posuere gravida. Integer odio arcu, ullamcorper vitae lacus eget, tincidunt viverra nunc. In ultricies urna id magna molestie, nec dapibus mi pellentesque. Nulla lacus turpis, sodales vestibulum diam eu, vestibulum
    ultrices metus. Nunc et condimentum enim. Suspendisse placerat ligula non magna fringilla sodales. Proin vel malesuada orci. Fusce at tortor non lacus volutpat pharetra. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur
    ridiculus mus. Mauris maximus orci auctor lacus porta, nec feugiat arcu viverra. Nunc dignissim, ex ut ultricies ultrices, sapien erat finibus est, eget aliquam libero lacus ac sem.</p>
</div>
<div class="ce-gallery" data-ce-columns="1" data-ce-images="1">
  <div class="ce-row">
    <div class="ce-column">
      <figure>
        <a href="http://www.mff.se" target="_blank">
          <img title="Pellentesque tristique" alt="Pellentesque tristique" src="images/foto1.jpg" width="600" height="400">
        </a>
        <figcaption>
          Pellentesque tristique erat ac metus tristique efficitur
        </figcaption>
      </figure>
    </div>
  </div>
</div>
</div>
</div>
<div id="c33">
<h2>Nam iaculis nisi quis posuere gravida - In text, left</h2>
<div class="ce-textpic ce-left ce-intext">
<div class="ce-gallery" data-ce-columns="1" data-ce-images="1">
  <div class="ce-row">
    <div class="ce-column">
      <figure>
        <a href="http://www.mff.se" target="_blank">
          <img title="Pellentesque tristique" alt="Pellentesque tristique" src="images/foto1.jpg" width="300" height="200">
        </a>
        <figcaption>
          Pellentesque tristique erat ac metus tristique efficitur
        </figcaption>
      </figure>
    </div>
  </div>
</div>
<div class="ce-bodytext">
  <p>Duis sagittis, lorem in porttitor vestibulum, quam tellus venenatis velit, vitae aliquam mauris nunc vel justo. Donec vel consequat tortor. Etiam hendrerit id massa sit amet lobortis. Maecenas in risus quam. Pellentesque id libero vitae
    nibh feugiat porttitor eget id purus. Morbi accumsan volutpat orci, a ultricies lectus venenatis eget. Vivamus malesuada, ante id tempor bibendum, est quam tempor sem, in vulputate arcu metus a lectus. Ut lacinia non arcu a aliquet.
    Nam vitae justo velit. Donec sollicitudin dapibus est a mattis. Vivamus congue, magna sed aliquet lobortis, libero orci consequat quam, non dictum elit lorem ac erat. Vestibulum ac quam vel neque fringilla lacinia. Praesent est augue,
    consequat quis mauris sit amet, fermentum viverra turpis.
  </p>
  <p>Nam iaculis nisi quis posuere gravida. Integer odio arcu, ullamcorper vitae lacus eget, tincidunt viverra nunc. In ultricies urna id magna molestie, nec dapibus mi pellentesque. Nulla lacus turpis, sodales vestibulum diam eu, vestibulum
    ultrices metus. Nunc et condimentum enim. Suspendisse placerat ligula non magna fringilla sodales. Proin vel malesuada orci. Fusce at tortor non lacus volutpat pharetra. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur
    ridiculus mus. Mauris maximus orci auctor lacus porta, nec feugiat arcu viverra. Nunc dignissim, ex ut ultricies ultrices, sapien erat finibus est, eget aliquam libero lacus ac sem.</p>
</div>
</div>
</div>
<div id="c34">
<h2>Nam iaculis nisi quis posuere gravida - In text, right</h2>
<div class="ce-textpic ce-right ce-intext">
<div class="ce-gallery" data-ce-columns="1" data-ce-images="1">
  <div class="ce-row">
    <div class="ce-column">
      <figure>
        <a href="http://www.mff.se" target="_blank">
          <img title="Pellentesque tristique" alt="Pellentesque tristique" src="images/foto1.jpg" width="300" height="200">
        </a>
        <figcaption>
          Pellentesque tristique erat ac metus tristique efficitur
        </figcaption>
      </figure>
    </div>
  </div>
</div>
<div class="ce-bodytext">
  <p>Duis sagittis, lorem in porttitor vestibulum, quam tellus venenatis velit, vitae aliquam mauris nunc vel justo. Donec vel consequat tortor. Etiam hendrerit id massa sit amet lobortis. Maecenas in risus quam. Pellentesque id libero vitae
    nibh feugiat porttitor eget id purus. Morbi accumsan volutpat orci, a ultricies lectus venenatis eget. Vivamus malesuada, ante id tempor bibendum, est quam tempor sem, in vulputate arcu metus a lectus. Ut lacinia non arcu a aliquet.
    Nam vitae justo velit. Donec sollicitudin dapibus est a mattis. Vivamus congue, magna sed aliquet lobortis, libero orci consequat quam, non dictum elit lorem ac erat. Vestibulum ac quam vel neque fringilla lacinia. Praesent est augue,
    consequat quis mauris sit amet, fermentum viverra turpis.
  </p>
  <p>Nam iaculis nisi quis posuere gravida. Integer odio arcu, ullamcorper vitae lacus eget, tincidunt viverra nunc. In ultricies urna id magna molestie, nec dapibus mi pellentesque. Nulla lacus turpis, sodales vestibulum diam eu, vestibulum
    ultrices metus. Nunc et condimentum enim. Suspendisse placerat ligula non magna fringilla sodales. Proin vel malesuada orci. Fusce at tortor non lacus volutpat pharetra. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur
    ridiculus mus. Mauris maximus orci auctor lacus porta, nec feugiat arcu viverra. Nunc dignissim, ex ut ultricies ultrices, sapien erat finibus est, eget aliquam libero lacus ac sem.</p>
</div>
</div>
</div>
<div id="c41">
<div class="ce-textpic ce-right ce-intext ce-nowrap">
<div class="ce-gallery" data-ce-columns="1" data-ce-images="1">
  <div class="ce-row">
    <div class="ce-column">
      <figure>
        <a href="http://www.mff.se" target="_blank">
          <img title="Pellentesque tristique" alt="Pellentesque tristique" src="images/foto1.jpg" width="300" height="200">
        </a>
        <figcaption>
          Pellentesque tristique erat ac metus tristique efficitur
        </figcaption>
      </figure>
    </div>
  </div>
</div>
<div class="ce-bodytext">
  <h2>Nam iaculis nisi quis posuere gravida - Beside text, right</h2>
  <p>Duis sagittis, lorem in porttitor vestibulum, quam tellus venenatis velit, vitae aliquam mauris nunc vel justo. Donec vel consequat tortor. Etiam hendrerit id massa sit amet lobortis. Maecenas in risus quam. Pellentesque id libero vitae
    nibh feugiat porttitor eget id purus. Morbi accumsan volutpat orci, a ultricies lectus venenatis eget. Vivamus malesuada, ante id tempor bibendum, est quam tempor sem, in vulputate arcu metus a lectus. Ut lacinia non arcu a aliquet.
    Nam vitae justo velit. Donec sollicitudin dapibus est a mattis. Vivamus congue, magna sed aliquet lobortis, libero orci consequat quam, non dictum elit lorem ac erat. Vestibulum ac quam vel neque fringilla lacinia. Praesent est augue,
    consequat quis mauris sit amet, fermentum viverra turpis.
  </p>
  <p>Nam iaculis nisi quis posuere gravida. Integer odio arcu, ullamcorper vitae lacus eget, tincidunt viverra nunc. In ultricies urna id magna molestie, nec dapibus mi pellentesque. Nulla lacus turpis, sodales vestibulum diam eu, vestibulum
    ultrices metus. Nunc et condimentum enim. Suspendisse placerat ligula non magna fringilla sodales. Proin vel malesuada orci. Fusce at tortor non lacus volutpat pharetra. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur
    ridiculus mus. Mauris maximus orci auctor lacus porta, nec feugiat arcu viverra. Nunc dignissim, ex ut ultricies ultrices, sapien erat finibus est, eget aliquam libero lacus ac sem.</p>
</div>
</div>
</div>
<div id="c42">
<div class="ce-textpic ce-left ce-intext ce-nowrap">
<div class="ce-gallery" data-ce-columns="1" data-ce-images="1">
  <div class="ce-row">
    <div class="ce-column">
      <figure>
        <a href="http://www.mff.se" target="_blank">
          <img title="Pellentesque tristique" alt="Pellentesque tristique" src="images/foto1.jpg" width="300" height="200">
        </a>
        <figcaption>
          Pellentesque tristique erat ac metus tristique efficitur
        </figcaption>
      </figure>
    </div>
  </div>
</div>
<div class="ce-bodytext">
  <h2>Nam iaculis nisi quis posuere gravida - Beside text, left</h2>
  <p>Duis sagittis, lorem in porttitor vestibulum, quam tellus venenatis velit, vitae aliquam mauris nunc vel justo. Donec vel consequat tortor. Etiam hendrerit id massa sit amet lobortis. Maecenas in risus quam. Pellentesque id libero vitae
    nibh feugiat porttitor eget id purus. Morbi accumsan volutpat orci, a ultricies lectus venenatis eget. Vivamus malesuada, ante id tempor bibendum, est quam tempor sem, in vulputate arcu metus a lectus. Ut lacinia non arcu a aliquet.
    Nam vitae justo velit. Donec sollicitudin dapibus est a mattis. Vivamus congue, magna sed aliquet lobortis, libero orci consequat quam, non dictum elit lorem ac erat. Vestibulum ac quam vel neque fringilla lacinia. Praesent est augue,
    consequat quis mauris sit amet, fermentum viverra turpis.
  </p>
  <p>Nam iaculis nisi quis posuere gravida. Integer odio arcu, ullamcorper vitae lacus eget, tincidunt viverra nunc. In ultricies urna id magna molestie, nec dapibus mi pellentesque. Nulla lacus turpis, sodales vestibulum diam eu, vestibulum
    ultrices metus. Nunc et condimentum enim. Suspendisse placerat ligula non magna fringilla sodales. Proin vel malesuada orci. Fusce at tortor non lacus volutpat pharetra. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur
    ridiculus mus. Mauris maximus orci auctor lacus porta, nec feugiat arcu viverra. Nunc dignissim, ex ut ultricies ultrices, sapien erat finibus est, eget aliquam libero lacus ac sem.</p>
</div>
</div>
</div>



<div id="c43" class="">
    <h2>Nam iaculis nisi quis posuere gravida, Multiple Media</h2>
    <div class="ce-textpic ce-center ce-above">
    <div class="ce-gallery" data-ce-columns="3" data-ce-images="6">
    <div class="ce-outer">
    <div class="ce-inner">
        <div class="ce-row">
            <div class="ce-column">
                <figure>
                    <a href="images/foto1.jpg" title="" class="lightbox">
                        <img data-caption="This is Öresundsbron, the bridge between Sweden and Denmark." title="Foto 1 title" alt="Foto 1 alternative text" src="images/foto1.jpg" width="192" height="128">
                    </a>
                    <figcaption>
                        This is Öresundsbron, the bridge between Sweden and Denmark.
                    </figcaption>
                </figure>
            </div>
            <div class="ce-column">
                <figure>
                    <a href="images/foto1.jpg" title="" class="lightbox">
                        <img data-caption="This is Öresundsbron, the bridge between Sweden and Denmark." title="Foto 1 title" alt="Foto 1 alternative text" src="images/foto1.jpg" width="192" height="128">
                    </a>
                    <figcaption>
                        This is Öresundsbron, the bridge between Sweden and Denmark.
                    </figcaption>
                </figure>
            </div>

            <div class="ce-column">
                <figure>
                    <a href="images/foto1.jpg" title="" class="lightbox">
                        <img data-caption="This is Öresundsbron, the bridge between Sweden and Denmark." title="Foto 1 title" alt="Foto 1 alternative text" src="images/foto1.jpg" width="192" height="128">
                    </a>
                    <figcaption>
                        This is Öresundsbron, the bridge between Sweden and Denmark.
                    </figcaption>
                </figure>
            </div>
        </div>
        <div class="ce-row">
            <div class="ce-column">
                <figure>
                    <a href="images/foto1.jpg" title="" class="lightbox">
                        <img data-caption="This is Öresundsbron, the bridge between Sweden and Denmark." title="Foto 1 title" alt="Foto 1 alternative text" src="images/foto1.jpg" width="192" height="128">
                    </a>
                    <figcaption>
                        This is Öresundsbron, the bridge between Sweden and Denmark.
                    </figcaption>
                </figure>
            </div>

            <div class="ce-column">
                <figure>
                    <a href="images/foto1.jpg" title="" class="lightbox">
                        <img data-caption="This is Öresundsbron, the bridge between Sweden and Denmark." title="Foto 1 title" alt="Foto 1 alternative text" src="images/foto1.jpg" width="192" height="128">
                    </a>
                    <figcaption>
                        This is Öresundsbron, the bridge between Sweden and Denmark.
                    </figcaption>
                </figure>
            </div>

            <div class="ce-column">
                <figure>
                    <a href="images/foto1.jpg" title="" class="lightbox">
                        <img data-caption="This is Öresundsbron, the bridge between Sweden and Denmark." title="Foto 1 title" alt="Foto 1 alternative text" src="images/foto1.jpg" width="192" height="128">
                    </a>
                    <figcaption>
                        This is Öresundsbron, the bridge between Sweden and Denmark.
                    </figcaption>
                </figure>
            </div>
        </div>
    </div>
    </div>
    </div>
    </div>
</div>
