<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">

<f:comment><!-- ### Wrapper class||Margin Top||Margin Bottom|Background Image start if set ### --></f:comment>
<f:if condition="{wrapperClass}{wrapperMarginTopClass}{wrapperMarginBottomClass}">
	<f:then>
		<f:if condition="{files.0}">
			<f:then>
				<div class="{wrapperClass} {wrapperMarginTopClass} {wrapperMarginBottomClass} col-bg-img" style="background-image: url('{f:uri.image(image : '{files.0}')}')">
			</f:then>
			<f:else>
				<div class="{wrapperClass} {wrapperMarginTopClass} {wrapperMarginBottomClass}">
			</f:else>
		</f:if>
	</f:then>
	<f:else>
		<f:if condition="{files.0}">
			<div class="col-bg-img" style="background-image: url('{f:uri.image(image : '{files.0}')}')">
		</f:if>
	</f:else>
</f:if>

<f:comment><!-- ### Div with content id and class ### --></f:comment>
	<div id="c{data.uid}" class="{f:if( condition: data.flexform_container, then: '{data.flexform_container} {layoutClass}', else: '{layoutClass}')}">
		<f:render partial="Header" arguments="{_all}" />
		<f:render section="content" />
		<f:render partial="Footer" arguments="{_all}" />
	</div>

<f:comment><!-- ### Wrapper class||Margin Top||Margin Bottom|Background Image end if set ### --></f:comment>
<f:if condition="{wrapperClass}{wrapperMarginTopClass}{wrapperMarginBottomClass}">
	<f:then>
		</div>
	</f:then>
	<f:else>
		<f:if condition="{files.0}">
			</div>
		</f:if>
	</f:else>
</f:if>

</html>

