<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">

<f:comment><!-- ### Wrapper class||Margin Top||Margin Bottom start if set ### --></f:comment>
<f:if condition="{wrapperClass}{wrapperMarginTopClass}{wrapperMarginBottomClass}">
	<div class="{wrapperClass} {wrapperMarginTopClass} {wrapperMarginBottomClass}">
</f:if>

<f:comment><!-- ### element body ### --></f:comment>
<div id="c{data.uid}">
	<f:render partial="Header" arguments="{_all}" />
	<f:render section="content" />
	<f:render partial="Footer" arguments="{_all}" />
</div>

<f:comment><!-- ### Wrapper class||Margin Top||Margin Bottom end if set ### --></f:comment>
<f:if condition="{wrapperClass}{wrapperMarginTopClass}{wrapperMarginBottomClass}">
	</div>
</f:if>

</html>
