.parallax {
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    max-width: 1920px;
    margin: 0 auto;

    &:before,
    &:after {
        content: "";
        display: table;
        height: 0;
    }
}

@media (min-width: @screen-xs-min) {
    .no-touch.nonIE .parallax-video {
        background-image: none !important;
    }
}
