{namespace xtools=T3kit\T3kitExtensionTools\ViewHelpers}

<div xmlns="http://www.w3.org/1999/xhtml" lang="en"
	xmlns:f="http://typo3.org/ns/fluid/ViewHelpers">
	<f:if condition="{records}">
		<div class="row">
			<f:for each="{xtools:get.records(recordList : records)}" as="column" iteration="columnIteration">
	        	<f:if condition="{column}">
					<f:if condition="{columnIteration.total} <= 4">
				        <div class="{f:if( condition: '{columnIteration.total} == 1', then: 'col-md-12')} {f:if( condition: '{columnIteration.total} == 2', then: 'col-md-6')} {f:if( condition: '{columnIteration.total} == 3', then: 'col-md-4')} {f:if( condition: '{columnIteration.total} == 4', then: 'col-md-3')}">
			        		<div class="panel panel-default">
			        			<div class="panel-heading">
			        				<xtools:be.iconAndTitleLinkForRecord record="{column}" />
			        			</div>
			        			<div class="panel-body">
			        				<ul class="list-unstyled">
			        				</ul>
			        			</div>
			        		</div>
						</div>
		        	</f:if>
					<f:if condition="{columnIteration.total} > 4">
		        	</f:if>
				</f:if>
			</f:for>
		</div>
	</f:if>
</div>
