{namespace xtools=T3kit\T3kitExtensionTools\ViewHelpers}

<div xmlns="http://www.w3.org/1999/xhtml" lang="en"
	xmlns:f="http://typo3.org/ns/fluid/ViewHelpers">

	<f:if condition="{records}">
		<div class="row">
		<f:for each="{xtools:get.records(recordList : records, flexform2array : 1)}" as="column">
			<div class="{f:if( condition: column.pi_flexform.colxs, then: 'col-xs-{column.pi_flexform.colxs}')} {f:if( condition: column.pi_flexform.colsm, then: 'col-sm-{column.pi_flexform.colsm}')} {f:if( condition: column.pi_flexform.colmd, then: 'col-md-{column.pi_flexform.colmd}')} {f:if( condition: column.pi_flexform.collg, then: 'col-lg-{column.pi_flexform.collg}')}">
				<f:if condition="{column.records}">
					<div class="panel panel-default">
						<div class="panel-heading">
							<xtools:be.iconAndTitleLinkForRecord record="{column}" />
						</div>
						<div class="panel-body">
							<ul class="list-unstyled">
							<f:for each="{xtools:get.records(recordList : column.records)}" as="content">
								<li><xtools:be.iconAndTitleLinkForRecord record="{content}" /></li>
							</f:for>
							</ul>
						</div>
					</div>
				</f:if>
			</div>
		</f:for>
		</div>
	</f:if>
</div>
