<header class="header">

<div class="header-top-wrp">
    {{#is this.showHeaderTop "true"}}

        <div class="header-top">
            {{!-- {{#is this.showHeaderTopToggleBtn "true"}} --}}
                <div class="header-top__main-navigation-toggle-btn">
                    <button type="button" class="main-navigation__toggle-btn js__main-navigation__toggle-btn" >
                        <span>toggle menu</span>
                    </button>
                </div>
            {{!-- {{/is}} --}}
            {{#is this.showHeaderTopContacts "true"}}
                <div class="header-top__contact">
                    <div class="header-top__contact-tel">
                        <span class="icons icon-t3-mobile"></span>
                        <span class="header-top__contact-tel-title">Call us on</span>
                        <a class="header-top__contact-tel-link" href="tel:+46-40-617-1230">tel:+46 (40) 617-1230</a>
                    </div>
                    <div class="header-top__contact-email">
                        <span class="icons icon-t3-mail"></span>
                        <span class="header-top__contact-email-title">Email us at</span>
                        <a class="header-top__contact-email-link" href="#">info@info.se</a>
                    </div>
                </div>
            {{/is}}

            {{#is this.showHeaderTopLangMenu "true"}}
                <div class="header-top__language-menu">
                    <a class="header-top__language-menu-btn js__header-top__language-menu-btn" href="/#">
                        <span class="main-flag-icon flag-icon flag-icon-gb"></span>
                    </a>
                    <div class="header-top__language-menu-box js__header-top__language-menu-box">
                        <a href="" class="header-top__language-menu-box-item active"><span class="flag-icon flag-icon-gb"></span> English</a>
                        <a class="header-top__language-menu-box-item" href=""><span class="flag-icon flag-icon-de"></span> Deutsch</a>
                        <a class="header-top__language-menu-box-item" href=""><span class="flag-icon flag-icon-ro"></span> Română</a>
                        <a class="header-top__language-menu-box-item" href=""><span class="flag-icon flag-icon-se"></span> Svenska</a>
                        <a class="header-top__language-menu-box-item" href=""><span class="flag-icon flag-icon-ua"></span> Українська</a>
                        <a class="header-top__language-menu-box-close-btn js__header-top__language-menu-box-close-btn"></a>
                    </div>
                </div>
            {{/is}}

            {{#is showTopHeaderSearch "true"}}
                <form action="/solr.html" accept-charset="utf-8">
                    <div class="main-navigation__search-btn-wrp _header-top-search-btn">
                        <a class="main-navigation__search-btn js__main-navigation__search-btn" href="">Search<span></span></a>
                    </div>
                    <div class="main-navigation__search-box _header-top-search-btn js__main-navigation__search-box" ><input data-search="searchSuggest" placeholder="Search..." type="search"></div>
                </form>
            {{/is}}

            {{#is this.showHeaderTopNav "true"}}
                <ul class="nav">
                    <li><a href="index.html"><span class="icons icon-home"></span>Home</a></li>
                    <li><a href="siteMap.html"><span class="icons icon-flow-tree"></span>Sitemap</a></li>
                    <li><a href="login.html"><span class="icons icon-user"></span>Login</a></li>
                </ul>
            {{/is}}
        </div>


    {{/is}}
</div>


{{#is this.showHeaderMiddle "true"}}
<div class="header-middle-wrp">
    <div class="header-middle">
        {{#is this.showHeaderMiddleLogo "true"}}
        <div class="header-middle__logo">
            <a class="header-middle__logo-link" href="index.html">
                <img class="header-middle__logo-img img-responsive" src="images/logo.png" alt="logo">
            </a>
        </div>
        {{/is}}

        {{#is this.showHeaderMiddleSocIcons "true"}}
            <div class="header-middle__social-icon">
                {{>socialIcons}}
            </div>
        {{/is}}
        {{#is this.showHeaderMiddleSearch "true"}}
            <div class="tx-solr">
                <div class="tx-solr-searchbox">
                    <form action="/solr.html" accept-charset="utf-8">
                        <div class="header-middle__search-wrp" >
                            <div class="header-middle__search-box" >
                                <input class="header-middle__search-input" data-search="searchSuggest" placeholder="Search..." type="search">
                                <button class="header-middle__search-submit" type="submit" value="Search"><span class="icons icon-t3-search"></span></button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        {{/is}}
    </div>
</div>
{{/is}}

{{>nav
    dropdownMenuWithColumns = false
}}

<div class="main-navigation__search-box-overlay js__main-navigation__search-box-overlay"></div>
<div class="header-top__language-menu-overlay js__header-top__language-menu-overlay"></div>


</header>
