<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<title>Page browser template</title>
</head>
<body>

<h1>Page browser</h1>
<!-- ###PAGE_BROWSER### begin -->
<div class="search-result-pagination btn-group" role="group" aria-label="...">

<!--TYPO3SEARCH_end-->
	<!-- ###ACTIVE_FIRST### begin -->
	<a href="###FIRST_LINK###" class="btn btn-default" title="###TEXT_FIRST###">&laquo;</a>
	<!-- ###ACTIVE_FIRST### end -->

	<!-- ###INACTIVE_FIRST### begin -->
    <a href="###FIRST_LINK###" class="btn btn-default disabled" title="###TEXT_FIRST###">&laquo;</a>
	<!-- ###INACTIVE_FIRST### end -->

	<!-- ###ACTIVE_PREV### begin -->
	<a href="###PREV_LINK###" class="btn btn-default" title="###TEXT_PREV###">&lsaquo;</a>
	<!-- ###ACTIVE_PREV### end -->

	<!-- ###INACTIVE_PREV### begin -->
    <a href="###PREV_LINK###" class="btn btn-default disabled" title="###TEXT_PREV###">&lsaquo;</a>
	<!-- ###INACTIVE_PREV### end -->

	<!-- ###PAGES### begin -->
	<!--  ###LESS_PAGES### begin -->
    <a href="#" class="btn btn-default disabled">...</a>
	<!--  ###LESS_PAGES### end -->
	<!-- ###PAGE### begin -->
	<a href="###LINK###" class="btn btn-default">###NUMBER_DISPLAY###</a>
	<!-- ###PAGE### end -->
	<!-- ###CURRENT### begin -->
    <a href="###LINK###" class="btn btn-default disabled">###NUMBER_DISPLAY###</a>
	<!-- ###CURRENT### end -->
	<!--  ###MORE_PAGES### begin -->
	<a href="#" class="btn btn-default disabled">...</a>
	<!--  ###MORE_PAGES### end -->
	<!-- ###PAGES### end -->

	<!-- ###ACTIVE_NEXT### begin -->
	<a href="###NEXT_LINK###" class="btn btn-default" title="###TEXT_NEXT###">&rsaquo;</a>
	<!-- ###ACTIVE_NEXT### end -->

	<!-- ###INACTIVE_NEXT### begin -->
    <a href="###NEXT_LINK###" class="btn btn-default disabled" title="###TEXT_NEXT###">&rsaquo;</a>
	<!-- ###INACTIVE_NEXT### end -->

	<!-- ###ACTIVE_LAST### begin -->
	<a href="###LAST_LINK###" class="btn btn-default" title="###TEXT_LAST###">&raquo;</a>
	<!-- ###ACTIVE_LAST### end -->

	<!-- ###INACTIVE_LAST### begin -->
    <a href="###LAST_LINK###" class="btn btn-default disabled" title="###TEXT_LAST###">&raquo;</a>
	<!-- ###INACTIVE_LAST### end -->

<!--TYPO3SEARCH_begin-->
</div>
<!-- ###PAGE_BROWSER### end -->

</body>
</html>
