<html xmlns="http://www.w3.org/1999/xhtml" lang="en"
	  xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers"
	  xmlns:s="http://typo3.org/ns/ApacheSolrForTypo3/Solr/ViewHelpers">

<f:section name="Form">


	<div class="tx-solr-searchbox">

		<s:searchForm id="tx-solr-search-form-pi-results" additionalFilters="{additionalFilters}">
			<input type="hidden" name="L" value="{languageUid}" />
			<input type="hidden" name="id" value="{pageUid}" />

			<div class="header-middle__search-wrp" >
				<div class="header-middle__search-box" >
					<input type="text" class="tx-solr-q js-solr-q header-middle__search-input" name="{pluginNamespace}[q]" value="{q}" placeholder="{s:translate(key:'submit',default:'Search')}" data-search="searchSuggest" />
					<button class="tx-solr-submit header-middle__search-submit" type="submit" value="{s:translate(key:'submit',default:'Search')}"><span class="icons icon-t3-search"></span></button>
				</div>
			</div>
		</s:searchForm>

		<s:debug.query />
	</div>


</f:section>