<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">

<f:layout name="Default" />

<f:section name="Main">
<!-- theme_t3kit: Templates/ContentElements/Button.html [begin] -->
	<f:if condition="{data.header_link}">
		<f:link.typolink parameter="{data.header_link}" class="{layoutClass}{f:if(condition: settings.buttonSize, then: ' {settings.buttonSize}')}{f:if(condition: settings.blockLevel, then: ' btn-block')}">{data.header}</f:link.typolink>
	</f:if>
<!-- theme_t3kit: Templates/ContentElements/Button.html [end] -->
</f:section>

</html>

