<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">

<f:layout name="Default" />

<f:section name="Main">
<!-- theme_t3kit: Templates/ContentElements/HeroImage.html [begin] -->
	<f:if condition="{image}">
		<div class="hero-image js__hero-image"  style="background-image:url('{f:uri.image(image: image.0, maxWidth:'{f:if(condition: data.imagewidth, then: data.imagewidth, else: settings.maxWidth)}')}'); min-height: {settings.elementHeight}px">
			<div class="hero-image__caption-wrp {f:if(condition: '{settings.contentPosition} == 0', then: '_left-align')}{f:if(condition: '{settings.contentPosition} == 1', then: '_center-align')}{f:if(condition: '{settings.contentPosition} == 2', then: '_right-align')}">
				<div class="hero-image__caption {f:if(condition: '{settings.animationStyle} == 0', then: '', else: '_caption-animated-{settings.animationStyle}')}">
					<f:if condition="{data.header}">
						<h2 class="hero-image__caption-header">{data.header}</h2>
					</f:if>
					<f:if condition="{data.bodytext}">
						<h3 class="hero-image__caption-subheader">{data.bodytext}</h3>
					</f:if>
					<f:if condition="{settings.elementText}">
						<p class="hero-image__caption-p">{settings.elementText}</p>
					</f:if>
					<f:if condition="{data.header_link}">
						<div class="hero-image__caption-link ">
							<f:link.typolink parameter="{data.header_link}" title="{data.header}" class="{f:if(condition: settings.linkAsBtn, then: 'btn btn-default', else: '')}"> {data.subheader}</f:link.typolink>
						</div>
					</f:if>
				</div>
			</div>
		</div>
	</f:if>
<!-- theme_t3kit: Templates/ContentElements/HeroImage.html [end] -->
</f:section>

</html>
