<div xmlns="http://www.w3.org/1999/xhtml" lang="en" xmlns:f="http://typo3.org/ns/fluid/ViewHelpers">

	<f:layout name="ContentFooter" />
	<f:debug>{_all}</f:debug>

	<f:section name="content">


	<!-- theme_t3kit: Templates/ContentElements/ImageTextLink.html [begin] -->
	<div class="img-text-link {f:if(condition: settings.wholeAreaLink, then: '_whole-area-link-disabled', else: '_whole-area-link')}">

	    <f:if condition="{image}">
			<f:then>
				<f:for each="{image}" as="mediaItem" iteration="imageIteration">
					<f:if condition="{imageIteration.isFirst}">
						<f:render section="imageType" arguments="{_all}" />
					</f:if>
				</f:for>
			</f:then>

			<f:else>
				<f:if condition="{media}">
					<f:for each="{media}" as="mediaItem" iteration="mediaIteration">
						<f:if condition="{mediaIteration.isFirst}">
							<f:render section="media" arguments="{_all}" />
						</f:if>
					</f:for>
				</f:if>
			</f:else>
		</f:if>
		<f:if condition="{data.header}">
			<h3 class="img-text-link__header">{data.header}</h3>
		</f:if>
		<f:if condition="{data.bodytext}">
			<p class="img-text-link__p">{data.bodytext}</p>
		</f:if>
		<f:if condition="{data.header_link}">
			<f:link.typolink parameter="{data.header_link}" title="{data.subheader}" class="img-text-link__link {f:if(condition: settings.linkAsBtn, then: 'btn btn-default', else: '')}">{data.subheader}</f:link.typolink>
		</f:if>
		<f:if condition="{settings.wholeAreaLink} == 0">
		    <span class="img-text-link__sham-link">{data.subheader}</span> 
		</f:if>

	</div>
	<!-- theme_t3kit: Templates/ContentElements/ImageTextLink.html [end] -->
	</f:section>

	<f:section name="imageType">
		<f:if condition="{mediaItem.link}">
			<f:then>
				<f:link.typolink title="{mediaItem.title}" class="img-text-link__img-link" parameter="{mediaItem.link}">
					<f:render section="media" arguments="{_all}" />
				</f:link.typolink>
			</f:then>

			<f:else>
				<f:render section="media" arguments="{_all}" />
			</f:else>

		</f:if>
	</f:section>
	<f:section name="media">
		<f:media
			file="{mediaItem}"
			width="{data.imagewidth}"
			height="{data.imageheight}"
			alt="{mediaItem.media.alternative}"
			title="{mediaItem.media.title}"
			class="img-text-link__img img-responsive"
		/>
	</f:section>
</div>
