<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">

<f:layout name="Default" />
<f:section name="Main">
<!-- theme_t3kit: Templates/ContentElements/LogoCarousel.html [begin] -->
	<f:if condition="{logos}">
		<div class="logo-carousel swiper-container js__logo-carousel" data-autoplay="{f:if(condition:'{settings.interval}==0', then:'false', else:'{settings.interval}')}">
			<div class="swiper-wrapper logo-carousel__wrp">
				<f:for each="{logos}" as="logo">
					<div class="swiper-slide logo-carousel__slide">
						<f:if condition="{logo.referenceProperties.link}">
							<f:then>
								<f:link.typolink parameter="{logo.referenceProperties.link}" class="logo-carousel__link" title="{logo.alternative}">
									<f:render section="renderLogo" arguments="{
										logoUid: logo.uid,
										alt: logo.alternative,
										title: logo.title,
										maxWidth: '{f:if(condition: data.imagewidth, then: data.imagewidth, else: settings.defaultMaxWidth)}',
										maxHeight: '{f:if(condition: data.imageheight, then: data.imageheight, else: settings.defaultMaxHeight)}'
										}" />
								</f:link.typolink>
							</f:then>
							<f:else>
								<f:render section="renderLogo" arguments="{
										logoUid: logo.uid,
										alt: logo.alternative,
										title: logo.title,
										maxWidth: '{f:if(condition: data.imagewidth, then: data.imagewidth, else: settings.defaultMaxWidth)}',
										maxHeight: '{f:if(condition: data.imageheight, then: data.imageheight, else: settings.defaultMaxHeight)}'
										}" />
							</f:else>
						</f:if>
					</div>
				</f:for>
			</div>
			<div class="js__logo-carousel__btn-next logo-carousel__btn-next swiper-button-next" role="button" tabindex="0"></div>
			<div class="js__logo-carousel__btn-prev logo-carousel__btn-prev swiper-button-prev" role="button" tabindex="0"></div>

			<f:comment> These labels are used in carousel.js for aria-labels in logo carousel.</f:comment>
			<script id="js__aria-labels" type="application/json">
				{
					"ariaLabel": {
						"prevSlideMessage": "<f:translate key='logoCarousel.ariaLabel.prevSlideMessage' extensionName='theme_t3kit' />",
						"nextSlideMessage": "<f:translate key='logoCarousel.ariaLabel.nextSlideMessage' extensionName='theme_t3kit' />",
						"firstSlideMessage": "<f:translate key='logoCarousel.ariaLabel.firstSlideMessage' extensionName='theme_t3kit' />",
						"lastSlideMessage": "<f:translate key='logoCarousel.ariaLabel.lastSlideMessage' extensionName='theme_t3kit' />",
						"paginationBulletMessage": "<f:translate key='logoCarousel.ariaLabel.paginationBulletMessage' extensionName='theme_t3kit' />"
					}
				}
			</script>
		</div>
	</f:if>
<!-- theme_t3kit: Templates/ContentElements/LogoCarousel.html [end] -->
</f:section>

<f:section name="renderLogo">
	<img src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==" data-src="{f:uri.image(src: logoUid, maxWidth: maxWidth, maxHeight: maxHeight, treatIdAsReference: 1)}"
		class="swiper-lazy img-responsive logo-carousel__img"
		alt="{alt}"
		title="{title}" />
	<div class="swiper-lazy-preloader"></div>
</f:section>

</html>
