{namespace xtools=T3kit\T3kitExtensionTools\ViewHelpers}
<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">

<f:layout name="Default" />
<f:section name="Header" />
<f:section name="Main">
<!-- theme_t3kit: Templates/ContentElements/Slider.html [begin] -->
	<f:if condition="{slides}">
		<div class="img-slider swiper-container js__img-slider" data-autoplay="{f:if(condition: '{settings.autoplay} > 0', then: settings.autoplay)}">
			<div class="swiper-wrapper img-slider__wrp">
				<f:for each="{slides}" as="image">
					<div class="swiper-slide img-slider__slide {xtools:get.arrayKeyValue(array: settings.appearance, key: image.referenceProperties.tx_themet3kit_slide_appearance)}">
						<div data-background="{f:uri.image(src: '{image.uid}', treatIdAsReference:"1", width:'{f:if(condition: data.imagewidth, then: data.imagewidth, else: settings.defaultWidth)}')}" class="swiper-lazy img-slider__slide-bg">
							<div class="swiper-lazy-preloader"></div>
							<div class="img-slider__caption {f:if(condition: '{settings.captionAlign} == 0', then: '_left-align')}{f:if(condition: '{settings.captionAlign} == 1', then: '_center-align')}{f:if(condition: '{settings.captionAlign} == 2', then: '_right-align')}">
								<f:if condition="{image.referenceProperties.alternative}">
									<h3 class="img-slider__caption-sub-header">{image.referenceProperties.alternative}</h3>
								</f:if>
								<f:if condition="{image.referenceProperties.title}">
									<h2 class="img-slider__caption-header">{image.referenceProperties.title}</h2>
								</f:if>
								<f:if condition="{image.referenceProperties.description}">
									<p class="img-slider__caption-p js__img-slider__caption-p">{image.referenceProperties.description}</p>
								</f:if>
								<f:if condition="{image.referenceProperties.link}">
									<f:if condition="{image.referenceProperties.tx_themet3kit_slide_btn_txt}">
										<f:then>
											<f:link.typolink parameter="{image.referenceProperties.link}" class="img-slider__caption-link">{image.referenceProperties.tx_themet3kit_slide_btn_txt}</f:link.typolink>
										</f:then>
										<f:else>
											<f:link.typolink parameter="{image.referenceProperties.link}" class="img-slider__caption-link"><f:translate key="contentElement.slider.linkText" extensionName="theme_t3kit" /></f:link.typolink>
										</f:else>
									</f:if>
								</f:if>
							</div>
						</div>
					</div>
				</f:for>
			</div>
			<f:comment><!-- If there are more than one image --></f:comment>
			<f:if condition="{slides->f:count()} > 1">
				<f:comment><!-- Add Pagination --></f:comment>
				<div class="js__img-slider__pagination img-slider__pagination swiper-pagination swiper-pagination-white img-slider__pagination"></div>
				<f:comment><!-- Navigation --></f:comment>
				<div class="js__img-slider__btn-next img-slider__btn-next swiper-button-next swiper-button-white"></div>
				<div class="js__img-slider__btn-prev img-slider__btn-prev swiper-button-prev swiper-button-white"></div>
			</f:if>
		</div>
	</f:if>
<!-- theme_t3kit: Templates/ContentElements/Slider.html [end] -->
</f:section>

</html>
