{namespace theme=KayStrobach\Themes\ViewHelpers}

<f:if condition="{languages}">
	<div class="dropdown language-menu_dropdown">
		<button class="btn language-menu_dropdown-button dropdown-toggle" type="button" id="language-menu" data-toggle="dropdown">
			<f:translate key="languageMenu_label" extensionName="theme_t3kit"/>
			<span class="language-menu_dropdown-button__caret caret"></span>
		</button>
		<ul role="menu" class="dropdown-menu dropdown-menu-right" aria-labelledby="language-menu">
			<f:for each="{languages}" as="language">
				<f:if condition="{language.active}">
					<f:then>
						<li role="presentation" class="active"><a href="#" role="menuitem" tabindex="-1">{language.title}</a></li>
					</f:then>
					<f:else>
						<li role="separator" class="divider"></li>
						<li role="presentation">
							<f:link.page addQueryString="1"
								additionalParams="{L: language.languageId}"
								title="{language.title}"
								class="header-top__language-menu-item-link"
								additionalAttributes="{role: 'menuitem', tabindex: '-1'}"
								argumentsToBeExcludedFromQueryString="{0: 'id'}"><f:spaceless>
								{language.navigationTitle}
							</f:spaceless></f:link.page>
						</li>
					</f:else>
				</f:if>
			</f:for>
		</ul>
	</div>
</f:if>

<f:comment><!-- need to have current language in language variable --></f:comment>
<f:section name="getLanguageFlag">
	<f:variable name="getLanguageFlag">unknown</f:variable>
	<f:if condition="{language.languageId} == 0">
		<f:then>
			<f:variable name="getLanguageFlag">{defaultLanguageFlag}</f:variable>
		</f:then>
		<f:else>
			<f:for each="{sysLanguages}" as="sysLanguage">
				<f:if condition="{sysLanguage.data.uid} == {language.languageId}">
					<f:variable name="getLanguageFlag">{sysLanguage.data.flag}</f:variable>
				</f:if>
			</f:for>
		</f:else>
	</f:if>
	{getLanguageFlag}
</f:section>