<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:theme="http://typo3.org/ns/KayStrobach/Themes/ViewHelpers"
      data-namespace-typo3-fluid="true">
<f:if condition="{languages}">
    <div class="header-top__language-menu">
        <f:for each="{languages}" as="language">
            <f:if condition="{language.active}">
                <a class="header-top__language-menu-btn js__header-top__language-menu-btn" href="#">
                    <span class="main-flag-icon flag-icon flag-icon-{language.flagIdentifier}"></span>
                    <f:if condition="{theme:constant(constant:'themes.configuration.elem.status.showHeaderTopLangLabel')}">
                        <span class="main-flag-language flag-language">{f:translate(key:'languageMenu_label', extensionName:'ThemeT3kit')}</span>
                    </f:if>
                </a>
            </f:if>
        </f:for>
        <div class="header-top__language-menu-box js__header-top__language-menu-box">
            <f:for each="{languages}" as="language">
                <f:if condition="{language.available}">
                    <f:then>
                        <a href="{language.link}"
                           title="{language.title}"
                           class="header-top__language-menu-box-item{f:if(condition: language.active, then: ' active')}">
                            <span class="flag-icon flag-icon-{language.flagIdentifier}"></span> {language.navigationTitle}
                        </a>
                    </f:then>
                    <f:else>
                        <span title="{language.title}" class="header-top__language-menu-box-item">
                            <span class="flag-icon flag-icon-{language.flagIdentifier}"></span> {language.navigationTitle}
                        </span>
                    </f:else>
                </f:if>
            </f:for>
            <button class="header-top__language-menu-box-close-btn js__header-top__language-menu-box-close-btn"></button>
        </div>
    </div>
</f:if>
</html>
