{namespace n=GeorgRinger\News\ViewHelpers}<!--
	=====================
		Partials/List/Item.html
-->
<article class="news-list-view__listview  articletype-{newsItem.type}{f:if(condition: newsItem.istopnews, then: ' topnews')}" itemscope="itemscope" itemtype="http://schema.org/Article">
	<n:excludeDisplayedNews newsItem="{newsItem}"/>
	<!-- header -->
	<f:if condition="{newsItem.falMedia}">
		<!-- fal media preview element -->
		<f:then>
			<div class="news-img-wrap">
				<f:if condition="{newsItem.falMediaPreviews}">
					<f:then>
						<n:link newsItem="{newsItem}" settings="{settings}" title="{newsItem.title}">
							<f:alias map="{mediaElement: newsItem.falMediaPreviews.0}">
								<f:if condition="{mediaElement.originalResource.type} == 2">
									<div class="news-list-view__listViewImage"  style="background-image:url('{f:uri.image(src: mediaElement.uid, treatIdAsReference: 1)}');"></div>
								</f:if>
								<f:if condition="{mediaElement.originalResource.type} == 4">
									<f:media file="{mediaElement}" additionalConfig="{loop: '0', autoplay: '0'}" />
								</f:if>
								<f:if condition="{mediaElement.originalResource.type} == 5">
									<div class="news-list-view__listViewImage"  style="background-image:url('{f:uri.image(src: mediaElement.uid, treatIdAsReference: 1)}');"></div>
								</f:if>
							</f:alias>
						</n:link>
					</f:then>
					<f:else>
						<f:if condition="{settings.displayDummyIfNoMedia}">
							<div class="no-media-element">
								<n:link newsItem="{newsItem}" settings="{settings}" title="{newsItem.title}">
									<f:image src="{settings.list.media.dummyImage}" title="" alt="" maxWidth="{settings.list.media.listView.maxWidth}" maxHeight="{settings.list.media.image.maxHeight}"/>
								</n:link>
							</div>
						</f:if>
					</f:else>
				</f:if>
			</div>
		</f:then>
		<f:else>
			<f:if condition="{newsItem.media}">
				<!-- media preview element -->
				<f:then>
					<div class="news-img-wrap">
						<f:if condition="{newsItem.mediaPreviews}">
							<f:then>
								<n:link newsItem="{newsItem}" settings="{settings}" title="{newsItem.title}">
									<f:alias map="{mediaElement: newsItem.mediaPreviews.0}">
										<f:if condition="{mediaElement.type} == 0">
											<div class="news-list-view__listViewImage"  style="background-image:url('{f:uri.image(src: mediaElement.uid, treatIdAsReference: 1)}');"></div>
										</f:if>
										<f:if condition="{mediaElement.type} == 1">
											<f:media file="{mediaElement}" additionalConfig="{loop: '0', autoplay: '0'}" />
										</f:if>
										<f:if condition="{mediaElement.type} == 2">
											<f:render partial="Detail/MediaHtml" arguments="{mediaElement: mediaElement}"/>
										</f:if>
									</f:alias>
								</n:link>
							</f:then>
							<f:else>
								<f:if condition="{settings.displayDummyIfNoMedia}">
									<div class="no-media-element">
										<n:link newsItem="{newsItem}" settings="{settings}" title="{newsItem.title}">
											<f:image src="{settings.list.media.dummyImage}" title="" alt="" maxWidth="{settings.list.media.listView.maxWidth}" maxHeight="{settings.list.media.image.maxHeight}"/>
										</n:link>
									</div>
								</f:if>
							</f:else>
						</f:if>

					</div>
				</f:then>
				<f:else>
					<f:if condition="{settings.displayDummyIfNoMedia}">
						<f:then>
							<div class="news-img-wrap">
								<n:link newsItem="{newsItem}" settings="{settings}" title="{newsItem.title}">
									<div class="no-media-element">
										<f:image src="{settings.list.media.dummyImage}" title="" alt="" maxWidth="{settings.list.media.listView.maxWidth}" maxHeight="{settings.list.media.image.maxHeight}"/>
									</div>
								</n:link>
							</div>
						</f:then>
					</f:if>
				</f:else>
			</f:if>

		</f:else>
	</f:if>
<div class="news-article-listview__text clippable">
	<f:if condition="{newsItem.falMediaPreviews.0.originalResource.type} == 4">
		<span class="news-list-playIcon"></span>
	</f:if>
	<span class="news-list-date">
		<span class="news-list-date__text">
			<f:translate extensionName="Theme_t3kit" key="news.date.text"/>
		</span>
		<time datetime="{f:format.date(date:newsItem.datetime, format:'Y-m-d')}">
			<f:format.date format="{f:translate(key:'dateFormat')}">{newsItem.datetime}</f:format.date>
			<meta itemprop="datePublished" content="{f:format.date(date:newsItem.datetime, format:'Y-m-d')}" />
		</time>
	</span>
	<div class="news-article-header">
		<h1 itemprop="headline">{newsItem.title}</h1>
	</div>
	<!-- teaser -->
	<div class="news-article-listview__teaser-text">
		<f:if condition="{newsItem.teaser}">
			<f:then>
				<span itemprop="description">{newsItem.teaser -> f:format.crop(maxCharacters: '{settings.cropMaxCharacters}', respectWordBoundaries:'1') -> f:format.html()}</span>
			</f:then>
			<f:else>
				<span itemprop="description">{newsItem.bodytext -> f:format.crop(maxCharacters: '{settings.cropMaxCharacters}', respectWordBoundaries:'1') -> f:format.html()}</span>
			</f:else>
		</f:if>

	</div>
</div>
<div class="news-article-listview__link">
	<n:link newsItem="{newsItem}" settings="{settings}" class="more" title="{newsItem.title}">
		<f:translate key="more-link"/>
	</n:link>
</div>
</article>
