{namespace n=GeorgRinger\News\ViewHelpers}
<div class="news-list-view news-carousel {f:format.case(value: '{settings.templateLayout}', mode: 'lower')}">
	<button aria-hidden="true" class="js__news-carousel__btn-prev news-carousel__btn-prev swiper-button-prev"></button>
	<div class="swiper-container news-carousel__container js__news-carousel">
	<!-- Additional required wrapper -->
		<ul class="swiper-wrapper news-carousel__wrapper">
			<f:for each="{news}" as="newsItem" iteration="iterator">

			<li class="swiper-slide news-carousel__slide">
				<article class="article articletype-{newsItem.type}{f:if(condition: newsItem.istopnews, then: ' topnews')}" itemscope="itemscope" itemtype="http://schema.org/Article">
					<n:excludeDisplayedNews newsItem="{newsItem}"/>

					<f:if condition="{newsItem.mediaPreviews}">
						<!-- media preview element -->
						<f:then>
							<div class="news-carousel__img-wrap">
								<n:link newsItem="{newsItem}" settings="{settings}" title="{newsItem.title}">
									<f:alias map="{mediaElement: '{newsItem.mediaPreviews.0}'}">
										<f:if condition="{mediaElement.originalResource.type} == 2">
											<f:media width="355" class="news-carousel__media-preview"  file="{mediaElement.originalResource}"/>
										</f:if>
										<f:if condition="{mediaElement.originalResource.type} == 4">
											<f:render partial="Detail/MediaVideo" arguments="{mediaElement: mediaElement}"/>
										</f:if>
										<f:if condition="{mediaElement.originalResource.type} == 5">
											<f:media width="355" class="news-carousel__media-preview"  file="{mediaElement.originalResource}"/>
										</f:if>
									</f:alias>
								</n:link>

								<div class="news-carousel__item-info">
									<f:if condition="{newsItem.firstCategory}">
											<!-- first category -->
											<span class="news-list-category">{newsItem.firstCategory.title}</span>
									</f:if>
									<!-- date -->
									<span class="news-list-date">
										<time datetime="{f:format.date(date:newsItem.datetime, format:'Y-m-d')}">
											<meta itemprop="datePublished" content="{f:format.date(date:newsItem.datetime, format:'Y-m-d')}" />
											<f:format.date format="{f:translate(key:'dateFormat')}">{newsItem.datetime}</f:format.date>
										</time>
									</span>
								</div>

							</div>
						</f:then>
						<f:else>
							<f:if condition="{settings.displayDummyIfNoMedia}">
								<div class="news-carousel__img-wrap">
									<div class="no-media-element" aria-hidden="true">
										<n:link newsItem="{newsItem}" settings="{settings}" title="{newsItem.title}">
											<f:image width="355" class="news-carousel__media-preview"  src="{settings.list.media.dummyImage}"/>
										</n:link>
									</div>

									<div class="news-carousel__item-info">
										<f:if condition="{newsItem.firstCategory}">
												<!-- first category -->
												<span class="news-list-category">{newsItem.firstCategory.title}</span>
										</f:if>
										<!-- date -->
										<span class="news-list-date">
											<time datetime="{f:format.date(date:newsItem.datetime, format:'Y-m-d')}">
												<meta itemprop="datePublished" content="{f:format.date(date:newsItem.datetime, format:'Y-m-d')}" />
												<f:format.date format="{f:translate(key:'dateFormat')}">{newsItem.datetime}</f:format.date>
											</time>
										</span>
									</div>

								</div>
							</f:if>
						</f:else>
					</f:if>

					<!-- header -->
					<div class="news-article-header">
						<h3>
							<n:link newsItem="{newsItem}" settings="{settings}" title="{newsItem.title}">
								<span itemprop="headline">{newsItem.title}</span>
							</n:link>
						</h3>
					</div>

					<!-- teaser -->
					<div class="teaser-text">
						<f:if condition="{newsItem.teaser}">
							<f:then>
								<div itemprop="description">{newsItem.teaser -> f:format.crop(maxCharacters: '{settings.newsCarousel.cropMaxCharacters}', respectWordBoundaries:'1') -> f:format.html()}</div>
							</f:then>
							<f:else>
								<div itemprop="description">{newsItem.bodytext -> f:format.crop(maxCharacters: '{settings.newsCarousel.cropMaxCharacters}', respectWordBoundaries:'1') -> f:format.html()}</div>
							</f:else>
						</f:if>
					</div>

				</article>

			</li>

			</f:for>
		</ul>
		<div aria-hidden="true" class="js__news-carousel__pagination news-carousel__pagination swiper-pagination"></div>
	</div>
	<button aria-hidden="true" class="js__news-carousel__btn-next news-carousel__btn-next swiper-button-next"></button>

</div>
