{namespace theme=KayStrobach\Themes\ViewHelpers}
<div xmlns="http://www.w3.org/1999/xhtml" lang="en"
	 xmlns:f="http://typo3.org/ns/fluid/ViewHelpers">
	<f:section name="Default">
		<!-- theme_t3kit: Partials/Footer/Socialmedia.html [begin] -->
		<div class="social-icons">
			<f:if condition="{theme:constant(constant:'themes.configuration.socialmedia.useFacebook')}">
				<f:if condition="{settings.facebookLink}">
					<f:then>
						<a class="social-icons__item" href="{settings.facebookLink}"
						   target="_blank" title="Facebook"><span class="icons icon-t3-facebook"></span></a>
					</f:then>
					<f:else>
						<a class="social-icons__item" href="{theme:constant(constant:'themes.configuration.socialmedia.facebookLink')}"
						   target="_blank" title="Facebook"><span class="icons icon-t3-facebook"></span></a>
					</f:else>
				</f:if>
			</f:if>
			<f:if condition="{theme:constant(constant:'themes.configuration.socialmedia.useTwitter')}">
				<f:if condition="{settings.twitterLink}">
					<f:then>
						<a class="social-icons__item" href="{settings.twitterLink}"
						   target="_blank" title="Twitter"><span class="icons icon-t3-twitter"></span></a>
					</f:then>
					<f:else>
						<a class="social-icons__item" href="{theme:constant(constant:'themes.configuration.socialmedia.twitterLink')}"
						   target="_blank" title="Twitter"><span class="icons icon-t3-twitter"></span></a>
					</f:else>
				</f:if>
			</f:if>
			<f:if condition="{theme:constant(constant:'themes.configuration.socialmedia.useLinkedIn')}">
				<f:if condition="{settings.linkedInLink}">
					<f:then>
						<a class="social-icons__item" href="{settings.linkedInLink}"
						   target="_blank" title="LinkedIn"><span class="icons icon-t3-linkedin"></span></a>
					</f:then>
					<f:else>
						<a class="social-icons__item" href="{theme:constant(constant:'themes.configuration.socialmedia.linkedInLink')}"
						   target="_blank" title="LinkedIn"><span class="icons icon-t3-linkedin"></span></a>
					</f:else>
				</f:if>
			</f:if>
			<f:if condition="{theme:constant(constant:'themes.configuration.socialmedia.useXing')}">
				<f:if condition="{settings.xingLink}">
					<f:then>
						<a class="social-icons__item" href="{settings.xingLink}"
						   target="_blank" title="Xing"><span class="icons icon-t3-xing"></span></a>
					</f:then>
					<f:else>
						<a class="social-icons__item" href="{theme:constant(constant:'themes.configuration.socialmedia.xingLink')}"
						   target="_blank" title="Xing"><span class="icons icon-t3-xing"></span></a>
					</f:else>
				</f:if>
			</f:if>
			<f:if condition="{theme:constant(constant:'themes.configuration.socialmedia.useVimeo')}">
				<f:if condition="{settings.vimeoLink}">
					<f:then>
						<a class="social-icons__item" href="{settings.vimeoLink}"
						   target="_blank" title="Vimeo"><span class="icons icon-t3-vimeo"></span></a>
					</f:then>
					<f:else>
						<a class="social-icons__item" href="{theme:constant(constant:'themes.configuration.socialmedia.vimeoLink')}"
							   target="_blank" title="Vimeo"><span class="icons icon-t3-vimeo"></span></a>
					</f:else>
				</f:if>
			</f:if>
			<f:if condition="{theme:constant(constant:'themes.configuration.socialmedia.useGooglePlus')}">
				<f:if condition="{settings.googlePlusLink}">
					<f:then>
						<a class="social-icons__item" href="{settings.googlePlusLink}"
						   target="_blank" title="Googleplus"><span class="icons icon-t3-googleplus"></span></a>
					</f:then>
					<f:else>
						<a class="social-icons__item" href="{theme:constant(constant:'themes.configuration.socialmedia.googlePlusLink')}"
							   target="_blank" title="Googleplus"><span class="icons icon-t3-googleplus"></span></a>
					</f:else>
				</f:if>
			</f:if>
			<f:if condition="{theme:constant(constant:'themes.configuration.socialmedia.usePinterest')}">
				<f:if condition="{settings.pinterestLink}">
					<f:then>
						<a class="social-icons__item" href="{settings.pinterestLink}"
						   target="_blank" title="Pinterest"><span class="icons icon-t3-pinterest"></span></a>
					</f:then>
					<f:else>
						<a class="social-icons__item" href="{theme:constant(constant:'themes.configuration.socialmedia.pinterestLink')}"
							   target="_blank" title="Pinterest"><span class="icons icon-t3-pinterest"></span></a>
					</f:else>
				</f:if>
			</f:if>
			<f:if condition="{theme:constant(constant:'themes.configuration.socialmedia.useInstagram')}">
				<f:if condition="{settings.instagramLink}">
					<f:then>
						<a class="social-icons__item" href="{settings.instagramLink}"
						   target="_blank" title="Instagram"><span class="icons icon-t3-instagram"></span></a>
					</f:then>
					<f:else>
						<a class="social-icons__item" href="{theme:constant(constant:'themes.configuration.socialmedia.instagramLink')}"
							   target="_blank" title="Instagram"><span class="icons icon-t3-instagram"></span></a>
					</f:else>
				</f:if>
			</f:if>
			<f:if condition="{theme:constant(constant:'themes.configuration.socialmedia.useYoutube')}">
				<f:if condition="{settings.youtubeLink}">
					<f:then>
						<a class="social-icons__item" href="{settings.youtubeLink}"
						   target="_blank" title="Youtube"><span class="icons icon-t3-youtube"></span></a>
					</f:then>
					<f:else>
						<a class="social-icons__item" href="{theme:constant(constant:'themes.configuration.socialmedia.youtubeLink')}"
							   target="_blank" title="Youtube"><span class="icons icon-t3-youtube"></span></a>
					</f:else>
				</f:if>
			</f:if>
		</div>

		<!-- theme_t3kit: Partials/Footer/Socialmedia.html [end] -->
	</f:section>
</div>
