{namespace xtools=T3kit\T3kitExtensionTools\ViewHelpers}

<f:layout name="Default" />

<f:debug>{_all}</f:debug>

<f:section name="content">
<!-- theme_t3kit: Templates/StructuredContentElements/Container.html [begin] -->
	<f:if condition="{data.records}">
		<f:if condition="{layoutClass}">
			<div class="{layoutClass}">
		</f:if>
			<div class="row">
				<f:for each="{xtools:get.records(recordList : data.records, flexform2array: 1)}" as="column" iteration="columnIteration">
					<div class="{f:if( condition: column.pi_flexform.colxs, then: 'col-xs-{column.pi_flexform.colxs}')} {f:if( condition: column.pi_flexform.colsm, then: 'col-sm-{column.pi_flexform.colsm}')} {f:if( condition: column.pi_flexform.colmd, then: 'col-md-{column.pi_flexform.colmd}')} {f:if( condition: column.pi_flexform.collg, then: 'col-lg-{column.pi_flexform.collg}')}">
						<f:for each="{xtools:get.records(recordList : column.records)}" as="content">
							<xtools:render.content id="{content.uid}" />
						</f:for>
					</div>
				</f:for>
			</div>
		<f:if condition="{layoutClass}">
			</div>
		</f:if>
	</f:if>
	<!-- theme_t3kit: Templates/StructuredContentElements/Container.html [end] -->
</f:section>

