ul.__icon-font-selector li {
    padding:2px;
    vertical-align: middle;
    text-align: center;
}
ul.__icon-font-selector li a {
    padding:2px;
    font-size: 2em;
    background-color: #fff;
    border: solid 1px #eeeeee;
    border-radius: 2px;
    text-decoration: none;
}