{namespace theme=KayStrobach\Themes\ViewHelpers}
<div xmlns="http://www.w3.org/1999/xhtml" lang="en"
     xmlns:f="http://typo3.org/ns/fluid/ViewHelpers">
<f:section name="Default">

<!-- theme_t3kit: Partials/Header/HeaderMinimal.html [begin] -->
<header class="header-wrp" role="banner">
    <div class="header js__header">
        <div class="header-info js__header-info">
            <div class="header-info__contact">
                <div class="header-info__contact-tel">
                    <span class="icons icon-t3-mobile"></span>
                    <span class="header-info__contact-tel-title">Call us on</span>
                    <a class="header-info__contact-tel-link" href="tel:{theme:constant(constant: 'themes.configuration.header.phone')}">{theme:constant(constant: 'themes.configuration.header.phone')}</a>
                </div>
                <div class="header-info__contact-email">
                    <span class="icons icon-t3-mail"></span>
                    <span class="header-info__contact-email-title">Email us at</span>
                    <a class="header-info__contact-email-link" href="mailto:{theme:constant(constant: 'themes.configuration.header.email')}">{theme:constant(constant: 'themes.configuration.header.email')}</a>
                </div>
            </div>
            <div class="header-info__social-icons">
                <a class="header-info__social-icon" href="#"> <span class="icons icon-t3-facebook"></span> </a>
                <a class="header-info__social-icon" href="#"> <span class="icons icon-t3-twitter"></span> </a>
                <a class="header-info__social-icon" href="#"> <span class="icons icon-t3-linkedin"></span> </a>
                <a class="header-info__social-icon" href="#"> <span class="icons icon-t3-vimeo"></span> </a>
                <a class="header-info__social-icon" href="#"> <span class="icons icon-t3-googleplus"></span> </a>
                <a class="header-info__social-icon" href="#"> <span class="icons icon-t3-pinterest"></span> </a>
                <a class="header-info__social-icon" href="#"> <span class="icons icon-t3-instagram"></span> </a>
                <a class="header-info__social-icon" href="#"> <span class="icons icon-t3-youtube"></span> </a>
            </div>

            <f:cObject typoscriptObjectPath="lib.menu.language.minimal" />

            <f:cObject typoscriptObjectPath="lib.menu.top" />

        </div>
        <nav class="main-navigation-min js__main-navigation-min" role="navigation">
            <div class="main-navigation-min__logo">
                <f:cObject typoscriptObjectPath="lib.header.logo.main.minimal" />
            </div>
            <div class="main-navigation-min__items-wrp js__main-navigation-min__items-wrp">
                <f:cObject typoscriptObjectPath="lib.menu.mainMinimal" />
                <div class="main-navigation-min-button-next js__main-navigation-min-button-next"></div>
                <div class="main-navigation-min-button-prev js__main-navigation-min-button-prev"></div>
            </div>
            <div class="main-navigation-min__search-btn-wrp">
                <a class="main-navigation-min__search-btn js__main-navigation-min__search-btn" href="">Search<span></span> </a>
            </div>
            <div class="main-navigation-min__search-box js__main-navigation-min__search-box">
                <input placeholder="Search..." type="search">
            </div>
        </nav>
    </div>
    <div class="main-navigation-min__search-box-overlay js__main-navigation-min__search-box-overlay"></div>
    <div class="header-info__language-menu-overlay js__header-info__language-menu-overlay"></div>
</header>
<!-- theme_t3kit: Partials/Header/HeaderMinimal.html [end] -->
</f:section>
</div>
