{namespace theme=KayStrobach\Themes\ViewHelpers}
<div xmlns="http://www.w3.org/1999/xhtml" lang="en"
	 xmlns:f="http://typo3.org/ns/fluid/ViewHelpers">
<f:section name="Default">

<!-- theme_t3kit: Partials/Header/Header.html [begin] -->

<header class="header">
	<div class="header-top-wrp">

		<f:if condition="{theme:constant(constant:'themes.configuration.elem.status.showHeaderTop')}">

			<div class="header-top">
				<div class="header-top__main-navigation-toggle-btn">
					<button type="button" class="main-navigation__toggle-btn js__main-navigation__toggle-btn" >
						<span>toggle menu</span>
					</button>
				</div>

				<f:if condition="{theme:constant(constant:'themes.configuration.elem.status.showHeaderTopContacts')}">
					<div class="header-top__contact">
						<div class="header-top__contact-tel">
							<span class="icons icon-t3-mobile"></span>
							<span class="header-top__contact-tel-title"><f:translate key="callUs_label" /></span>
							<a class="header-top__contact-tel-link" href="tel:{theme:constant(constant: 'themes.configuration.contacts.phone')}">tel:{theme:constant(constant: 'themes.configuration.contacts.phone')}</a>
						</div>
						<div class="header-top__contact-email">
							<span class="icons icon-t3-mail"></span>
							<span class="header-top__contact-email-title"><f:translate key="emailUs_label" /></span>
							<f:link.email class="header-top__contact-email-link" email="{theme:constant(constant: 'themes.configuration.contacts.email')}" />
						</div>
					</div>
				</f:if>

				<f:if condition="{theme:constant(constant:'themes.configuration.elem.status.showHeaderTopLangMenu')}">
					<f:cObject typoscriptObjectPath="lib.menu.language.standard" />
				</f:if>

				<f:if condition="{theme:constant(constant:'themes.configuration.elem.status.showHeaderTopSearch')}">
					<f:cObject typoscriptObjectPath="lib.header.top.search" />
				</f:if>

				<f:if condition="{theme:constant(constant:'themes.configuration.elem.status.showHeaderTopNavigation')}">
					<f:cObject typoscriptObjectPath="lib.menu.top" />
				</f:if>

			</div>
		</f:if>
	</div>


	<f:if condition="{theme:constant(constant:'themes.configuration.elem.status.showHeaderMiddle')}">
		<div class="header-middle-wrp">
			<div class="header-middle">
				<f:if condition="{theme:constant(constant:'themes.configuration.elem.status.showHeaderMiddleLogo')}">
					<div class="header-middle__logo">
						<f:cObject typoscriptObjectPath="lib.header.logo.main" />
					</div>
				</f:if>

				<f:if condition="{theme:constant(constant:'themes.configuration.elem.status.showHeaderMiddleSocIcons')}">
					<div class="header-middle__social-icon">
						<f:render partial="ContentElements/Socialmedia" section="Default" />
					</div>
				</f:if>
				<f:if condition="{theme:constant(constant:'themes.configuration.elem.status.showHeaderMiddleSearch')}">

					<f:cObject typoscriptObjectPath="lib.header.middle.search" />
				</f:if>
			</div>
		</div>
	</f:if>


<!-- theme_t3kit: Main menu [begin] -->

	<f:if condition="{theme:constant(constant:'themes.configuration.elem.status.showHeaderTop')}==0">
		<button type="button" class="main-navigation__toggle-btn js__main-navigation__toggle-btn" >
			<span>toggle menu</span>
		</button>
	</f:if>

	<nav class="main-navigation js__main-navigation">
		<div class="main-navigation__items-wrp js__navigation__items-wrp">

			<ul class="main-navigation__items-list js__main-navigation__items-list">

				<f:cObject typoscriptObjectPath="lib.menu.main" />

				<f:if condition="{theme:constant(constant:'themes.configuration.elem.status.showHeaderMainMenuSearch')}">
					<f:cObject typoscriptObjectPath="lib.menu.main.search" />
				</f:if>

			</ul>

		</div>
	</nav>

<!-- theme_t3kit: Main menu [end] -->

	<div class="main-navigation__search-box-overlay js__main-navigation__search-box-overlay"></div>
	<div class="header-top__language-menu-overlay js__header-top__language-menu-overlay"></div>
</header>


<!-- theme_t3kit: Partials/Header/Header.html [end] -->
</f:section>
</div>
