{namespace theme=KayStrobach\Themes\ViewHelpers}
<div xmlns="http://www.w3.org/1999/xhtml" lang="en"
     xmlns:f="http://typo3.org/ns/fluid/ViewHelpers">
<f:section name="Default">
<!-- theme_t3kit: Partials/Header/Header.html [begin] -->


<header class="header" role="banner">

<div class="header-top-wrp">
        <div class="header-top">
                <div class="header-top__contact">
                    <div class="header-top__contact-tel">
                        <span class="icons icon-t3-mobile"></span>
                        <span class="header-top__contact-tel-title">Call us on</span>
                        <a class="header-top__contact-tel-link" href="tel:{theme:constant(constant: 'themes.configuration.header.phone')}">tel:{theme:constant(constant: 'themes.configuration.header.phone')}</a>
                    </div>
                    <div class="header-top__contact-email">
                        <span class="icons icon-t3-mail"></span>
                        <span class="header-top__contact-email-title">Email us at</span>
                        <a class="header-top__contact-email-link" href="mailto:{theme:constant(constant: 'themes.configuration.header.email')}">{theme:constant(constant: 'themes.configuration.header.email')}</a>
                    </div>
                </div>

                <f:cObject typoscriptObjectPath="lib.menu.language.standard" />

                <div class="main-navigation__search-btn-wrp _header-top-search-btn">
                    <a class="main-navigation__search-btn js__main-navigation__search-btn" href="">Search<span></span></a>
                </div>
                <div class="main-navigation__search-box _header-top-search-btn js__main-navigation__search-box" ><input placeholder="Search..." type="search"></div>
                <f:cObject typoscriptObjectPath="lib.menu.top" />
        </div>
</div>

<div class="header-middle-wrp">
    <div class="header-middle">
        <div class="header-middle__logo">
            <f:cObject typoscriptObjectPath="lib.header.logo.main" />
        </div>
            <div class="header-middle__social-icons">
                <a class="header-middle__social-icon" href="#"><span class="icons icon-t3-facebook"></span></a>
                <a class="header-middle__social-icon" href="#"><span class="icons icon-t3-twitter"></span></a>
                <a class="header-middle__social-icon" href="#"><span class="icons icon-t3-linkedin"></span></a>
                <a class="header-middle__social-icon" href="#"><span class="icons icon-t3-vimeo"></span></a>
                <a class="header-middle__social-icon" href="#"><span class="icons icon-t3-googleplus"></span></a>
                <a class="header-middle__social-icon" href="#"><span class="icons icon-t3-pinterest"></span></a>
                <a class="header-middle__social-icon" href="#"><span class="icons icon-t3-instagram"></span></a>
                <a class="header-middle__social-icon" href="#"><span class="icons icon-t3-youtube"></span></a>
            </div>
    </div>
</div>


<!-- theme_t3kit: Main menu [begin] -->

<nav class="main-navigation js__main-navigation" role="navigation">
    <div class="main-navigation__items-wrp js__navigation__items-wrp">
        <f:cObject typoscriptObjectPath="lib.menu.main" />
    </div>
</nav>

<!-- theme_t3kit: Main menu [end] -->



<div class="main-navigation__search-box-overlay js__main-navigation__search-box-overlay"></div>
<div class="header-top__language-menu-overlay js__header-top__language-menu-overlay"></div>


</header>



<!-- theme_t3kit: Partials/Header/Header.html [end] -->
</f:section>
</div>
