<div id="c362" class=" ">
    <div class="news">
        <div class="news-list-view news-cards cards">
            <div class="page-navigation">
                <p> Page 1 of 2. </p>
                <ul class="f3-widget-paginator">
                    <li class="current">1</li>
                    <li> <a href="/documentation/page/2/">2</a> </li>
                    <li class="last next"> <a href="/documentation/page/2/">
                            Next
                        </a> </li>
                </ul>
            </div>
            <div class="news-clear"></div>
            <div class="row">
                <div class="col-md-6 col-sm-6 col-lg-4">
                    <article class="news-cards__item articletype-0" itemscope="itemscope" itemtype="http://schema.org/Article">
                        <a title="Lorem ipsum dolor sit amet, consectetur adipiscing elit." href="/content/plugins/news/article/lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit/">
                            <div class="news-cards__img-wrap">
                                <div class="no-media-element">
                                    <div class="news-cards__media-preview" style="background-image:url('images/foto1.jpg');"></div>
                                </div>
                            </div>
                            <div class="news-cards__text js__news-cards__dotdotdot is-truncated" style="word-wrap: break-word;">
                                <!-- date --><span class="news-list-date news-cards__date-wrp" style="display: inline;">
                        <span class="news-cards__date-text">
                            Published:
                        </span> <span class="news-cards__date">
                            <time datetime="2015-10-06">
                                10/06/2015
                                <meta itemprop="datePublished" content="2015-10-06">
                            </time>
                        </span> </span>
                                <!-- header -->
                                <div class="news-article-header news-cards__header" style="display: block;">
                                    <h3>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h3> </div>
                                <!-- teaser -->
                                <div class="teaser-text news-cards__teaser" style="display: block;"> <span itemprop="description"><p>Ut ullamcorper tincidunt ligula eu mollis. Proin tristique scelerisque lobortis. Cras faucibus erat dictum... </p></span></div>
                            </div>
                        </a>
                        <div class="news-cards__more-link"> <a class="more" title="Lorem ipsum dolor sit amet, consectetur adipiscing elit." href="/content/plugins/news/article/lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit/">
                    Read more
                </a> </div>
                        <!-- author -->
                        <div class="news-cards__author"> <span class="news-list-author">
                        created by John Doe
                    </span> </div>
                    </article>
                </div>
                <div class="col-md-6 col-sm-6 col-lg-4">
                    <article class="news-cards__item articletype-0" itemscope="itemscope" itemtype="http://schema.org/Article">
                        <a title="Lorem ipsum dolor sit amet, consectetur adipiscing elit." href="/content/plugins/news/article/lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-1/">
                            <div class="news-cards__img-wrap">
                                <div class="news-cards__media-preview" style="background-image:url('images/foto1.jpg');"></div>
                            </div>
                            <div class="news-cards__text js__news-cards__dotdotdot is-truncated" style="word-wrap: break-word;">
                                <!-- date --><span class="news-list-date news-cards__date-wrp" style="display: inline;">
                        <span class="news-cards__date-text">
                            Published:
                        </span> <span class="news-cards__date">
                            <time datetime="2015-10-06">
                                10/06/2015
                                <meta itemprop="datePublished" content="2015-10-06">
                            </time>
                        </span> </span>
                                <!-- header -->
                                <div class="news-article-header news-cards__header" style="display: block;">
                                    <h3>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h3> </div>
                                <!-- teaser -->
                                <div class="teaser-text news-cards__teaser" style="display: block;"> <span itemprop="description"><p>Ut ullamcorper tincidunt ligula eu mollis. Proin tristique scelerisque lobortis. Cras faucibus erat dictum... </p></span></div>
                            </div>
                        </a>
                        <div class="news-cards__more-link"> <a class="more" title="Lorem ipsum dolor sit amet, consectetur adipiscing elit." href="/content/plugins/news/article/lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-1/">
                    Read more
                </a> </div>
                        <!-- author -->
                        <div class="news-cards__author"> <span class="news-list-author">
                        created by John Doe
                    </span> </div>
                    </article>
                </div>
                <div class="col-md-6 col-sm-6 col-lg-4">
                    <article class="news-cards__item articletype-0" itemscope="itemscope" itemtype="http://schema.org/Article">
                        <a title="Lorem ipsum dolor sit amet, consectetur adipiscing elit." href="/content/plugins/news/article/lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-2/">
                            <div class="news-cards__img-wrap">
                                <div class="news-cards__media-preview" style="background-image:url('images/foto1.jpg');"></div>
                            </div>
                            <div class="news-cards__text js__news-cards__dotdotdot is-truncated" style="word-wrap: break-word;">
                                <!-- date --><span class="news-list-date news-cards__date-wrp" style="display: inline;">
                        <span class="news-cards__date-text">
                            Published:
                        </span> <span class="news-cards__date">
                            <time datetime="2015-10-06">
                                10/06/2015
                                <meta itemprop="datePublished" content="2015-10-06">
                            </time>
                        </span> </span>
                                <!-- header -->
                                <div class="news-article-header news-cards__header" style="display: block;">
                                    <h3>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h3> </div>
                                <!-- teaser -->
                                <div class="teaser-text news-cards__teaser" style="display: block;"> <span itemprop="description"><p>Ut ullamcorper tincidunt ligula eu mollis. Proin tristique scelerisque lobortis. Cras faucibus erat dictum... </p></span></div>
                            </div>
                        </a>
                        <div class="news-cards__more-link"> <a class="more" title="Lorem ipsum dolor sit amet, consectetur adipiscing elit." href="/content/plugins/news/article/lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-2/">
                    Read more
                </a> </div>
                        <!-- author -->
                        <div class="news-cards__author"> <span class="news-list-author">
                        created by John Doe
                    </span> </div>
                    </article>
                </div>
                <div class="col-md-6 col-sm-6 col-lg-4">
                    <article class="news-cards__item articletype-0" itemscope="itemscope" itemtype="http://schema.org/Article">
                        <a title="Lorem ipsum dolor sit amet, consectetur adipiscing elit. (copy 1)" href="/content/plugins/news/article/lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-copy-1/">
                            <div class="news-cards__img-wrap">
                                <div class="news-cards__media-preview" style="background-image:url('images/foto1.jpg');"></div>
                            </div>
                            <div class="news-cards__text js__news-cards__dotdotdot is-truncated" style="word-wrap: break-word;">
                                <!-- date --><span class="news-list-date news-cards__date-wrp" style="display: inline;">
                        <span class="news-cards__date-text">
                            Published:
                        </span> <span class="news-cards__date">
                            <time datetime="2015-10-06">
                                10/06/2015
                                <meta itemprop="datePublished" content="2015-10-06">
                            </time>
                        </span> </span>
                                <!-- header -->
                                <div class="news-article-header news-cards__header" style="display: block;">
                                    <h3>Lorem ipsum dolor sit amet, consectetur adipiscing elit. (copy 1)</h3> </div>
                                <!-- teaser -->
                                <div class="teaser-text news-cards__teaser" style="display: block;"> <span itemprop="description"><p>Ut ullamcorper tincidunt ligula eu mollis. Proin tristique scelerisque lobortis. Cras faucibus erat dictum... </p></span></div>
                            </div>
                        </a>
                        <div class="news-cards__more-link"> <a class="more" title="Lorem ipsum dolor sit amet, consectetur adipiscing elit. (copy 1)" href="/content/plugins/news/article/lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-copy-1/">
                    Read more
                </a> </div>
                        <!-- author -->
                        <div class="news-cards__author"> <span class="news-list-author">
                        created by John Doe
                    </span> </div>
                    </article>
                </div>
                <div class="col-md-6 col-sm-6 col-lg-4">
                    <article class="news-cards__item articletype-0" itemscope="itemscope" itemtype="http://schema.org/Article">
                        <a title="Lorem ipsum dolor sit amet, consectetur adipiscing elit. (copy 2)" href="/content/plugins/news/article/lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-copy-2/">
                            <div class="news-cards__img-wrap">
                                <div class="news-cards__media-preview" style="background-image:url('images/foto1.jpg');"></div>
                            </div>
                            <div class="news-cards__text js__news-cards__dotdotdot is-truncated" style="word-wrap: break-word;">
                                <!-- date --><span class="news-list-date news-cards__date-wrp" style="display: inline;">
                        <span class="news-cards__date-text">
                            Published:
                        </span> <span class="news-cards__date">
                            <time datetime="2015-10-06">
                                10/06/2015
                                <meta itemprop="datePublished" content="2015-10-06">
                            </time>
                        </span> </span>
                                <!-- header -->
                                <div class="news-article-header news-cards__header" style="display: block;">
                                    <h3>Lorem ipsum dolor sit amet, consectetur adipiscing elit. (copy 2)</h3> </div>
                                <!-- teaser -->
                                <div class="teaser-text news-cards__teaser" style="display: block;"> <span itemprop="description"><p>Ut ullamcorper tincidunt ligula eu mollis. Proin tristique scelerisque lobortis. Cras faucibus erat dictum... </p></span></div>
                            </div>
                        </a>
                        <div class="news-cards__more-link"> <a class="more" title="Lorem ipsum dolor sit amet, consectetur adipiscing elit. (copy 2)" href="/content/plugins/news/article/lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-copy-2/">
                    Read more
                </a> </div>
                        <!-- author -->
                        <div class="news-cards__author"> <span class="news-list-author">
                        created by John Doe
                    </span> </div>
                    </article>
                </div>
                <div class="col-md-6 col-sm-6 col-lg-4">
                    <article class="news-cards__item articletype-0" itemscope="itemscope" itemtype="http://schema.org/Article">
                        <a title="Lorem ipsum dolor sit amet, consectetur adipiscing elit. (copy 3)" href="/content/plugins/news/article/lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-copy-3/">
                            <div class="news-cards__img-wrap">
                                <div class="news-cards__media-preview" style="background-image:url('images/foto1.jpg');"></div>
                            </div>
                            <div class="news-cards__text js__news-cards__dotdotdot is-truncated" style="word-wrap: break-word;">
                                <!-- date --><span class="news-list-date news-cards__date-wrp" style="display: inline;">
                        <span class="news-cards__date-text">
                            Published:
                        </span> <span class="news-cards__date">
                            <time datetime="2015-10-06">
                                10/06/2015
                                <meta itemprop="datePublished" content="2015-10-06">
                            </time>
                        </span> </span>
                                <!-- header -->
                                <div class="news-article-header news-cards__header" style="display: block;">
                                    <h3>Lorem ipsum dolor sit amet, consectetur adipiscing elit. (copy 3)</h3> </div>
                                <!-- teaser -->
                                <div class="teaser-text news-cards__teaser" style="display: block;"> <span itemprop="description"><p>Ut ullamcorper tincidunt ligula eu mollis. Proin tristique scelerisque lobortis. Cras faucibus erat dictum... </p></span></div>
                            </div>
                        </a>
                        <div class="news-cards__more-link"> <a class="more" title="Lorem ipsum dolor sit amet, consectetur adipiscing elit. (copy 3)" href="/content/plugins/news/article/lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-copy-3/">
                    Read more
                </a> </div>
                        <!-- author -->
                        <div class="news-cards__author"> <span class="news-list-author">
                        created by John Doe
                    </span> </div>
                    </article>
                </div>
                <div class="col-md-6 col-sm-6 col-lg-4">
                    <article class="news-cards__item articletype-0" itemscope="itemscope" itemtype="http://schema.org/Article">
                        <a title="Lorem ipsum dolor sit amet, consectetur adipiscing elit. (copy 4)" href="/content/plugins/news/article/lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-copy-4/">
                            <div class="news-cards__img-wrap">
                                <div class="news-cards__media-preview" style="background-image:url('images/foto1.jpg');"></div>
                            </div>
                            <div class="news-cards__text js__news-cards__dotdotdot is-truncated" style="word-wrap: break-word;">
                                <!-- date --><span class="news-list-date news-cards__date-wrp" style="display: inline;">
                        <span class="news-cards__date-text">
                            Published:
                        </span> <span class="news-cards__date">
                            <time datetime="2015-10-06">
                                10/06/2015
                                <meta itemprop="datePublished" content="2015-10-06">
                            </time>
                        </span> </span>
                                <!-- header -->
                                <div class="news-article-header news-cards__header" style="display: block;">
                                    <h3>Lorem ipsum dolor sit amet, consectetur adipiscing elit. (copy 4)</h3> </div>
                                <!-- teaser -->
                                <div class="teaser-text news-cards__teaser" style="display: block;"> <span itemprop="description"><p>Ut ullamcorper tincidunt ligula eu mollis. Proin tristique scelerisque lobortis. Cras faucibus erat dictum... </p></span></div>
                            </div>
                        </a>
                        <div class="news-cards__more-link"> <a class="more" title="Lorem ipsum dolor sit amet, consectetur adipiscing elit. (copy 4)" href="/content/plugins/news/article/lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-copy-4/">
                    Read more
                </a> </div>
                        <!-- author -->
                        <div class="news-cards__author"> <span class="news-list-author">
                        created by John Doe
                    </span> </div>
                    </article>
                </div>
                <div class="col-md-6 col-sm-6 col-lg-4">
                    <article class="news-cards__item articletype-0" itemscope="itemscope" itemtype="http://schema.org/Article">
                        <a title="Lorem ipsum dolor sit amet, consectetur adipiscing elit. (copy 5)" href="/content/plugins/news/article/lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-copy-5/">
                            <div class="news-cards__img-wrap">
                                <div class="news-cards__media-preview" style="background-image:url('images/foto1.jpg');"></div>
                            </div>
                            <div class="news-cards__text js__news-cards__dotdotdot is-truncated" style="word-wrap: break-word;">
                                <!-- date --><span class="news-list-date news-cards__date-wrp" style="display: inline;">
                        <span class="news-cards__date-text">
                            Published:
                        </span> <span class="news-cards__date">
                            <time datetime="2015-10-06">
                                10/06/2015
                                <meta itemprop="datePublished" content="2015-10-06">
                            </time>
                        </span> </span>
                                <!-- header -->
                                <div class="news-article-header news-cards__header" style="display: block;">
                                    <h3>Lorem ipsum dolor sit amet, consectetur adipiscing elit. (copy 5)</h3> </div>
                                <!-- teaser -->
                                <div class="teaser-text news-cards__teaser" style="display: block;"> <span itemprop="description"><p>Ut ullamcorper tincidunt ligula eu mollis. Proin tristique scelerisque lobortis. Cras faucibus erat dictum... </p></span></div>
                            </div>
                        </a>
                        <div class="news-cards__more-link"> <a class="more" title="Lorem ipsum dolor sit amet, consectetur adipiscing elit. (copy 5)" href="/content/plugins/news/article/lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-copy-5/">
                    Read more
                </a> </div>
                        <!-- author -->
                        <div class="news-cards__author"> <span class="news-list-author">
                        created by John Doe
                    </span> </div>
                    </article>
                </div>
                <div class="col-md-6 col-sm-6 col-lg-4">
                    <article class="news-cards__item articletype-0" itemscope="itemscope" itemtype="http://schema.org/Article">
                        <a title="Lorem ipsum dolor sit amet, consectetur adipiscing elit. (copy 6)" href="/content/plugins/news/article/lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-copy-6/">
                            <div class="news-cards__img-wrap">
                                <div class="news-cards__media-preview" style="background-image:url('images/foto1.jpg');"></div>
                            </div>
                            <div class="news-cards__text js__news-cards__dotdotdot is-truncated" style="word-wrap: break-word;">
                                <!-- date --><span class="news-list-date news-cards__date-wrp" style="display: inline;">
                        <span class="news-cards__date-text">
                            Published:
                        </span> <span class="news-cards__date">
                            <time datetime="2015-10-06">
                                10/06/2015
                                <meta itemprop="datePublished" content="2015-10-06">
                            </time>
                        </span> </span>
                                <!-- header -->
                                <div class="news-article-header news-cards__header" style="display: block;">
                                    <h3>Lorem ipsum dolor sit amet, consectetur adipiscing elit. (copy 6)</h3> </div>
                                <!-- teaser -->
                                <div class="teaser-text news-cards__teaser" style="display: block;"> <span itemprop="description"><p>Ut ullamcorper tincidunt ligula eu mollis. Proin tristique scelerisque lobortis. Cras faucibus erat dictum... </p></span></div>
                            </div>
                        </a>
                        <div class="news-cards__more-link"> <a class="more" title="Lorem ipsum dolor sit amet, consectetur adipiscing elit. (copy 6)" href="/content/plugins/news/article/lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-copy-6/">
                    Read more
                </a> </div>
                        <!-- author -->
                        <div class="news-cards__author"> <span class="news-list-author">
                        created by John Doe
                    </span> </div>
                    </article>
                </div>
                <div class="col-md-6 col-sm-6 col-lg-4">
                    <article class="news-cards__item articletype-0" itemscope="itemscope" itemtype="http://schema.org/Article">
                        <a title="Lorem ipsum dolor sit amet, consectetur adipiscing elit. (copy 7)" href="/content/plugins/news/article/lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-copy-7/">
                            <div class="news-cards__img-wrap">
                                <div class="news-cards__media-preview" style="background-image:url('images/foto1.jpg');"></div>
                            </div>
                            <div class="news-cards__text js__news-cards__dotdotdot is-truncated" style="word-wrap: break-word;">
                                <!-- date --><span class="news-list-date news-cards__date-wrp" style="display: inline;">
                        <span class="news-cards__date-text">
                            Published:
                        </span> <span class="news-cards__date">
                            <time datetime="2015-10-06">
                                10/06/2015
                                <meta itemprop="datePublished" content="2015-10-06">
                            </time>
                        </span> </span>
                                <!-- header -->
                                <div class="news-article-header news-cards__header" style="display: block;">
                                    <h3>Lorem ipsum dolor sit amet, consectetur adipiscing elit. (copy 7)</h3> </div>
                                <!-- teaser -->
                                <div class="teaser-text news-cards__teaser" style="display: block;"> <span itemprop="description"><p>Ut ullamcorper tincidunt ligula eu mollis. Proin tristique scelerisque lobortis. Cras faucibus erat dictum... </p></span></div>
                            </div>
                        </a>
                        <div class="news-cards__more-link"> <a class="more" title="Lorem ipsum dolor sit amet, consectetur adipiscing elit. (copy 7)" href="/content/plugins/news/article/lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-copy-7/">
                    Read more
                </a> </div>
                        <!-- author -->
                        <div class="news-cards__author"> <span class="news-list-author">
                        created by John Doe
                    </span> </div>
                    </article>
                </div>
            </div>
            <div class="page-navigation">
                <p> Page 1 of 2. </p>
                <ul class="f3-widget-paginator">
                    <li class="current">1</li>
                    <li> <a href="/documentation/page/2/">2</a> </li>
                    <li class="last next"> <a href="/documentation/page/2/">
                            Next
                        </a> </li>
                </ul>
            </div>
            <div class="news-clear"></div>
        </div>
    </div>
</div>
