<div id="c83">
    <h3>Category list</h3>
    <div class="news">
        <div class="news-categories">
            <ul>
                <li> <a class="active" title="Technology" href="content/plugins/news/list/category/technology/">Technology</a> </li>
                <li> <a title="Research" href="content/plugins/news/list/category/research/">Research</a> </li>
            </ul>
        </div>
    </div>
</div>
