<div id="c81">
    <h3>News date menu</h3>
    <div class="news">
        <div class="news-menu-view">
            <ul>
                <li> 2015
                    <ul>
                        <li class="item itemactive"> <a href="content/plugins/news/list/date/2015/10/">October 2015</a> (17 entries) </li>
                        <li class="item"> <a href="content/plugins/news/list/date/2015/09/">September 2015</a> (1 entry) </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>
