<div id="c364" class=" ">
	<div class="news">
		<div class="news-list-view news-timeline timeline">
			<div class="page-navigation">
				<p> Page 1 of 2. </p>
				<ul class="f3-widget-paginator">
					<li class="current">1</li>
					<li> <a href="/content/plugins/news/news-timeline-list/page/2/">2</a> </li>
					<li class="last next"> <a href="/content/plugins/news/news-timeline-list/page/2/">
							Next
						</a> </li>
				</ul>
			</div>
			<div class="news-clear"></div>
			<div class="news-timeline-wrp">
				<h2 class="news-timeline__header">2016</h2>
				<div class="news-timeline__item-wrp js__news-timeline__item-wrp">
					<div class="news-list-date news-timeline__date js__news-timeline__date odd open">
						<div> <span class="news-timeline__date-day">17</span> <span class="news-timeline__date-month">May</span> </div>
					</div>
					<article class="news-timeline__item-article articletype-0" itemscope="itemscope" itemtype="http://schema.org/Article">
						<div class="news-timeline__item js__news-timeline__item odd nocollapse  last">
							<!-- fal media preview element -->
							<div class="news-timeline__img-wrap">
								<a title="Lorem ipsum dolor sit amet, consectetur adipiscing elit. (copy 4)" href="/content/plugins/news/article/lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-copy-4/">
									<div class="news-timeline__media-preview" style="background-image:url('images/foto1.jpg');"></div>
								</a>
							</div>
							<div class="news-timeline__item-text">
								<!-- header -->
								<div class="news-article-header news-timeline__item-header">
									<h3>Lorem ipsum dolor sit amet, consectetur adipiscing elit. (copy 4)</h3> </div>
								<!-- teaser -->
								<div class="teaser-text news-timeline__item-teaser">
									<div itemprop="description">
										<p>Ut ullamcorper tincidunt ligula eu mollis. Proin tristique scelerisque lobortis. Cras faucibus erat dictum metus aliquet maximus. Nullam ac nisl eu eros luctus lacinia sed consequat leo.</p>
									</div>
									<div class="news-timeline__item-more-link"> <a class="more" title="Lorem ipsum dolor sit amet, consectetur adipiscing elit. (copy 4)" href="/content/plugins/news/article/lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-copy-4/">
									Read more
								</a> </div>
								</div>
							</div>
							<!-- author -->
							<div class="news-timeline__item-author"> <span class="news-list-author">
								created by John Doe
							</span> </div>
						</div>
					</article>
				</div>
			</div>
			<div class="news-timeline-wrp">
				<h2 class="news-timeline__header">2015</h2>
				<div class="news-timeline__item-wrp js__news-timeline__item-wrp">
					<div class="news-list-date news-timeline__date js__news-timeline__date even  ">
						<div> <span class="news-timeline__date-day">31</span> <span class="news-timeline__date-month">Oct</span> </div>
					</div>
					<article class="news-timeline__item-article articletype-0" itemscope="itemscope" itemtype="http://schema.org/Article">
						<div class="news-timeline__item js__news-timeline__item even collapsed ">
							<!-- fal media preview element -->
							<div class="news-timeline__img-wrap">
								<div class="no-media-element">
									<a title="Lorem ipsum dolor sit amet, consectetur adipiscing elit." href="/content/plugins/news/article/lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit/">
										<div class="news-timeline__media-preview" style="background-image:url('images/foto1.jpg');"></div>
									</a>
								</div>
							</div>
							<div class="news-timeline__item-text">
								<!-- header -->
								<div class="news-article-header news-timeline__item-header">
									<h3>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h3> </div>
								<!-- teaser -->
								<div class="teaser-text news-timeline__item-teaser">
									<div itemprop="description">
										<p>Ut ullamcorper tincidunt ligula eu mollis. Proin tristique scelerisque lobortis. Cras faucibus erat dictum metus aliquet maximus. Nullam ac nisl eu eros luctus lacinia sed consequat leo. Ut ullamcorper tincidunt ligula eu mollis. Proin tristique
											scelerisque lobortis. Cras faucibus erat dictum metus aliquet maximus. Nullam ac nisl eu eros luctus lacinia sed consequat leo. Ut ullamcorper tincidunt ligula eu mollis. Proin tristique scelerisque lobortis. Cras faucibus erat dictum metus
											aliquet...</p>
									</div>
									<div class="news-timeline__item-more-link"> <a class="more" title="Lorem ipsum dolor sit amet, consectetur adipiscing elit." href="/content/plugins/news/article/lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit/">
									Read more
								</a> </div>
								</div>
							</div>
							<!-- author -->
							<div class="news-timeline__item-author"> <span class="news-list-author">
								created by John Doe
							</span> </div>
						</div>
					</article>
				</div>
				<div class="news-timeline__item-wrp js__news-timeline__item-wrp">
					<div class="news-list-date news-timeline__date js__news-timeline__date odd">
						<div> <span class="news-timeline__date-day">29</span> <span class="news-timeline__date-month">Oct</span> </div>
					</div>
					<article class="news-timeline__item-article articletype-0" itemscope="itemscope" itemtype="http://schema.org/Article">
						<div class="news-timeline__item js__news-timeline__item odd collapsed ">
							<!-- fal media preview element -->
							<div class="news-timeline__img-wrap">
								<a title="Lorem ipsum dolor sit amet, consectetur adipiscing elit." href="/content/plugins/news/article/lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-1/">
									<div class="news-timeline__media-preview" style="background-image:url('images/foto1.jpg');"></div>
								</a>
							</div>
							<div class="news-timeline__item-text">
								<!-- header -->
								<div class="news-article-header news-timeline__item-header">
									<h3>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h3> </div>
								<!-- teaser -->
								<div class="teaser-text news-timeline__item-teaser">
									<div itemprop="description">
										<p>Ut ullamcorper tincidunt ligula eu mollis. Proin tristique scelerisque lobortis. Cras faucibus erat dictum metus aliquet maximus. Nullam ac nisl eu eros luctus lacinia sed consequat leo.</p>
									</div>
									<div class="news-timeline__item-more-link"> <a class="more" title="Lorem ipsum dolor sit amet, consectetur adipiscing elit." href="/content/plugins/news/article/lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-1/">
									Read more
								</a> </div>
								</div>
							</div>
							<!-- author -->
							<div class="news-timeline__item-author"> <span class="news-list-author">
								created by John Doe
							</span> </div>
						</div>
					</article>
				</div>
				<div class="news-timeline__item-wrp js__news-timeline__item-wrp">
					<div class="news-list-date news-timeline__date js__news-timeline__date even">
						<div> <span class="news-timeline__date-day">27</span> <span class="news-timeline__date-month">Oct</span> </div>
					</div>
					<article class="news-timeline__item-article articletype-0" itemscope="itemscope" itemtype="http://schema.org/Article">
						<div class="news-timeline__item js__news-timeline__item even collapsed ">
							<!-- fal media preview element -->
							<div class="news-timeline__img-wrap">
								<a title="Lorem ipsum dolor sit amet, consectetur adipiscing elit." href="/content/plugins/news/article/lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-2/">
									<div class="news-timeline__media-preview" style="background-image:url('images/foto1.jpg');"></div>
								</a>
							</div>
							<div class="news-timeline__item-text">
								<!-- header -->
								<div class="news-article-header news-timeline__item-header">
									<h3>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h3> </div>
								<!-- teaser -->
								<div class="teaser-text news-timeline__item-teaser">
									<div itemprop="description">
										<p>Ut ullamcorper tincidunt ligula eu mollis. Proin tristique scelerisque lobortis. Cras faucibus erat dictum metus aliquet maximus. Nullam ac nisl eu eros luctus lacinia sed consequat leo.</p>
									</div>
									<div class="news-timeline__item-more-link"> <a class="more" title="Lorem ipsum dolor sit amet, consectetur adipiscing elit." href="/content/plugins/news/article/lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-2/">
									Read more
								</a> </div>
								</div>
							</div>
							<!-- author -->
							<div class="news-timeline__item-author"> <span class="news-list-author">
								created by John Doe
							</span> </div>
						</div>
					</article>
				</div>
				<div class="news-timeline__item-wrp js__news-timeline__item-wrp">
					<div class="news-list-date news-timeline__date js__news-timeline__date odd">
						<div> <span class="news-timeline__date-day">25</span> <span class="news-timeline__date-month">Oct</span> </div>
					</div>
					<article class="news-timeline__item-article articletype-0" itemscope="itemscope" itemtype="http://schema.org/Article">
						<div class="news-timeline__item js__news-timeline__item odd collapsed ">
							<!-- fal media preview element -->
							<div class="news-timeline__img-wrap">
								<a title="Lorem ipsum dolor sit amet, consectetur adipiscing elit. (copy 1)" href="/content/plugins/news/article/lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-copy-1/">
									<div class="news-timeline__media-preview" style="background-image:url('images/foto1.jpg');"></div>
								</a>
							</div>
							<div class="news-timeline__item-text">
								<!-- header -->
								<div class="news-article-header news-timeline__item-header">
									<h3>Lorem ipsum dolor sit amet, consectetur adipiscing elit. (copy 1)</h3> </div>
								<!-- teaser -->
								<div class="teaser-text news-timeline__item-teaser">
									<div itemprop="description">
										<p>Ut ullamcorper tincidunt ligula eu mollis. Proin tristique scelerisque lobortis. Cras faucibus erat dictum metus aliquet maximus. Nullam ac nisl eu eros luctus lacinia sed consequat leo.</p>
									</div>
									<div class="news-timeline__item-more-link"> <a class="more" title="Lorem ipsum dolor sit amet, consectetur adipiscing elit. (copy 1)" href="/content/plugins/news/article/lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-copy-1/">
									Read more
								</a> </div>
								</div>
							</div>
							<!-- author -->
							<div class="news-timeline__item-author"> <span class="news-list-author">
								created by John Doe
							</span> </div>
						</div>
					</article>
				</div>
				<div class="news-timeline__item-wrp js__news-timeline__item-wrp">
					<div class="news-list-date news-timeline__date js__news-timeline__date even">
						<div> <span class="news-timeline__date-day">06</span> <span class="news-timeline__date-month">Oct</span> </div>
					</div>
					<article class="news-timeline__item-article articletype-0" itemscope="itemscope" itemtype="http://schema.org/Article">
						<div class="news-timeline__item js__news-timeline__item even collapsed ">
							<!-- fal media preview element -->
							<div class="news-timeline__img-wrap">
								<a title="Lorem ipsum dolor sit amet, consectetur adipiscing elit. (copy 2)" href="/content/plugins/news/article/lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-copy-2/">
									<div class="news-timeline__media-preview" style="background-image:url('images/foto1.jpg');"></div>
								</a>
							</div>
							<div class="news-timeline__item-text">
								<!-- header -->
								<div class="news-article-header news-timeline__item-header">
									<h3>Lorem ipsum dolor sit amet, consectetur adipiscing elit. (copy 2)</h3> </div>
								<!-- teaser -->
								<div class="teaser-text news-timeline__item-teaser">
									<div itemprop="description">
										<p>Ut ullamcorper tincidunt ligula eu mollis. Proin tristique scelerisque lobortis. Cras faucibus erat dictum metus aliquet maximus. Nullam ac nisl eu eros luctus lacinia sed consequat leo.</p>
									</div>
									<div class="news-timeline__item-more-link"> <a class="more" title="Lorem ipsum dolor sit amet, consectetur adipiscing elit. (copy 2)" href="/content/plugins/news/article/lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-copy-2/">
									Read more
								</a> </div>
								</div>
							</div>
							<!-- author -->
							<div class="news-timeline__item-author"> <span class="news-list-author">
								created by John Doe
							</span> </div>
						</div>
					</article>
				</div>
				<div class="news-timeline__item-wrp js__news-timeline__item-wrp">
					<div class="news-list-date news-timeline__date js__news-timeline__date odd">
						<div> <span class="news-timeline__date-day">06</span> <span class="news-timeline__date-month">Oct</span> </div>
					</div>
					<article class="news-timeline__item-article articletype-0" itemscope="itemscope" itemtype="http://schema.org/Article">
						<div class="news-timeline__item js__news-timeline__item odd collapsed ">
							<!-- fal media preview element -->
							<div class="news-timeline__img-wrap">
								<a title="Lorem ipsum dolor sit amet, consectetur adipiscing elit. (copy 3)" href="/content/plugins/news/article/lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-copy-3/">
									<div class="news-timeline__media-preview" style="background-image:url('images/foto1.jpg');"></div>
								</a>
							</div>
							<div class="news-timeline__item-text">
								<!-- header -->
								<div class="news-article-header news-timeline__item-header">
									<h3>Lorem ipsum dolor sit amet, consectetur adipiscing elit. (copy 3)</h3> </div>
								<!-- teaser -->
								<div class="teaser-text news-timeline__item-teaser">
									<div itemprop="description">
										<p>Ut ullamcorper tincidunt ligula eu mollis. Proin tristique scelerisque lobortis. Cras faucibus erat dictum metus aliquet maximus. Nullam ac nisl eu eros luctus lacinia sed consequat leo.</p>
									</div>
									<div class="news-timeline__item-more-link"> <a class="more" title="Lorem ipsum dolor sit amet, consectetur adipiscing elit. (copy 3)" href="/content/plugins/news/article/lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-copy-3/">
									Read more
								</a> </div>
								</div>
							</div>
							<!-- author -->
							<div class="news-timeline__item-author"> <span class="news-list-author">
								created by John Doe
							</span> </div>
						</div>
					</article>
				</div>
				<div class="news-timeline__item-wrp js__news-timeline__item-wrp">
					<div class="news-list-date news-timeline__date js__news-timeline__date even">
						<div> <span class="news-timeline__date-day">06</span> <span class="news-timeline__date-month">Oct</span> </div>
					</div>
					<article class="news-timeline__item-article articletype-0" itemscope="itemscope" itemtype="http://schema.org/Article">
						<div class="news-timeline__item js__news-timeline__item even collapsed ">
							<!-- fal media preview element -->
							<div class="news-timeline__img-wrap">
								<a title="Lorem ipsum dolor sit amet, consectetur adipiscing elit. (copy 5)" href="/content/plugins/news/article/lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-copy-5/">
									<div class="news-timeline__media-preview" style="background-image:url('images/foto1.jpg');"></div>
								</a>
							</div>
							<div class="news-timeline__item-text">
								<!-- header -->
								<div class="news-article-header news-timeline__item-header">
									<h3>Lorem ipsum dolor sit amet, consectetur adipiscing elit. (copy 5)</h3> </div>
								<!-- teaser -->
								<div class="teaser-text news-timeline__item-teaser">
									<div itemprop="description">
										<p>Ut ullamcorper tincidunt ligula eu mollis. Proin tristique scelerisque lobortis. Cras faucibus erat dictum metus aliquet maximus. Nullam ac nisl eu eros luctus lacinia sed consequat leo.</p>
									</div>
									<div class="news-timeline__item-more-link"> <a class="more" title="Lorem ipsum dolor sit amet, consectetur adipiscing elit. (copy 5)" href="/content/plugins/news/article/lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-copy-5/">
									Read more
								</a> </div>
								</div>
							</div>
							<!-- author -->
							<div class="news-timeline__item-author"> <span class="news-list-author">
								created by John Doe
							</span> </div>
						</div>
					</article>
				</div>
				<div class="news-timeline__item-wrp js__news-timeline__item-wrp">
					<div class="news-list-date news-timeline__date js__news-timeline__date odd">
						<div> <span class="news-timeline__date-day">06</span> <span class="news-timeline__date-month">Oct</span> </div>
					</div>
					<article class="news-timeline__item-article articletype-0" itemscope="itemscope" itemtype="http://schema.org/Article">
						<div class="news-timeline__item js__news-timeline__item odd collapsed ">
							<!-- fal media preview element -->
							<div class="news-timeline__img-wrap">
								<a title="Lorem ipsum dolor sit amet, consectetur adipiscing elit. (copy 6)" href="/content/plugins/news/article/lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-copy-6/">
									<div class="news-timeline__media-preview" style="background-image:url('images/foto1.jpg');"></div>
								</a>
							</div>
							<div class="news-timeline__item-text">
								<!-- header -->
								<div class="news-article-header news-timeline__item-header">
									<h3>Lorem ipsum dolor sit amet, consectetur adipiscing elit. (copy 6)</h3> </div>
								<!-- teaser -->
								<div class="teaser-text news-timeline__item-teaser">
									<div itemprop="description">
										<p>Ut ullamcorper tincidunt ligula eu mollis. Proin tristique scelerisque lobortis. Cras faucibus erat dictum metus aliquet maximus. Nullam ac nisl eu eros luctus lacinia sed consequat leo.</p>
									</div>
									<div class="news-timeline__item-more-link"> <a class="more" title="Lorem ipsum dolor sit amet, consectetur adipiscing elit. (copy 6)" href="/content/plugins/news/article/lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-copy-6/">
									Read more
								</a> </div>
								</div>
							</div>
							<!-- author -->
							<div class="news-timeline__item-author"> <span class="news-list-author">
								created by John Doe
							</span> </div>
						</div>
					</article>
				</div>
				<div class="news-timeline__item-wrp js__news-timeline__item-wrp">
					<div class="news-list-date news-timeline__date js__news-timeline__date even">
						<div> <span class="news-timeline__date-day">06</span> <span class="news-timeline__date-month">Oct</span> </div>
					</div>
					<article class="news-timeline__item-article articletype-0" itemscope="itemscope" itemtype="http://schema.org/Article">
						<div class="news-timeline__item js__news-timeline__item even collapsed  last">
							<!-- fal media preview element -->
							<div class="news-timeline__img-wrap">
								<a title="Lorem ipsum dolor sit amet, consectetur adipiscing elit. (copy 7)" href="/content/plugins/news/article/lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-copy-7/">
									<div class="news-timeline__media-preview" style="background-image:url('images/foto1.jpg');"></div>
								</a>
							</div>
							<div class="news-timeline__item-text">
								<!-- header -->
								<div class="news-article-header news-timeline__item-header">
									<h3>Lorem ipsum dolor sit amet, consectetur adipiscing elit. (copy 7)</h3> </div>
								<!-- teaser -->
								<div class="teaser-text news-timeline__item-teaser">
									<div itemprop="description">
										<p>Ut ullamcorper tincidunt ligula eu mollis. Proin tristique scelerisque lobortis. Cras faucibus erat dictum metus aliquet maximus. Nullam ac nisl eu eros luctus lacinia sed consequat leo.</p>
									</div>
									<div class="news-timeline__item-more-link"> <a class="more" title="Lorem ipsum dolor sit amet, consectetur adipiscing elit. (copy 7)" href="/content/plugins/news/article/lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-copy-7/">
									Read more
								</a> </div>
								</div>
							</div>
							<!-- author -->
							<div class="news-timeline__item-author"> <span class="news-list-author">
								created by John Doe
							</span> </div>
						</div>
					</article>
				</div>
			</div>
			<div class="page-navigation">
				<p> Page 1 of 2. </p>
				<ul class="f3-widget-paginator">
					<li class="current">1</li>
					<li> <a href="/content/plugins/news/news-timeline-list/page/2/">2</a> </li>
					<li class="last next"> <a href="/content/plugins/news/news-timeline-list/page/2/">
							Next
						</a> </li>
				</ul>
			</div>
			<div class="news-clear"></div>
		</div>
	</div>
</div>
