<div id="c344" class=" ">
<div class="news">
<div class="news-list-view news-carousel">
    <div class="swiper-container news-carousel__container js__news-carousel swiper-container-horizontal">
    <!-- Additional required wrapper -->
        <div class="swiper-wrapper news-carousel__wrapper" style="transition-duration: 0ms; transform: translate3d(0px, 0px, 0px);">
            <div class="swiper-slide news-carousel__slide swiper-slide-active" style="width: 237px; margin-right: 30px;">
                <div class="article articletype-0" itemscope="itemscope" itemtype="http://schema.org/Article">
                    <!-- fal media preview element -->
                    <div class="news-carousel__img-wrap">
                        <a title="Lorem ipsum dolor sit amet, consectetur adipiscing elit." href="/">
                            <div class="news-carousel__media-preview" style="background-image:url('images/spot_image1.jpg');"></div>
                        </a>
                        <div class="news-carousel__item-info">
                            <!-- first category -->
                            <span class="news-list-category">Technology</span>
                            <!-- date -->
                            <span class="news-list-date">
                                <time datetime="2015-10-06">
                                    10/06/2015
                                    <meta itemprop="datePublished" content="2015-10-06">
                                </time>
                            </span>
                        </div>
                    </div>
                    <!-- header -->
                    <div class="news-article-header">
                        <h3>
                            <a title="Lorem ipsum dolor sit amet, consectetur adipiscing elit." href="/">
                                <span itemprop="headline">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</span>
                            </a>
                        </h3>
                    </div>
                    <!-- teaser -->
                    <div class="teaser-text">
                        <div itemprop="description"><p>Ut ullamcorper tincidunt ligula eu mollis. Proin tristique scelerisque lobortis. Cras faucibus erat dictum metus aliquet...</p></div>
                    </div>
                </div>
            </div>
            <div class="swiper-slide news-carousel__slide swiper-slide-next" style="width: 237px; margin-right: 30px;">
                <div class="article articletype-0" itemscope="itemscope" itemtype="http://schema.org/Article">
                    <!-- fal media preview element -->
                    <div class="news-carousel__img-wrap">
                        <div class="no-media-element">
                            <a title="Lorem ipsum dolor sit amet, consectetur adipiscing elit. " href="/">
                                <div class="news-carousel__media-preview" style="background-image:url('images/spot_image1.jpg');"></div>
                            </a>
                        </div>
                        <div class="news-carousel__item-info">
                            <!-- first category -->
                            <span class="news-list-category">Technology</span>
                            <!-- date -->
                            <span class="news-list-date">
                                <time datetime="2015-10-06">
                                    10/06/2015
                                    <meta itemprop="datePublished" content="2015-10-06">
                                </time>
                            </span>
                        </div>
                    </div>
                    <!-- header -->
                    <div class="news-article-header">
                        <h3>
                            <a title="Lorem ipsum dolor sit amet, consectetur adipiscing elit. " href="/">
                                <span itemprop="headline">Lorem ipsum dolor sit amet, consectetur adipiscing elit. </span>
                            </a>
                        </h3>
                    </div>
                    <!-- teaser -->
                    <div class="teaser-text">
                        <div itemprop="description"><p>Ut ullamcorper tincidunt ligula eu mollis. Proin tristique scelerisque lobortis. Cras faucibus erat dictum metus aliquet...</p></div>
                    </div>
                </div>
            </div>
            <div class="swiper-slide news-carousel__slide" style="width: 237px; margin-right: 30px;">
                <div class="article articletype-0" itemscope="itemscope" itemtype="http://schema.org/Article">
                    <!-- fal media preview element -->
                    <div class="news-carousel__img-wrap">
                        <div class="no-media-element">
                            <a title="Lorem ipsum dolor sit amet, consectetur adipiscing elit. (copy 2)" href="/">
                                <div class="news-carousel__media-preview" style="background-image:url('images/spot_image1.jpg');"></div>
                            </a>
                        </div>
                        <div class="news-carousel__item-info">
                            <!-- first category -->
                            <span class="news-list-category">Technology</span>

                            <!-- date -->
                            <span class="news-list-date">
                                <time datetime="2015-10-06">
                                    10/06/2015
                                    <meta itemprop="datePublished" content="2015-10-06">
                                </time>
                            </span>
                        </div>
                    </div>
                    <!-- header -->
                    <div class="news-article-header">
                        <h3>
                            <a title="Lorem ipsum dolor sit amet, consectetur adipiscing elit. (copy 2)" href="/">
                                <span itemprop="headline">Lorem ipsum dolor sit amet, consectetur adipiscing elit. (copy 2)</span>
                            </a>
                        </h3>
                    </div>
                    <!-- teaser -->
                    <div class="teaser-text">
                        <div itemprop="description"><p>Ut ullamcorper tincidunt ligula eu mollis. Proin tristique scelerisque lobortis. Cras faucibus erat dictum metus aliquet...</p></div>
                    </div>
                </div>
            </div>



            <div class="swiper-slide news-carousel__slide" style="width: 237px; margin-right: 30px;">
                <div class="article articletype-0" itemscope="itemscope" itemtype="http://schema.org/Article">
                    <!-- fal media preview element -->
                    <div class="news-carousel__img-wrap">
                        <div class="no-media-element">
                            <a title="Nullam sagittis condimentum est quis malesuada." href="/">
                                <div class="news-carousel__media-preview" style="background-image:url('images/spot_image1.jpg');"></div>
                            </a>
                        </div>
                        <div class="news-carousel__item-info">

                            <!-- first category -->
                            <span class="news-list-category">Research</span>

                            <!-- date -->
                            <span class="news-list-date">
                                <time datetime="2015-09-15">
                                    09/15/2015
                                    <meta itemprop="datePublished" content="2015-09-15">
                                </time>
                            </span>
                        </div>
                    </div>
                    <!-- header -->
                    <div class="news-article-header">
                        <h3>
                            <a title="Nullam sagittis condimentum est quis malesuada." href="/">
                                <span itemprop="headline">Nullam sagittis condimentum est quis malesuada.</span>
                            </a>
                        </h3>
                    </div>
                    <!-- teaser -->
                    <div class="teaser-text">
                        <div itemprop="description"><p>Ut ullamcorper tincidunt ligula eu mollis. Proin tristique scelerisque lobortis. Cras faucibus erat dictum metus aliquet...</p></div>
                    </div>
                </div>
            </div>
            <div class="swiper-slide news-carousel__slide" style="width: 237px; margin-right: 30px;">
                <div class="article articletype-0" itemscope="itemscope" itemtype="http://schema.org/Article">
                    <!-- fal media preview element -->
                    <div class="news-carousel__img-wrap">
                        <div class="no-media-element">
                            <a title="Nullam sagittis condimentum est quis malesuada. " href="/">
                                <div class="news-carousel__media-preview" style="background-image:url('images/spot_image1.jpg');"></div>
                            </a>
                        </div>
                        <div class="news-carousel__item-info">
                            <!-- first category -->
                            <span class="news-list-category">Research</span>

                            <!-- date -->
                            <span class="news-list-date">
                                <time datetime="2015-09-15">
                                    09/15/2015
                                    <meta itemprop="datePublished" content="2015-09-15">
                                </time>
                            </span>
                        </div>
                    </div>
                    <!-- header -->
                    <div class="news-article-header">
                        <h3>
                            <a title="Nullam sagittis condimentum est quis malesuada. " href="/">
                                <span itemprop="headline">Nullam sagittis condimentum est quis malesuada. </span>
                            </a>
                        </h3>
                    </div>
                    <!-- teaser -->
                    <div class="teaser-text">
                        <div itemprop="description"><p>Ut ullamcorper tincidunt ligula eu mollis. Proin tristique scelerisque lobortis. Cras faucibus erat dictum metus aliquet...</p></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="js__news-carousel__pagination news-carousel__pagination swiper-pagination swiper-pagination-clickable swiper-pagination-bullets"><span class="swiper-pagination-bullet swiper-pagination-bullet-active"></span><span class="swiper-pagination-bullet"></span></div>
    </div>
    <div class="js__news-carousel__btn-prev news-carousel__btn-prev swiper-button-prev swiper-button-disabled"></div>
    <div class="js__news-carousel__btn-next news-carousel__btn-next swiper-button-next"></div>
</div>
</div>
</div>
