<div id="c360" class=" ">
    <div class="news">
        <div class="news-list-view news-simple-list simplelist">
            <div class="page-navigation">
                <p> Page 1 of 2. </p>
                <ul class="f3-widget-paginator">
                    <li class="current">1</li>
                    <li> <a href="/content/page/2/">2</a> </li>
                    <li class="last next"> <a href="/content/page/2/">
                            Next
                        </a> </li>
                </ul>
            </div>
            <div class="news-clear"></div>
            <article class="news-simple-list__item clearfix articletype-0" itemscope="itemscope" itemtype="http://schema.org/Article">
                <!-- fal media preview element -->
                <div class="news-simple-list__img-wrap">
                    <div class="no-media-element">
                        <div class="news-simple-list__media-preview" style="background-image:url('images/foto1.jpg');"></div>
                    </div>
                </div>
                <div class="news-simple-list__text js__news-simple-list__dotdotdot" style="word-wrap: break-word;">
                    <!-- date --><span class="news-list-date news-simple-list__date-wrp">
                <span class="news-simple-list__date-text">
                    Published:
                </span> <span class="news-simple-list__date">
                    <time datetime="2015-10-06">
                        10/06/2015
                        <meta itemprop="datePublished" content="2015-10-06">
                    </time>
                </span> </span>
                    <!-- header -->
                    <div class="news-article-header news-simple-list__header">
                        <h3>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h3> </div>
                    <!-- teaser -->
                    <div class="teaser-text news-simple-list__teaser"> <span itemprop="description"><p>Ut ullamcorper tincidunt ligula eu mollis. Proin tristique scelerisque lobortis. Cras faucibus erat dictum metus aliquet maximus. Nullam ac nisl eu eros luctus lacinia sed consequat leo. Ut ullamcorper tincidunt ligula eu mollis. Proin tristique scelerisque lobortis. Cras...</p></span>                        </div>
                </div>
                <div class="news-simple-list__more-link"> <a class="more" title="Lorem ipsum dolor sit amet, consectetur adipiscing elit." href="/content/plugins/news/article/lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit/">
                Read more
            </a> </div>
            </article>
            <article class="news-simple-list__item clearfix articletype-0" itemscope="itemscope" itemtype="http://schema.org/Article">
                <!-- fal media preview element -->
                <div class="news-simple-list__img-wrap">
                    <a title="Lorem ipsum dolor sit amet, consectetur adipiscing elit." href="/content/plugins/news/article/lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-1/">
                        <div class="news-simple-list__media-preview" style="background-image:url('images/foto1.jpg');"></div>
                    </a>
                </div>
                <div class="news-simple-list__text js__news-simple-list__dotdotdot" style="word-wrap: break-word;">
                    <!-- date --><span class="news-list-date news-simple-list__date-wrp">
                <span class="news-simple-list__date-text">
                    Published:
                </span> <span class="news-simple-list__date">
                    <time datetime="2015-10-06">
                        10/06/2015
                        <meta itemprop="datePublished" content="2015-10-06">
                    </time>
                </span> </span>
                    <!-- header -->
                    <div class="news-article-header news-simple-list__header">
                        <h3>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h3> </div>
                    <!-- teaser -->
                    <div class="teaser-text news-simple-list__teaser"> <span itemprop="description"><p>Ut ullamcorper tincidunt ligula eu mollis. Proin tristique scelerisque lobortis. Cras faucibus erat dictum metus aliquet maximus. Nullam ac nisl eu eros luctus lacinia sed consequat leo.</p></span> </div>
                </div>
                <div class="news-simple-list__more-link"> <a class="more" title="Lorem ipsum dolor sit amet, consectetur adipiscing elit." href="/content/plugins/news/article/lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-1/">
                Read more
            </a> </div>
            </article>
            <article class="news-simple-list__item clearfix articletype-0" itemscope="itemscope" itemtype="http://schema.org/Article">
                <!-- fal media preview element -->
                <div class="news-simple-list__img-wrap">
                    <a title="Lorem ipsum dolor sit amet, consectetur adipiscing elit." href="/content/plugins/news/article/lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-2/">
                        <div class="news-simple-list__media-preview" style="background-image:url('images/foto1.jpg');"></div>
                    </a>
                </div>
                <div class="news-simple-list__text js__news-simple-list__dotdotdot" style="word-wrap: break-word;">
                    <!-- date --><span class="news-list-date news-simple-list__date-wrp">
                <span class="news-simple-list__date-text">
                    Published:
                </span> <span class="news-simple-list__date">
                    <time datetime="2015-10-06">
                        10/06/2015
                        <meta itemprop="datePublished" content="2015-10-06">
                    </time>
                </span> </span>
                    <!-- header -->
                    <div class="news-article-header news-simple-list__header">
                        <h3>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h3> </div>
                    <!-- teaser -->
                    <div class="teaser-text news-simple-list__teaser"> <span itemprop="description"><p>Ut ullamcorper tincidunt ligula eu mollis. Proin tristique scelerisque lobortis. Cras faucibus erat dictum metus aliquet maximus. Nullam ac nisl eu eros luctus lacinia sed consequat leo.</p></span> </div>
                </div>
                <div class="news-simple-list__more-link"> <a class="more" title="Lorem ipsum dolor sit amet, consectetur adipiscing elit." href="/content/plugins/news/article/lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-2/">
                Read more
            </a> </div>
            </article>
            <article class="news-simple-list__item clearfix articletype-0" itemscope="itemscope" itemtype="http://schema.org/Article">
                <!-- fal media preview element -->
                <div class="news-simple-list__img-wrap">
                    <a title="Lorem ipsum dolor sit amet, consectetur adipiscing elit. (copy 1)" href="/content/plugins/news/article/lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-copy-1/">
                        <div class="news-simple-list__media-preview" style="background-image:url('images/foto1.jpg');"></div>
                    </a>
                </div>
                <div class="news-simple-list__text js__news-simple-list__dotdotdot" style="word-wrap: break-word;">
                    <!-- date --><span class="news-list-date news-simple-list__date-wrp">
                <span class="news-simple-list__date-text">
                    Published:
                </span> <span class="news-simple-list__date">
                    <time datetime="2015-10-06">
                        10/06/2015
                        <meta itemprop="datePublished" content="2015-10-06">
                    </time>
                </span> </span>
                    <!-- header -->
                    <div class="news-article-header news-simple-list__header">
                        <h3>Lorem ipsum dolor sit amet, consectetur adipiscing elit. (copy 1)</h3> </div>
                    <!-- teaser -->
                    <div class="teaser-text news-simple-list__teaser"> <span itemprop="description"><p>Ut ullamcorper tincidunt ligula eu mollis. Proin tristique scelerisque lobortis. Cras faucibus erat dictum metus aliquet maximus. Nullam ac nisl eu eros luctus lacinia sed consequat leo.</p></span> </div>
                </div>
                <div class="news-simple-list__more-link"> <a class="more" title="Lorem ipsum dolor sit amet, consectetur adipiscing elit. (copy 1)" href="/content/plugins/news/article/lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-copy-1/">
                Read more
            </a> </div>
            </article>
            <article class="news-simple-list__item clearfix articletype-0" itemscope="itemscope" itemtype="http://schema.org/Article">
                <!-- fal media preview element -->
                <div class="news-simple-list__img-wrap">
                    <a title="Lorem ipsum dolor sit amet, consectetur adipiscing elit. (copy 2)" href="/content/plugins/news/article/lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-copy-2/">
                        <div class="news-simple-list__media-preview" style="background-image:url('images/foto1.jpg');"></div>
                    </a>
                </div>
                <div class="news-simple-list__text js__news-simple-list__dotdotdot" style="word-wrap: break-word;">
                    <!-- date --><span class="news-list-date news-simple-list__date-wrp">
                <span class="news-simple-list__date-text">
                    Published:
                </span> <span class="news-simple-list__date">
                    <time datetime="2015-10-06">
                        10/06/2015
                        <meta itemprop="datePublished" content="2015-10-06">
                    </time>
                </span> </span>
                    <!-- header -->
                    <div class="news-article-header news-simple-list__header">
                        <h3>Lorem ipsum dolor sit amet, consectetur adipiscing elit. (copy 2)</h3> </div>
                    <!-- teaser -->
                    <div class="teaser-text news-simple-list__teaser"> <span itemprop="description"><p>Ut ullamcorper tincidunt ligula eu mollis. Proin tristique scelerisque lobortis. Cras faucibus erat dictum metus aliquet maximus. Nullam ac nisl eu eros luctus lacinia sed consequat leo.</p></span> </div>
                </div>
                <div class="news-simple-list__more-link"> <a class="more" title="Lorem ipsum dolor sit amet, consectetur adipiscing elit. (copy 2)" href="/content/plugins/news/article/lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-copy-2/">
                Read more
            </a> </div>
            </article>
            <article class="news-simple-list__item clearfix articletype-0" itemscope="itemscope" itemtype="http://schema.org/Article">
                <!-- fal media preview element -->
                <div class="news-simple-list__img-wrap">
                    <a title="Lorem ipsum dolor sit amet, consectetur adipiscing elit. (copy 3)" href="/content/plugins/news/article/lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-copy-3/">
                        <div class="news-simple-list__media-preview" style="background-image:url('images/foto1.jpg');"></div>
                    </a>
                </div>
                <div class="news-simple-list__text js__news-simple-list__dotdotdot" style="word-wrap: break-word;">
                    <!-- date --><span class="news-list-date news-simple-list__date-wrp">
                <span class="news-simple-list__date-text">
                    Published:
                </span> <span class="news-simple-list__date">
                    <time datetime="2015-10-06">
                        10/06/2015
                        <meta itemprop="datePublished" content="2015-10-06">
                    </time>
                </span> </span>
                    <!-- header -->
                    <div class="news-article-header news-simple-list__header">
                        <h3>Lorem ipsum dolor sit amet, consectetur adipiscing elit. (copy 3)</h3> </div>
                    <!-- teaser -->
                    <div class="teaser-text news-simple-list__teaser"> <span itemprop="description"><p>Ut ullamcorper tincidunt ligula eu mollis. Proin tristique scelerisque lobortis. Cras faucibus erat dictum metus aliquet maximus. Nullam ac nisl eu eros luctus lacinia sed consequat leo.</p></span> </div>
                </div>
                <div class="news-simple-list__more-link"> <a class="more" title="Lorem ipsum dolor sit amet, consectetur adipiscing elit. (copy 3)" href="/content/plugins/news/article/lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-copy-3/">
                Read more
            </a> </div>
            </article>
            <article class="news-simple-list__item clearfix articletype-0" itemscope="itemscope" itemtype="http://schema.org/Article">
                <!-- fal media preview element -->
                <div class="news-simple-list__img-wrap">
                    <a title="Lorem ipsum dolor sit amet, consectetur adipiscing elit. (copy 4)" href="/content/plugins/news/article/lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-copy-4/">
                        <div class="news-simple-list__media-preview" style="background-image:url('images/foto1.jpg');"></div>
                    </a>
                </div>
                <div class="news-simple-list__text js__news-simple-list__dotdotdot" style="word-wrap: break-word;">
                    <!-- date --><span class="news-list-date news-simple-list__date-wrp">
                <span class="news-simple-list__date-text">
                    Published:
                </span> <span class="news-simple-list__date">
                    <time datetime="2015-10-06">
                        10/06/2015
                        <meta itemprop="datePublished" content="2015-10-06">
                    </time>
                </span> </span>
                    <!-- header -->
                    <div class="news-article-header news-simple-list__header">
                        <h3>Lorem ipsum dolor sit amet, consectetur adipiscing elit. (copy 4)</h3> </div>
                    <!-- teaser -->
                    <div class="teaser-text news-simple-list__teaser"> <span itemprop="description"><p>Ut ullamcorper tincidunt ligula eu mollis. Proin tristique scelerisque lobortis. Cras faucibus erat dictum metus aliquet maximus. Nullam ac nisl eu eros luctus lacinia sed consequat leo.</p></span> </div>
                </div>
                <div class="news-simple-list__more-link"> <a class="more" title="Lorem ipsum dolor sit amet, consectetur adipiscing elit. (copy 4)" href="/content/plugins/news/article/lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-copy-4/">
                Read more
            </a> </div>
            </article>
            <article class="news-simple-list__item clearfix articletype-0" itemscope="itemscope" itemtype="http://schema.org/Article">
                <!-- fal media preview element -->
                <div class="news-simple-list__img-wrap">
                    <a title="Lorem ipsum dolor sit amet, consectetur adipiscing elit. (copy 5)" href="/content/plugins/news/article/lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-copy-5/">
                        <div class="news-simple-list__media-preview" style="background-image:url('images/foto1.jpg');"></div>
                    </a>
                </div>
                <div class="news-simple-list__text js__news-simple-list__dotdotdot" style="word-wrap: break-word;">
                    <!-- date --><span class="news-list-date news-simple-list__date-wrp">
                <span class="news-simple-list__date-text">
                    Published:
                </span> <span class="news-simple-list__date">
                    <time datetime="2015-10-06">
                        10/06/2015
                        <meta itemprop="datePublished" content="2015-10-06">
                    </time>
                </span> </span>
                    <!-- header -->
                    <div class="news-article-header news-simple-list__header">
                        <h3>Lorem ipsum dolor sit amet, consectetur adipiscing elit. (copy 5)</h3> </div>
                    <!-- teaser -->
                    <div class="teaser-text news-simple-list__teaser"> <span itemprop="description"><p>Ut ullamcorper tincidunt ligula eu mollis. Proin tristique scelerisque lobortis. Cras faucibus erat dictum metus aliquet maximus. Nullam ac nisl eu eros luctus lacinia sed consequat leo.</p></span> </div>
                </div>
                <div class="news-simple-list__more-link"> <a class="more" title="Lorem ipsum dolor sit amet, consectetur adipiscing elit. (copy 5)" href="/content/plugins/news/article/lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-copy-5/">
                Read more
            </a> </div>
            </article>
            <article class="news-simple-list__item clearfix articletype-0" itemscope="itemscope" itemtype="http://schema.org/Article">
                <!-- fal media preview element -->
                <div class="news-simple-list__img-wrap">
                    <a title="Lorem ipsum dolor sit amet, consectetur adipiscing elit. (copy 6)" href="/content/plugins/news/article/lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-copy-6/">
                        <div class="news-simple-list__media-preview" style="background-image:url('images/foto1.jpg');"></div>
                    </a>
                </div>
                <div class="news-simple-list__text js__news-simple-list__dotdotdot" style="word-wrap: break-word;">
                    <!-- date --><span class="news-list-date news-simple-list__date-wrp">
                <span class="news-simple-list__date-text">
                    Published:
                </span> <span class="news-simple-list__date">
                    <time datetime="2015-10-06">
                        10/06/2015
                        <meta itemprop="datePublished" content="2015-10-06">
                    </time>
                </span> </span>
                    <!-- header -->
                    <div class="news-article-header news-simple-list__header">
                        <h3>Lorem ipsum dolor sit amet, consectetur adipiscing elit. (copy 6)</h3> </div>
                    <!-- teaser -->
                    <div class="teaser-text news-simple-list__teaser"> <span itemprop="description"><p>Ut ullamcorper tincidunt ligula eu mollis. Proin tristique scelerisque lobortis. Cras faucibus erat dictum metus aliquet maximus. Nullam ac nisl eu eros luctus lacinia sed consequat leo.</p></span> </div>
                </div>
                <div class="news-simple-list__more-link"> <a class="more" title="Lorem ipsum dolor sit amet, consectetur adipiscing elit. (copy 6)" href="/content/plugins/news/article/lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-copy-6/">
                Read more
            </a> </div>
            </article>
            <article class="news-simple-list__item clearfix articletype-0" itemscope="itemscope" itemtype="http://schema.org/Article">
                <!-- fal media preview element -->
                <div class="news-simple-list__img-wrap">
                    <a title="Lorem ipsum dolor sit amet, consectetur adipiscing elit. (copy 7)" href="/content/plugins/news/article/lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-copy-7/">
                        <div class="news-simple-list__media-preview" style="background-image:url('images/foto1.jpg');"></div>
                    </a>
                </div>
                <div class="news-simple-list__text js__news-simple-list__dotdotdot" style="word-wrap: break-word;">
                    <!-- date --><span class="news-list-date news-simple-list__date-wrp">
                <span class="news-simple-list__date-text">
                    Published:
                </span> <span class="news-simple-list__date">
                    <time datetime="2015-10-06">
                        10/06/2015
                        <meta itemprop="datePublished" content="2015-10-06">
                    </time>
                </span> </span>
                    <!-- header -->
                    <div class="news-article-header news-simple-list__header">
                        <h3>Lorem ipsum dolor sit amet, consectetur adipiscing elit. (copy 7)</h3> </div>
                    <!-- teaser -->
                    <div class="teaser-text news-simple-list__teaser"> <span itemprop="description"><p>Ut ullamcorper tincidunt ligula eu mollis. Proin tristique scelerisque lobortis. Cras faucibus erat dictum metus aliquet maximus. Nullam ac nisl eu eros luctus lacinia sed consequat leo.</p></span> </div>
                </div>
                <div class="news-simple-list__more-link"> <a class="more" title="Lorem ipsum dolor sit amet, consectetur adipiscing elit. (copy 7)" href="/content/plugins/news/article/lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-copy-7/">
                Read more
            </a> </div>
            </article>
            <article class="news-simple-list__item clearfix articletype-0" itemscope="itemscope" itemtype="http://schema.org/Article">
                <!-- fal media preview element -->
                <div class="news-simple-list__img-wrap">
                    <a title="Lorem ipsum dolor sit amet, consectetur adipiscing elit. (copy 8)" href="/content/plugins/news/article/lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-copy-8/">
                        <div class="news-simple-list__media-preview" style="background-image:url('images/foto1.jpg');"></div>
                    </a>
                </div>
                <div class="news-simple-list__text js__news-simple-list__dotdotdot" style="word-wrap: break-word;">
                    <!-- date --><span class="news-list-date news-simple-list__date-wrp">
                <span class="news-simple-list__date-text">
                    Published:
                </span> <span class="news-simple-list__date">
                    <time datetime="2015-10-06">
                        10/06/2015
                        <meta itemprop="datePublished" content="2015-10-06">
                    </time>
                </span> </span>
                    <!-- header -->
                    <div class="news-article-header news-simple-list__header">
                        <h3>Lorem ipsum dolor sit amet, consectetur adipiscing elit. (copy 8)</h3> </div>
                    <!-- teaser -->
                    <div class="teaser-text news-simple-list__teaser"> <span itemprop="description"><p>Ut ullamcorper tincidunt ligula eu mollis. Proin tristique scelerisque lobortis. Cras faucibus erat dictum metus aliquet maximus. Nullam ac nisl eu eros luctus lacinia sed consequat leo.</p></span> </div>
                </div>
                <div class="news-simple-list__more-link"> <a class="more" title="Lorem ipsum dolor sit amet, consectetur adipiscing elit. (copy 8)" href="/content/plugins/news/article/lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-copy-8/">
                Read more
            </a> </div>
            </article>
            <article class="news-simple-list__item clearfix articletype-0" itemscope="itemscope" itemtype="http://schema.org/Article">
                <!-- fal media preview element -->
                <div class="news-simple-list__img-wrap">
                    <a title="Nullam sagittis condimentum est quis malesuada." href="/content/plugins/news/article/nullam-sagittis-condimentum-est-quis-malesuada/">
                        <div class="news-simple-list__media-preview" style="background-image:url('images/foto1.jpg');"></div>
                    </a>
                </div>
                <div class="news-simple-list__text js__news-simple-list__dotdotdot" style="word-wrap: break-word;">
                    <!-- date --><span class="news-list-date news-simple-list__date-wrp">
                <span class="news-simple-list__date-text">
                    Published:
                </span> <span class="news-simple-list__date">
                    <time datetime="2015-09-15">
                        09/15/2015
                        <meta itemprop="datePublished" content="2015-09-15">
                    </time>
                </span> </span>
                    <!-- header -->
                    <div class="news-article-header news-simple-list__header">
                        <h3>Nullam sagittis condimentum est quis malesuada.</h3> </div>
                    <!-- teaser -->
                    <div class="teaser-text news-simple-list__teaser"> <span itemprop="description"><p>Ut ullamcorper tincidunt ligula eu mollis. Proin tristique scelerisque lobortis. Cras faucibus erat dictum metus aliquet maximus. Nullam ac nisl eu eros luctus lacinia sed consequat leo. Ut ullamcorper tincidunt ligula eu mollis. Proin tristique scelerisque lobortis. Cras...</p></span>                        </div>
                </div>
                <div class="news-simple-list__more-link"> <a class="more" title="Nullam sagittis condimentum est quis malesuada." href="/content/plugins/news/article/nullam-sagittis-condimentum-est-quis-malesuada/">
                Read more
            </a> </div>
            </article>
            <div class="page-navigation">
                <p> Page 1 of 2. </p>
                <ul class="f3-widget-paginator">
                    <li class="current">1</li>
                    <li> <a href="/content/page/2/">2</a> </li>
                    <li class="last next"> <a href="/content/page/2/">
                            Next
                        </a> </li>
                </ul>
            </div>
            <div class="news-clear"></div>
        </div>
    </div>
</div>
