<div id="c82">
    <h3>News category menu</h3>
    <div class="news">
        <ul class="news-tags">
            <li> <a title="Tag Ipsum" href="content/plugins/news/list/tag/tag-ipsum/">Tag Ipsum</a> </li>
            <li> <a title="Tag Lorem" href="content/plugins/news/list/tag/tag-lorem/">Tag Lorem</a> </li>
            <li> <a title="11111" href="content/plugins/news/list/tag/11111/">11111</a> </li>
            <li> <a title="22222" href="content/plugins/news/list/tag/22222/">22222</a> </li>
        </ul>
    </div>
</div>
