<f:layout name="Default" />
<f:section name="Main">

	<f:variable name="container">{data.pi_flexform.data.columns.lDEF.container.vDEF}</f:variable>
	<f:variable name="column_1_xs">{data.pi_flexform.data.columns.lDEF.column_1_xs.vDEF}</f:variable>
	<f:variable name="column_1_sm">{data.pi_flexform.data.columns.lDEF.column_1_sm.vDEF}</f:variable>
	<f:variable name="column_1_md">{data.pi_flexform.data.columns.lDEF.column_1_md.vDEF}</f:variable>
	<f:variable name="column_1_lg">{data.pi_flexform.data.columns.lDEF.column_1_lg.vDEF}</f:variable>
	<f:variable name="column_1_offset">{data.pi_flexform.data.columns.lDEF.column_1_offset.vDEF}</f:variable>
	<f:variable name="column_1_class">{data.pi_flexform.data.columns.lDEF.column_1_class.vDEF}</f:variable>

	<f:comment><!-- ### Content ### --></f:comment>
	<f:comment><!-- ### if container||columns is set add row start tag ### --></f:comment>
	<f:if condition="{container}">
		<f:then>
			<div class="row">
		</f:then>
		<f:else>
			<f:if condition="{column_1_sm}{column_1_md}{column_1_lg}">
				<div class="row">
			</f:if>
		</f:else>
	</f:if>

	<div class="col1 {column_1_xs} {column_1_sm} {column_1_md} {column_1_lg} {column_1_offset} {column_1_class} ">
			<f:render partial="RenederColumns" arguments="{children: children, col: 0}"/>
	</div>

	<f:comment><!-- ### if container||columns is set add row end tag ### --></f:comment>
	<f:if condition="{container}">
		<f:then>
			</div>
		</f:then>
		<f:else>
			<f:if condition="{column_1_sm}{column_1_md}{column_1_lg}">
				</div>
			</f:if>
		</f:else>
	</f:if>

</f:section>
