
<f:layout name="{f:if(condition: data.tx_gridelements_container, then: 'Empty', else: 'HeaderContentFooter')}" />


<f:section name="content">
	<div class="panel panel-default {layoutClass} {alignClass}">
		<div class="panel-heading" role="tab" id="heading-{data.uid}">
			<h4 class="panel-title">
				<a data-toggle="collapse" class="{f:if(condition: data.pi_flexform.data.columns.lDEF.expanded.vDEF, then: '', else: 'collapsed')}" data-parent="#group-{data.tx_gridelements_container}" href="#collapse-{data.uid}">{data.header}</a>
			</h4>
		</div>
		<div id="collapse-{data.uid}" class="panel-collapse collapse {f:if(condition: data.pi_flexform.data.columns.lDEF.expanded.vDEF, then: 'in', else: '')}" role="tabpanel">
			<div class="panel-body">
				<f:format.raw>{data.tx_gridelements_view_column_0}</f:format.raw>
			</div>
		</div>
	</div>

</f:section>
