<li class="main-navigation__item js__main-navigation__item uid-2 point-1 first">
    <a href="/" class="main-navigation__item-link js__main-navigation__item-link">Home</a>
</li>
<li class="main-navigation__item js__main-navigation__item _active _sub uid-21 point-2 middle">
    <a href="/content/" class="main-navigation__item-link js__main-navigation__item-link">Content</a>
    <div class="tablet-arrow">
        <a href="#" class="main-navigation__open-sub-menu-link js__main-navigation__open-sub-menu-link">Open</a>
    </div>
    <div class="main-navigation__sub-item-list">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <ul class="main-navigation__sub-item-column-list ">
                        <li class="main-navigation__sub-item uid-3 _active point-1 first">
                            <a href="/content/typical-page-content/headers/" class="main-navigation__sub-item-link _active _sub _sub-level-2">Typical page content</a>
                            <ul class="main-navigation__sub-item-column-list  _sub">
                                <li class="main-navigation__sub-item uid-15 _current point-1 first">
                                    <a href="/content/typical-page-content/headers/" class="main-navigation__sub-item-link _current _sub-level-3">Headers</a>
                                </li>
                                <li class="main-navigation__sub-item uid-16 point-2 middle">
                                    <a href="/content/typical-page-content/text-media/" class="main-navigation__sub-item-link _sub-level-3">Text &amp; Media</a>
                                </li>
                                <li class="main-navigation__sub-item uid-17 point-3 middle">
                                    <a href="/content/typical-page-content/bulletlist/" class="main-navigation__sub-item-link _sub-level-3">Bulletlist</a>
                                </li>
                                <li class="main-navigation__sub-item uid-14 point-4 middle">
                                    <a href="/content/typical-page-content/tables/" class="main-navigation__sub-item-link _sub-level-3">Tables</a>
                                </li>
                                <li class="main-navigation__sub-item uid-18 point-5 last">
                                    <a href="/content/typical-page-content/file-links/" class="main-navigation__sub-item-link _sub-level-3">File Links</a>
                                </li>
                            </ul>
                        </li>
                        <li class="main-navigation__sub-item uid-20 point-2 middle">
                            <a href="/content/special-elements/special-menus/" class="main-navigation__sub-item-link _sub _sub-level-2">Special Elements</a>
                            <ul class="main-navigation__sub-item-column-list  _sub">
                                <li class="main-navigation__sub-item uid-19 point-1 last">
                                    <a href="/content/special-elements/special-menus/" class="main-navigation__sub-item-link _sub-level-3">Special Menus</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <div class="col-md-3">
                    <ul class="main-navigation__sub-item-column-list ">
                        <li class="main-navigation__sub-item uid-24 point-4 middle">
                            <a href="/content/form-elements/login-form/" class="main-navigation__sub-item-link _sub _sub-level-2">Form Elements</a>
                            <ul class="main-navigation__sub-item-column-list  _sub">
                                <li class="main-navigation__sub-item uid-25 point-1 first">
                                    <a href="/content/form-elements/login-form/" class="main-navigation__sub-item-link _sub-level-3">Login form</a>
                                </li>
                                <li class="main-navigation__sub-item uid-27 point-2 last">
                                    <a href="/content/form-elements/mail-form/" class="main-navigation__sub-item-link _sub-level-3">Mail form</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <div class="col-md-3">
                    <ul class="main-navigation__sub-item-column-list ">
                        <li class="main-navigation__sub-item uid-5 point-6 middle">
                            <a href="/content/plugins/" class="main-navigation__sub-item-link _sub _sub-level-2">Plugins</a>
                            <ul class="main-navigation__sub-item-column-list  _sub">
                                <li class="main-navigation__sub-item uid-43 point-1 first">
                                    <a href="/content/plugins/news/" class="main-navigation__sub-item-link _sub _sub-level-3">News</a>
                                </li>
                                <li class="main-navigation__sub-item uid-69 point-2 middle">
                                    <a href="/content/plugins/google-map/" class="main-navigation__sub-item-link _sub-level-3">Google Map</a>
                                </li>
                                <li class="main-navigation__sub-item uid-71 point-3 last">
                                    <a href="/content/plugins/solr/" class="main-navigation__sub-item-link _sub-level-3">Solr</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <div class="col-md-3">
                    <ul class="main-navigation__sub-item-column-list ">
                        <li class="main-navigation__sub-item uid-4 point-8 last">
                            <a href="/content/content-elements/accordion/" class="main-navigation__sub-item-link _sub _sub-level-2">Content Elements</a>
                            <ul class="main-navigation__sub-item-column-list  _sub">
                                <li class="main-navigation__sub-item uid-32 point-1 first">
                                    <a href="/content/content-elements/accordion/" class="main-navigation__sub-item-link _sub-level-3">Accordion</a>
                                </li>
                                <li class="main-navigation__sub-item uid-13 point-2 middle">
                                    <a href="/content/content-elements/bigicontextbutton/" class="main-navigation__sub-item-link _sub-level-3">BigIconTextButton</a>
                                </li>
                                <li class="main-navigation__sub-item uid-28 point-3 middle">
                                    <a href="/content/content-elements/icontextbutton/" class="main-navigation__sub-item-link _sub-level-3">IconTextButton</a>
                                </li>
                                <li class="main-navigation__sub-item uid-29 point-4 middle">
                                    <a href="/content/content-elements/imagetextlink/" class="main-navigation__sub-item-link _sub-level-3">ImageTextLink</a>
                                </li>
                                <li class="main-navigation__sub-item uid-30 point-5 middle">
                                    <a href="/content/content-elements/logocarousel/" class="main-navigation__sub-item-link _sub-level-3">LogoCarousel</a>
                                </li>
                                <li class="main-navigation__sub-item uid-12 point-6 middle">
                                    <a href="/content/content-elements/quote/" class="main-navigation__sub-item-link _sub-level-3">Quote</a>
                                </li>
                                <li class="main-navigation__sub-item uid-10 point-7 middle">
                                    <a href="/content/content-elements/slider/" class="main-navigation__sub-item-link _sub-level-3">Slider</a>
                                </li>
                                <li class="main-navigation__sub-item uid-31 point-8 middle">
                                    <a href="/content/content-elements/tabs/" class="main-navigation__sub-item-link _sub-level-3">Tabs</a>
                                </li>
                                <li class="main-navigation__sub-item uid-98 point-9 middle">
                                    <a href="/content/content-elements/slidercontainer/" class="main-navigation__sub-item-link _sub-level-3">Slider Container</a>
                                </li>
                                <li class="main-navigation__sub-item uid-96 point-10 middle">
                                    <a href="/content/content-elements/simpleaccordion/" class="main-navigation__sub-item-link _sub-level-3">Simple Accordion</a>
                                </li>
                                <li class="main-navigation__sub-item uid-79 point-11 middle">
                                    <a href="/content/content-elements/fullwidthimage/" class="main-navigation__sub-item-link _sub-level-3">FullWidthImage</a>
                                </li>
                                <li class="main-navigation__sub-item uid-80 point-12 middle">
                                    <a href="/content/content-elements/responsivevideo/" class="main-navigation__sub-item-link _sub-level-3">ResponsiveVideo</a>
                                </li>
                                <li class="main-navigation__sub-item uid-97 point-13 last">
                                    <a href="/content/content-elements/navigation-level-3/" class="main-navigation__sub-item-link _sub _sub-level-3">Navigation Level 3</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</li>
<li class="main-navigation__item js__main-navigation__item _sub uid-45 point-3 middle">
    <a href="/community/t3kit-on-github/" class="main-navigation__item-link js__main-navigation__item-link ">Community</a>
    <div class="tablet-arrow">
        <a href="#" class="main-navigation__open-sub-menu-link js__main-navigation__open-sub-menu-link">Open</a>
    </div>
    <div class="main-navigation__sub-item-list">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <ul class="main-navigation__sub-item-column-list ">
                        <li class="main-navigation__sub-item uid-46 point-1 last">
                            <a href="https://github.com/t3kit" class="main-navigation__sub-item-link _sub-level-2">t3kit on Github</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</li>
<li class="main-navigation__item js__main-navigation__item _sub uid-47 point-4 middle">
    <a href="/documentation/" class="main-navigation__item-link js__main-navigation__item-link">Documentation</a>
    <div class="tablet-arrow">
        <a href="#" class="main-navigation__open-sub-menu-link js__main-navigation__open-sub-menu-link">Open</a>
    </div>
    <div class="main-navigation__sub-item-list">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <ul class="main-navigation__sub-item-column-list ">
                        <li class="main-navigation__sub-item uid-73 point-1 last">
                            <a href="/documentation/content-elements/" class="main-navigation__sub-item-link _sub _sub-level-2">Content Elements</a>
                            <ul class="main-navigation__sub-item-column-list  _sub">
                                <li class="main-navigation__sub-item uid-72 point-1 last">
                                    <a href="/documentation/content-elements/wrapper/" class="main-navigation__sub-item-link _sub-level-3">Wrapper</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</li>
<li class="main-navigation__item js__main-navigation__item uid-48 point-5 middle">
    <a href="http://demo.t3kit.com" class="main-navigation__item-link js__main-navigation__item-link">Demo</a>
</li>
<li class="main-navigation__item js__main-navigation__item uid-59 point-6 last">
    <a href="http://t3kit.github.io/theme_t3kit_customizer" class="main-navigation__item-link js__main-navigation__item-link">Customizer</a>
</li>
