{namespace theme=KayStrobach\Themes\ViewHelpers}
<div xmlns="http://www.w3.org/1999/xhtml" lang="en"
     xmlns:f="http://typo3.org/ns/fluid/ViewHelpers">
	<f:section name="Default">
	<!-- theme_t3kit: Partials/Content/Breadcrumbs.html [begin] -->

	<f:if condition="{theme:constant(constant:'themes.configuration.menu.breadcrumb.showBreadcrumbs')}">
		<f:if condition="{theme:constant(constant:'themes.configuration.menu.breadcrumb.hideBreadcrumbsInMobile')}">
			<div class="hidden-sm hidden-xs">
		</f:if>

		<f:cObject typoscriptObjectPath="lib.menu.breadcrumb"/>

		<f:if condition="{theme:constant(constant:'themes.configuration.menu.breadcrumb.hideBreadcrumbsInMobile')}">
			</div>
		</f:if>
	</f:if>

	<!-- theme_t3kit: Partials/Content/Breadcrumbs.html [end] -->
	</f:section>
</div>
